<div class="addTicketPage">
    <div class="container">
        <div class="row">
            <h1 class="mb-3 col-auto mr-auto exTitle">New Ticket</h1>

        </div>
        <div>
            <form class="row my-3">
                <div class="form-group col-md-6">
                    <label for="FormControlInput1">Your Name</label>
                    <input type="text" class="form-control " id="FormControlInput1" placeholder="First and last name">

                </div>
                <div class="form-group  col-md-6">
                    <label for="FormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="FormControlInput1" placeholder="name@.com">
                </div>
                <div class="form-group col-md-12">
                    <label for="FormControlInput2">Title</label>
                    <input type="text" class="form-control" id="FormControlInput1" placeholder="Subject of you issue">
                </div>
                <div class="form-group col-md-12">
                    <label for="FormControlSelect1">Ticket Type</label>
                    <select class="form-control" id="FormControlSelect1">
                        <option>Bug</option>
                        <option>Advice</option>
                        <option>Improvement</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="FormControlTextarea1"> Detail</label>
                    <textarea class="form-control" id="FormControlTextarea1" rows="3"
                        placeholder="Detailed information"></textarea>
                </div>
                <div class="form-group col-md-12 ">
                    <label for="exampleFormControlFile1">File input</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>

                <div class="addTicket col-auto"><a href=""><button class=" exbtn">CREATE TICKET</button></a></div>
            </form>
        </div>
    </div>
</div>