<mat-card style="padding: 10px; overflow-y: auto;" class="mat-elevation-z6">
    <h3 style="text-align: center;">{{"Latest Blocks"|translate}}</h3>

    <div style="display: flex; justify-content: space-between;">
        <span style="line-height: 2em; margin: 10px;">
        <mat-slide-toggle (change)="test($event)">{{"Show Blocks with Transactions"|translate}}</mat-slide-toggle>
    </span>

        <span>
        <button style="margin:10px;" mat-raised-button color="accent" (click)="leftClicked()">&lt;</button>
        <button style="margin:10px;" mat-raised-button color="accent" (click)="rightClicked()">&gt;</button>
    </span>
    </div>
    <table mat-table [dataSource]="blocks" style=" width: 100%; text-align: center;" class="exg-bg graycolor">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{"Block Number"|translate}} </th>
            <td mat-cell *matCellDef="let element">
                <a mat-button color="primary" [routerLink]="[ './block-detail', element.number ]"> {{element.number}} </a></td>
        </ng-container>

        <ng-container matColumnDef="Mined On">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{"Mined On"|translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.timestamp*1000 | date : 'EEEE, MMMM dd, yyyy'}} <br> {{element.timestamp*1000 | date : 'h:mm:ss a'}} </td>
        </ng-container>

        <ng-container matColumnDef="Block Info">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{"Block Info"|translate}} </th>
            <td mat-cell *matCellDef="let element">

                <div *ngIf="element.totalTransactions > 0">
                    {{"Total Transactions"|translate}} : {{element.totalTransactions}}<br>
                </div>
                <div *ngIf="element.totalOrders > 0">
                    {{"Total Orders"|translate}} : {{element.totalOrders}}<br>
                </div>
                <div *ngIf="element.totalTrades > 0">
                    {{"Total Trades"|translate}} : {{element.totalTrades}}<br>
                </div>
                <div *ngIf="element.totalDepositRequests > 0">
                    {{"Total Deposits"|translate}} : {{element.totalDepositRequests}}<br>
                </div>
                <div *ngIf="element.totalWithdrawRequests > 0">
                    {{"Total Withdraw Requests"|translate}} : {{element.totalWithdrawRequests}}<br>
                </div>
                <div>
                    {{"Size"|translate}} : {{element.size}}
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="!blocks">
        <h3>{{"Fetching latest blocks"|translate}}</h3>
    </div>
</mat-card>