
<div class="d-flex justify-content-center main-container ">
    <table>
        <tr>
            <td class="text-right">
                {{'Smart contract address' | translate}}: 
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'Smart contract address'|translate}}" [(ngModel)]="tokenId">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                {{'Project name' | translate}}: 
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'Projectname$'|translate}}" [(ngModel)]="name">
                  </mat-form-field>
            </td>
        </tr>  

        <tr>
            <td class="text-right">
                {{'Logo' | translate}}: 
            </td>
            <td>
                <app-file-upload [(ngModel)]="file"></app-file-upload>
            </td>            
        </tr>
    </table>
</div>
<div class="main-container text-center py-3">
    <button class="btn btn-gradient text-white py-2 px-4 mx-3 btn-lg-fixed-width" (click)="confirm()"> {{'Confirm' | translate }} </button>
</div>

<pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>
<!--
<div class="container-fluid">
    <table>
        <tr>
            <td class="text-right">
                {{'Token type' | translate}}: 
            </td>
            <td>
                {{'FRC20 token' | translate}}
                
            </td>
        </tr>
    </table>
    <div class="container">
        <div class="row">
            <div class="col col-md-4 col-12">
                {{'Smart contract address' | translate}}: 
            </div>
            <div class="col col-md-4 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'Smart contract address'|translate}}" [(ngModel)]="address">
                </mat-form-field>
            </div>
            <div class="col col-md-4 col-12">
                Search
            </div>
        </div>
    </div>
</div>
-->