
.main-container {
    padding: 30px;
    background-color: white;
}

a {
    color: #0056b3;
}

a:hover {
    color: blue;
}

table {
    border-collapse:separate; 
    border-spacing: 0 0.5em;
  }

.example-full-width {
    width: 400px;
}