<div>
    <div>
        <div class="topImage ">
            <!-- <div class="topInfo">
                <div>
                    10 MILLION EQUITY TOKEN
                </div>
                <div>GIVE AWAY</div>
            </div> -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="eight-banner-content">
                            <div class="banner-content-box appeight-headline pera-content">
                                <h1 class="cd-headline clip is-full-width">
                                    {{'eXchangily Mobile APP' | translate}}
                                </h1>
                                <p>{{'download app txt' | translate}}</p>
                                <!-- <div class="ei-banner-btn">
                                    <a href="#"><i aria-hidden="true" class="fas fa-power-off"></i>Start Now and use it
                                        for free</a>
                                </div> -->
                                <div class="row center dbtns">
                                    <div class="store-link-box">
                                        <a href="https://apps.apple.com/ca/app/exchangily-dex-wallet/id1503068552?mt=8">
                                            <img alt='Get it on Google Play' src='/images/img/app-store-logo.gif'
                                                width="155px">
                                        </a>
                                        <!-- <img src="images/qrcode/exg-ios.svg" width="134px"> -->
                                    </div>

                                    <div class="store-link-box">
                                        <a href='https://play.google.com/store/apps/details?id=com.exchangily.wallet'
                                            target="_blank">
                                            <img alt='Get it on Google Play' src='/images/img/google-play-logo.gif'
                                                width="155px">
                                        </a>
                                        <!-- <img class="ml-2" style="margin-top: -4px" src="images/qrcode/exg-android.svg"
                                            width="134px"> -->
                                    </div>
                                    <div class="store-link-box">
                                        <a href='/download/latest.apk'
                                            target="_blank">
                                            <div class="downloadAndroid">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24"
                                                    width="24">
                                                    <g>
                                                        <rect fill="none" height="24" width="24" />
                                                        <path fill="#fff"
                                                            d="M17.6,9.48l1.84-3.18c0.16-0.31,0.04-0.69-0.26-0.85c-0.29-0.15-0.65-0.06-0.83,0.22l-1.88,3.24 c-2.86-1.21-6.08-1.21-8.94,0L5.65,5.67c-0.19-0.29-0.58-0.38-0.87-0.2C4.5,5.65,4.41,6.01,4.56,6.3L6.4,9.48 C3.3,11.25,1.28,14.44,1,18h22C22.72,14.44,20.7,11.25,17.6,9.48z M7,15.25c-0.69,0-1.25-0.56-1.25-1.25 c0-0.69,0.56-1.25,1.25-1.25S8.25,13.31,8.25,14C8.25,14.69,7.69,15.25,7,15.25z M17,15.25c-0.69,0-1.25-0.56-1.25-1.25 c0-0.69,0.56-1.25,1.25-1.25s1.25,0.56,1.25,1.25C18.25,14.69,17.69,15.25,17,15.25z" />
                                                    </g>
                                                </svg>
                                                <div class="downloadText">
                                                    <div>{{'download' | translate}}</div> {{'Android Now' | translate}}
                                                </div>
                                            </div>
                                        </a>
                                        <!-- <img class="ml-2" style="margin-top: -4px" src="images/qrcode/exg-android.svg"
                                            width="134px"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="ei-banner-mbl-mockup wow fadeInRight" data-wow-delay="600ms"
                                data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms;">
                                <img src="/images/img/app-in-iphone.gif" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="waveWrapper waveAnimation">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('/images/img/wave-01.png')">
                    </div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('/images/img/wave-01.png')">
                    </div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('/images/img/wave-01.png')">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!showHeadOnly" class="container app-feature">
            <div class="section-heading section-heading--center">
                <h2 class="title h1">{{'Features' | translate}}</h2>
                <p>{{'app feature intro' | translate}}</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-push-3">
                    <div class="col-md-MB-30  mainImage"><img class="img-responsive center-block"
                            src="./images/img/appphone.gif" alt="demo">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="list-with-icon list-with-icon--style-1">
                        <div class="list__inner">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-pull-12">
                                    <div class="list__item">
                                        <img class="list__item__ico img-responsive"
                                            src="/images/icons/performance.svg"
                                            alt="img-icon">
                                        <h3 class="list__item__title">{{'Performance' | translate}}</h3>
                                        <p>{{'Performance intro' | translate}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="list__item">
                                        <img class="list__item__ico img-responsive"
                                            src="/images/icons/decentralized.svg"
                                            alt="img-icon">
                                        <h3 class="list__item__title">{{'Decentralized' | translate}}</h3>
                                        <p>{{'Decentra intro' | translate}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-pull-12">
                                    <div class="list__item">
                                        <img class="list__item__ico img-responsive"
                                            src="/images/icons/time.svg"
                                            alt="img-icon">
                                        <h3 class="list__item__title">{{'Faster' | translate}}</h3>
                                        <p>{{'Faster intro' | translate}}</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="list__item"><img class="list__item__ico img-responsive"
                                            src="/images/icons/money.svg"
                                            alt="img-icon">
                                        <h3 class="list__item__title">{{'Cheaper' | translate}}</h3>
                                        <p>{{'Cheaper intro' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-pull-12">
                                    <div class="list__item"><img class="list__item__ico img-responsive"
                                            src="/images/icons/shield.svg"
                                            alt="img-icon">
                                        <h3 class="list__item__title">{{'Safer' | translate}}</h3>
                                        <p>{{'Safer intro' | translate}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="list__item"><img class="list__item__ico img-responsive"
                                            src="/images/icons/click.svg"
                                            alt="img-icon">
                                        <h3 class="list__item__title">{{'Easy to Use' | translate}}</h3>
                                        <p>{{'Easy to Use intro' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!showHeadOnly" class="container-fluid">
            <div class="gallery">
                <div class="row matchHeight-container">
                    <div class="col-xs-12 col-sm-6 col-sm-push-6">
                        <div class="gallery__item gallery__item--text matchHeight-item">
                            <div class="v-align">
                                <div>
                                    <div class="section-heading section-heading--left">
                                        <h3 class="title h1">{{'Better Decentralized Exchange App' | translate}}</h3>
                                        <p>{{'Better intro' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                        <div class="gallery__item gallery__item--image matchHeight-item"
                            style="background-image: url(&quot;./images/img/PhoneInHand.jpg&quot;); height: 500px;">
                        </div>
                    </div>
                </div>
                <div class="row matchHeight-container">
                    <div class="col-xs-12 col-sm-6">
                        <div class="gallery__item gallery__item--text matchHeight-item">
                            <div class="v-align">
                                <div>
                                    <div class="section-heading section-heading--left">
                                        <h3 class="title h1">{{'Enjoy Fast Trading Everywhere' | translate}}</h3>
                                        <p>{{'Enjoy intro' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="gallery__item gallery__item--image matchHeight-item"
                            style="background-image: url(&quot;./images/img/PhoneInHand2.jpg&quot;); height: 500px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>