$pink: #c12dd1;
$blue: #6d8cf8;
// $pink: #FC5C7D;
// $blue: #6A82FB;
// $pink:#ffc0cb;
// $blue:#800080;

:host {
    $easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    color: #f3f3f3;
    .topImage {
        background: #888;
        height: calc(100vh - 156px);
        color: #fff;
        background: $blue;
        background: -webkit-linear-gradient(to right, $pink, $blue);
        background: -webkit-gradient(linear, left top, right top, from($pink), to($blue));
        background: -webkit-linear-gradient(left, $pink, $blue);
        background: -o-linear-gradient(left, $pink, $blue);
        background: linear-gradient(to right, $pink, $blue);

        // background-image: linear-gradient(90deg,#fbc879,#eb7f75,#a26aa7,#695aad,#3e51b0);

        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 100% 100%;
        text-align: center;
        margin: 0 auto;

        .topInfo {
            padding-top: 120px;
            font-size: 60px;
            font-weight: 900;
            animation: neonGlow 2s infinite alternate $easeInOutQuad;
        }

        @keyframes neonGlow {
            0% {
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5),
                    0 0 22px rgba(255, 255, 255, 0.5), 0 0 40px rgba(66, 66, 219, 0.3), 0 0 60px rgba(66, 66, 219, 0.3),
                    0 0 80px rgba(66, 66, 219, 0.3), 0 0 100px rgba(66, 66, 219, 0.3);
            }
            100% {
                text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8),
                    0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(66, 66, 219, 0.8), 0 0 30px rgba(66, 66, 219, 0.5),
                    0 0 40px rgba(66, 66, 219, 0.5);
            }
        }

        .topButtons {
            // display: inline;
            text-decoration: none;
            padding-top: 30px;
        }

        a.topBtn {
            margin: 0 10px;
        }

        .topBtn button {
            height: 40px !important;
            line-height: 40px !important;
            font-size: 16px;
            background: linear-gradient(to right, #cd45ff 0%, #7368ff 50%, #cd45ff 100%);
            // background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
            max-width: 300px;
            width: 200px;
            border: 0 !important;
            border-radius: 50px;
            color: #fff;
            font-weight: 900;
            text-transform: uppercase;
            transition: all 450ms ease-in-out;
            background-size: 200%;
        }

        .topBtn button:hover {
            background-position: -100%;
            // margin-top: -10px;
            // font-size: 18px;
        }

        .eight-banner-content {
            overflow: visible !important;
            background: $blue;
            background: -webkit-linear-gradient(right, $pink, $blue);
            // background-image: linear-gradient(-90deg,#fbc879,#eb7f75,#a26aa7,#695aad,#3e51b0);
            padding: 160px 0px 160px;
            margin-top: 100px;
        }

        .banner-content-box {
            position: relative;
            z-index: 999;
        }

        .eight-banner-content .banner-content-box {
            max-width: 650px;
        }

        .eight-banner-content .ei-banner-mbl-mockup {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 999;
            margin-top: 20px;
            right: -20px;
        }

        .dbtns {
            display: inline-flex;
        }

        .store-link-box {
            // display: inline-block;
            padding: 10px;
            // width: 200px;
            cursor: pointer;
        }

        .store-link-box a:hover {
            text-decoration: none !important;
            color: #fff !important;
        }
        .downloadAndroid {
            font-size: 14px;
            background: #232323;
            border-radius: 7px;
            width: 155px;
            height: 46px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                left: 10px;
                position: relative;
            }

            .andoridIcon {
                // padding-top: 8px;
            }

            .downloadText {
                width: 100%;
            }

            .downloadText > div {
                font-size: 12px;
            }
        }

        .waveWrapper {
            overflow: hidden;
            position: static;
            bottom: 0;
            z-index: 0;
            // height: 300px;
            width: 100vw;
            margin: auto;
        }

        .waveWrapperInner {
            position: absolute;
            width: 100%;
            overflow: hidden;
            height: 300px;
            // margin-top: -100px;
            bottom: -1px;
            // background: $blue;
            // background: -webkit-linear-gradient(to right, $pink, $blue);
            // background: -webkit-gradient(linear, left top, right top, from($pink), to($blue));
            // background: -webkit-linear-gradient(left, $pink, $blue);
            // background: -o-linear-gradient(left, $pink, $blue);
            // background: linear-gradient(to right, $pink, $blue);
        }

        .bgTop {
            z-index: 15;
            opacity: 0.5;
        }

        .bgMiddle {
            z-index: 10;
            opacity: 0.75;
        }

        .bgBottom {
            z-index: 5;
        }

        .wave {
            position: absolute;
            left: 0;
            width: 200%;
            height: 100%;
            background-repeat: repeat no-repeat;
            background-position: 0 bottom;
            -webkit-transform-origin: center bottom;
            -ms-transform-origin: center bottom;
            transform-origin: center bottom;
        }

        .waveTop {
            background-size: 50% 100px;
        }

        .waveMiddle {
            background-size: 50% 120px;
        }

        .waveBottom {
            background-size: 50% 100px;
        }

        .waveAnimation .waveMiddle {
            -webkit-animation: move_wave 10s linear infinite;
            animation: move_wave 10s linear infinite;
        }

        .waveAnimation .waveBottom {
            -webkit-animation: move_wave 15s linear infinite;
            animation: move_wave 15s linear infinite;
        }

        @-webkit-keyframes move_wave {
            0% {
                -webkit-transform: translateX(0) translateZ(0) scaleY(1);
                transform: translateX(0) translateZ(0) scaleY(1);
            }
            50% {
                -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
                transform: translateX(-25%) translateZ(0) scaleY(0.55);
            }
            100% {
                -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
                transform: translateX(-50%) translateZ(0) scaleY(1);
            }
        }

        @keyframes move_wave {
            0% {
                -webkit-transform: translateX(0) translateZ(0) scaleY(1);
                transform: translateX(0) translateZ(0) scaleY(1);
            }
            50% {
                -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
                transform: translateX(-25%) translateZ(0) scaleY(0.55);
            }
            100% {
                -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
                transform: translateX(-50%) translateZ(0) scaleY(1);
            }
        }
    }

    @media (max-width: 1199px) and (min-width: 992px) {
        .topImage {
            overflow: hidden;

            .eight-banner-content .ei-banner-mbl-mockup {
                right: -220px;
            }
        }
    }

    @media (max-width: 991px) {
        .topImage {
            height: calc(100vh - 60px);

            .eight-banner-content .ei-banner-mbl-mockup {
                display: none;
            }

            .eight-banner-content .banner-content-box {
                max-width: unset;
                // padding: 0 10px ;
            }
        }
    }

    @media (max-width: 570px) {
        .topImage {
            height: auto;
            .dbtns {
                display: inline-block;
            }

            .waveTop {
                background-size: 50% 30px;
            }

            .waveMiddle {
                background-size: 50% 40px;
            }

            .waveBottom {
                background-size: 50% 33px;
            }

            .waveWrapper {
                display: none;
            }

            .eight-banner-content {
                padding: 60px 0px 60px;
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }

    .app-feature {
        padding-bottom: 100px;
        padding-top: 100px;

        .section-heading--center {
            text-align: center;
        }

        .col-md-push-3 {
            left: 25%;
        }

        .col-md-pull-12 {
            right: 100%;
        }

        .list__item p {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .list__item__title {
            font-size: 20px;
        }

        .list-with-icon--style-1 .list__item__ico {
            height: 49px;
            line-height: 49px;
            margin-bottom: 15px;
        }
        .list-with-icon--style-1 .col-md-pull-6 .list__item,
        .list-with-icon--style-1 .col-md-pull-12 .list__item {
            text-align: right;
        }

        .section-heading {
            font-weight: 400;
            max-width: 600px;
            padding-top: 95px;
            margin: 0 auto 65px auto;
            z-index: auto;
        }

        p {
            margin-top: 25px;
            color: #ddd;
        }

        .mainImage {
            text-align: center;
        }

        @media only screen and (min-width: 768px) {
            .list-with-icon--style-1 .col-md-pull-6 .list__item,
            .list-with-icon--style-1 .col-md-pull-12 .list__item {
                text-align: right;
            }
        }

        @media screen and (max-width: 767px) {
            .col-md-push-3 {
                left: auto;

                img {
                    width: 280px;
                }
            }

            .col-md-pull-12 {
                right: auto;
            }

            .list-with-icon--style-1 .col-xs-12.col-sm-6 .list__item {
                text-align: center !important;
            }
        }
    }

    .gallery {
        .gallery__item--image {
            margin: 0 -15px;
            min-height: 300px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .gallery__item--text {
            margin: 0 auto;
        }

        .section-heading.section-heading--left {
            margin-left: 0;
            margin-right: auto;
        }

        @media (min-width: 768px) {
            .col-sm-push-6 {
                left: 50%;
            }

            .col-sm-pull-6 {
                right: 50%;
            }
        }

        @media only screen and (min-width: 992px) {
            .row:nth-of-type(2n + 1) .gallery__item--text {
                padding-left: 50px;
            }
        }
        @media only screen and (min-width: 768px) {
            .row:nth-of-type(2n + 1) .gallery__item--text {
                padding-left: 30px;
            }
        }
        .row:nth-of-type(2n + 1) .gallery__item--text {
            margin-right: auto;
        }
        @media only screen and (min-width: 992px) {
            .gallery__item--text {
                max-width: 455px;
            }
        }

        @media only screen and (min-width: 768px) {
            .gallery__item--text {
                max-width: 345px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }

        @media only screen and (min-width: 576px) {
            .gallery__item--text {
                height: 500px;
            }
        }

        @media only screen and (max-width: 575px) {
            .gallery__item--text {
                max-width: 345px;
                padding-top: 30px;
                padding-bottom: 10px;
                height: auto;
            }
        }

        .gallery__item--text {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .v-align:before {
            content: "";
            margin-left: -4px;
        }

        .v-align:before {
            vertical-align: middle;
        }
    }
}
