.mainpane {
    padding: 1em 1em 1em 2em;
    margin-top: 2em;
    color: white;
    font-weight: 100;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.namefield {
    width: 138px;
    font-weight: 400;
    margin-top: 0.3em;
}

.desc {
    margin-top: 2em;
}