<div class="mainpane" [style.width.px]="width">
    <div class="title">
        <h4>{{coin.symbol}}({{coin.name}})</h4>
    </div>

    <div class="row">
        <div class="namefield">Issue date</div>
        <div calss="valuefield">{{coin.issueTime}}</div>
    </div>

    <div class="row">
        <div class="namefield">Total supply</div>
        <div calss="valuefield">{{coin.totalsupply}}</div>
    </div>

    <div class="row">
        <div class="namefield">Circulation</div>
        <div calss="valuefield">{{coin.circulation}}</div>
    </div>

    <div class="row">
        <div class="namefield">Website</div>
        <div calss="valuefield">{{coin.website}}</div>
    </div>

    <div class="row">
        <div class="namefield">Whitepaper</div>
        <div calss="valuefield">{{coin.whitepaper}}</div>
    </div>

    <div class="row">
        <div class="namefield">Block explorer</div>
        <div calss="valuefield">{{coin.explorer}}</div>
    </div>

    <div class="row desc">
        <p><b>Project description:</b></p>
        <p>{{coin.introduction}}</p>
    </div>

</div>