.mainpane {
    width: 1120px;
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 6em;
    font-size: small;
}

.item {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.item:hover {
    background-color: rgb(104, 180, 206);
    color: white;
}

.selected {
    background-color: rgb(104, 180, 206);
    color: white;
}

.coinlist {
    display: inline;
    width: 25%;
}

.coininfo {
    display: inline;
    width: 74%;
}