<div class="main-container">

    <h3>{{'Listing on Exchangily' | translate}}</h3>
    <p>
        {{'Listing overview' | translate}}
    </p>
    <h4>{{'Reasons to list on eXchangily DEX' | translate}}</h4>
    <ul>
        <li>
            {{'Listing reason1' | translate}}
        </li>
        <li>
            {{'Listing reason2' | translate}}
        </li>
        <li>
            {{'Listing reason3' | translate}}
        </li>
    </ul>
    <h4>{{'To get started' | translate}}:</h4>
    {{lang}}
    <p>
        <a *ngIf="lang=='en'" href="https://docs.google.com/forms/d/e/1FAIpQLScgvCFVw27YqZdUSLKhyHDjyI4HsJpZ1-x4a1lUloQNoUgvHA/viewform" target="_blank" rel="noopener">
            https://docs.google.com/forms/d/e/1FAIpQLScgvCFVw27YqZdUSLKhyHDjyI4HsJpZ1-x4a1lUloQNoUgvHA/viewform
        </a>
        <a *ngIf="lang!='en'" href="https://docs.google.com/forms/d/e/1FAIpQLSfsWzu5e7L9gfq1ulzh58Izg5y6obMYqXSYGXI33L6p1VA63w/viewform" target="_blank" rel="noopener">
            https://docs.google.com/forms/d/e/1FAIpQLSfsWzu5e7L9gfq1ulzh58Izg5y6obMYqXSYGXI33L6p1VA63w/viewform
        </a>
    </p>
</div>