@import 'colours';

.max-out {
  margin-top: 2em;
  margin-bottom: 3em;
}

.order-details {
  background-color: $white;
  margin-top: -5em;

  &__header {
    color: white;
    padding: .35em 2em;
  }

  &__content {
    background-color: white;
    padding: 1em 2em;
    width: calc(100% - 4em);
  }

  &__status {
    margin-top: 0;
    text-transform: capitalize;

    select {
      text-transform: capitalize;
    }
  }

  &__guts {
    overflow-y: scroll !important;
  }

  &__payment {
    margin-top: 3em;
  }

  &__date-created {
    font-size: .85em;
    margin: 0;
  }

  &__amounts {
    p {
      margin: 0;
    }
  }

  &__bank {
    padding-left: 1em;
  }

  &__buttons {
    margin-top: 1.5em;
  }

  textarea {
    width: 100%;
  }
}
