<div class="container market-top">
    <div class="row">
        <div class="col col-3 top-border-right">
            <app-market-top-block>

            </app-market-top-block>
        </div>
        <div class="col col-3 top-border-right">
            <app-market-top-block>

            </app-market-top-block>
        </div>
        <div class="col col-3 top-border-right">
            <app-market-top-block>

            </app-market-top-block>
        </div>
        <div class="col col-3">
            <app-market-top-block>

            </app-market-top-block>
        </div>
    </div>

</div>