<div class="container market-top">
    <div class="row">
        <div class="col col-md-3 col-sm-6 col-xs-6 top-border-right">
            <app-market-top-block #marketTopBlock1 [pair]="'BTC/USDT'">

            </app-market-top-block>
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-6 top-border-right">
            <app-market-top-block #marketTopBlock2 [pair]="'FAB/USDT'">

            </app-market-top-block>
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-6 top-border-right">
            <app-market-top-block #marketTopBlock3 [pair]="'ETH/BTC'">

            </app-market-top-block>
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-6">
            <app-market-top-block #marketTopBlock4 [pair]="'EXG/FAB'">

            </app-market-top-block>
        </div>
    </div>

</div>