<header class="app__header">
  <div  fxLayout="row wrap" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutGap="2em">
      <div class="app__header__logo" fxFlex="13em">
        <img src="./images/logos/exchangily_purple.png" alt="Exchangily">
      </div>

      <ul class="app__header__list">
        <li class="app__header__link">
          <a routerLink="['']">{{ 'Header.Navigation.Home' | translate }}</a>
        </li>
      </ul>

      <ul class="app__header__list">
        <li class="app__header__link">
          <a href="https://medium.com/exchangily-blog" target="_blank">{{ 'Header.Navigation.Blog' | translate }}</a>
        </li>
      </ul>
    </div>

    <nav fxLayout="row wrap" class="app__header__nav">
      <ul class="app__header__list" fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="start center">

        <li class="app__header__lang"><app-dropdown [items]="languages" [title]="currentLang" (Select)="langToggle($event)"></app-dropdown></li>

        <ng-container *ngIf="!loggedIn">
          <li class="app__header__link">
            <a [routerLink]="['login/signin']">{{ 'Header.Navigation.Signin' | translate }}</a>
          </li>

          <li class="app__header__link">
            <a [routerLink]="['login/signup']">{{ 'Header.Navigation.Signup' | translate }}</a>
          </li>
        </ng-container>

        <ng-container *ngIf="loggedIn">
          <li class="app__header__lang">
            <app-dropdown (Select)="selectorNavTo($event)" title="{{ userName }}" [items]="accountDropDown"></app-dropdown> 
          </li>
          <li class="app__header__lang">
            <a class="pointer" routerLinkActive="color-black bold" (click)="logout()">{{ 'Header.Navigation.Signout' | translate }}</a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</header>
