@import 'colours';

.app__header {
  min-height: 2em;
  padding: 1em;

  &__list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  &__logo {
    height: 100%;
    img {
      height: 100%;
      max-height: 2em;
    }
  }

  &__nav {
    margin: 0;
    padding: 0;

    ul {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__lang { 
    padding-top: .6em;
  }

  &__link {
    height: 1em;
    margin-top: 1em;
  }
}
