<div id="add-assets-modal" bsModal #addAssetsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="addAssetsForm" (ngSubmit)="onSubmit()">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 text-dark">{{"Add Assets"|translate}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <mat-tab-group [(selectedIndex)]="selectedIndex">
                        <mat-tab label="{{'FAB'|translate}}">
                            <div class="form-group pt-2">
                                <label for="inputSendTo" class="text-muted">{{"Private Key"|translate}}</label>
                                <input type="text" class="form-control" id="fabPrivateKey" formControlName="fabPrivateKey" aria-describedby="fabContractAddress" placeholder="">
                            </div>
                        </mat-tab>
                        <!--
                        <mat-tab label="{{'FAB tokens'|translate}}">
                            <mat-selection-list #fabtokens (selectionChange)="onFabSelection($event, fabtokens.selectedOptions.selected)">
                                <mat-list-option *ngFor="let token of fabTokens; let i = index" [value]="i+1">

                                    {{token.name}}

                                </mat-list-option>
                                <mat-list-option value="0">
                                    {{"Custom"| translate}}
                                </mat-list-option>
                            </mat-selection-list>

                            <div *ngIf="showFabCustom">
                                <div class="form-group">
                                    <label for="inputSendTo" class="text-muted">{{"Contract Address"|translate}}</label>
                                    <input type="text" class="form-control" id="inputFabContractAddress" formControlName="fabContractAddress" aria-describedby="fabContractAddress" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="inputSendTo" class="text-muted">{{"Token Name"|translate}}</label>
                                    <input type="text" class="form-control" id="inputEthContractAddress" formControlName="ethContractAddress" aria-describedby="ethContractAddress" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="inputSendTo" class="text-muted">{{"Token Symbol"|translate}}</label>
                                    <input type="text" class="form-control" id="inputEthContractAddress" formControlName="ethContractAddress" aria-describedby="ethContractAddress" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="inputSendTo" class="text-muted">{{"Token Decimals"|translate}}</label>
                                    <input type="text" class="form-control" id="inputEthContractAddress" formControlName="ethContractAddress" aria-describedby="ethContractAddress" placeholder="">
                                </div>
                            </div>
                        </mat-tab>
                    -->
                        <mat-tab label="{{'Ethereum tokens'|translate}}">

                            <mat-selection-list #ethtokens (selectionChange)="onEthSelection($event, ethtokens.selectedOptions.selected)">
                                <mat-list-option *ngFor="let token of ethTokens; let i = index" [value]="i+1">

                                    {{token.name}}
                                </mat-list-option>
                                <mat-list-option value="0">
                                    {{"Custom"| translate}}
                                </mat-list-option>
                            </mat-selection-list>

                            <div *ngIf="showEthCustom">
                                <div class="form-group">
                                    <label for="inputSendTo" class="text-muted">{{"Contract Address"|translate}}</label>
                                    <input type="text" class="form-control" id="inputEthContractAddress" formControlName="ethContractAddress" aria-describedby="ethContractAddress" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="inputSendTo" class="text-muted">{{"Token Name"|translate}}</label>
                                    <input type="text" class="form-control" id="inputEthContractAddress" formControlName="ethContractAddress" aria-describedby="ethContractAddress" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="inputSendTo" class="text-muted">{{"Token Symbol"|translate}}</label>
                                    <input type="text" class="form-control" id="inputEthContractAddress" formControlName="ethContractAddress" aria-describedby="ethContractAddress" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="inputSendTo" class="text-muted">{{"Token Decimals"|translate}}</label>
                                    <input type="text" class="form-control" id="inputEthContractAddress" formControlName="ethContractAddress" aria-describedby="ethContractAddress" placeholder="">
                                </div>
                            </div>
                        </mat-tab>
                        <!--
                        <mat-tab label="{{'Others'|translate}}">
                            <mat-selection-list #others (selectionChange)="onOthersSelection($event, others.selectedOptions.selected)">
                                <mat-list-option *ngFor="let other of otherCoins; let i = index" [value]="i+1">
                                    {{other.name}}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-tab>
                        -->
                    </mat-tab-group>
                </div>

                <div class="modal-footer">
                    <div class="pull-left">
                        <button class="btn btn-gradient text-white" type="submit"> {{"Confirm"|translate}} </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--
<a (click)="openModal(templateAddAssets)">Add Assets</a>
<ng-template #templateAddAssets>
        <div class="modal-header text-center">
            <h4 class="modal-title w-100">Add Assets</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="inputSendTo">Coin</label>
                    <div class="row">
                        <div class="col">
                            <select class="form-control">
                                <option>EXG</option>
                                <option>BTC</option>
                                <option>ETH</option>
                                <option>USDT</option>
                                <option>FAB</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control">
                                        <option>EXG</option>
                                        <option>BTC</option>
                                        <option>ETH</option>
                                        <option>USDT</option>
                                        <option>FAB</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSendTo">Available</label>
                    <input type="text" class="form-control" id="inputAvailable" aria-describedby="emailHelp" placeholder="0.0000">
                </div>   
                <div class="form-group">
                        <label for="inputSendTo">Locked</label>
                        <input type="text" class="form-control" id="inputFrozen" aria-describedby="emailHelp" placeholder="0.0000">
                </div>     
                <div class="form-group">
                        <label for="inputSendTo">Value(USD)</label>
                        <input type="text" class="form-control" id="inputValue" aria-describedby="emailHelp" placeholder="0.0000">
                </div>   
                <div class="form-group">
                        <label for="inputSendTo">Profit sharing</label>
                        <input type="text" class="form-control" id="inputProfitSharing" aria-describedby="emailHelp" placeholder="0.0000">
                </div>                                                              
                <button class="btn btn1 btn-gradient text-white" (click)="addAsset()">{{"Add" | translate }}</button>
              </form>
        </div>
    </ng-template> 
-->