
<div class="m-3">
    <div class="container border" *ngIf="merchant">
        <div class="pt-3">
            Merchant information
        </div>
        <div>{{merchant.name}}(address {{merchant.walletExgAddress}}) </div>
        <div class="pt-3">
            {{description}}
        </div>

        <div *ngIf="items" class="pt-3">
            <div *ngFor="let item of items">
                <div class="row">
                    <div class="col col-3">
                        <img class="img-thumbnail" [src]="item.thumbnailUrl">
                    </div>
                    
                    <div class="col col-9">
                        <div>
                            {{item.title}}
                        </div>
                        <div class="w-100 row">
                            <div class="col col-4">
                                {{item.price}}
                            </div>
                            <div class="col col-4">
                                x{{item.quantity}}
                            </div>
                            <div class="col col-4">
                                {{item.price * item.quantity}}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="pt-3 text-right">
            Total: {{amount}} {{currency}}
        </div>        
        <div *ngIf="wallets">
            <mat-form-field>
                <mat-select panelClass="example-panel" [value]="currentWalletIndex" (selectionChange)="changeWallet($event.value)">
                    <mat-option *ngFor="let wallet of wallets;let i = index" [value]="i">
                        {{wallet.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            Available: {{available}} {{currency}}
        </div>
        
        <div class="text-center p-3">
            <button class="btn text-center" (click)="confirm(templatePasswd2)">Confirm</button>
        </div>
        
    </div>
</div>


<ng-template #templatePasswd2>
    <div class="modal-header text-center">
        <h4 class="modal-title w-100">Password</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="pb-4">
            <input type="password" autocomplete="off" class="form-control" id="inputPin" 
            (ngModelChange)="changePin($event)" [(ngModel)]="pin" 
            aria-describedby="emailHelp" placeholder="Please provide your password to confirmsss the transaction">
        </div>

        <button class="btn btn1 btn-gradient text-white" (click)="confirmPin()">{{"Confirm" }}</button>

    </div>
</ng-template>