<div class="container">
    <div class="failbox" *ngIf="user && user.kycNote">
        Fail reason: {{user.kycNote}}
    </div>
    <div class="outbox">
        <div fxLayout="row">
            <div class="itmtitle">Name</div> <div>{{name}}</div>
        </div>

        <div fxLayout="row">
            <div class="itmtitle">Residence</div> <div>{{residence}}</div>
        </div>

        <div fxLayout="row">
            <div class="itmtitle">Accredited investor</div> <div> {{accredited}} </div>
        </div>

        <div class="statebox" fxLayout="row">

        </div>

        <div fxLayout="column">
            <div class="itmtitle">Photo ID</div>
            <div class="imgbox">
                <img class="imgitm" id='id1' width='480px'>
                <img class="imgitm" id='id2' width='480px'>
                <img class="imgitm" id='id3' width='480px'>
                <img class="imgitm" id='id4' width='480px'>    
            </div>
        </div>

        <div fxLayout="column">
            <div class="itmtitle">Selfie Photos</div>
            <div class="imgbox">
                <img class="imgitm" id='self1' width='480px'>
                <img class="imgitm" id='self2' width='480px'>
                <img class="imgitm" id='self3' width='480px'>
                <img class="imgitm" id='self4' width='480px'>
            </div>   
        </div>

        <div>
            <button type="submit" class="form-input__button background-primary-bold" (click)="setPass()"><span class="color-white">Set as PASS</span></button>
        </div>
        <br>
        <div>Set As Failure: </div>
        <div>
            <input class="form-input__text emailbox" type="text" placeholder="Fail reason" [(ngModel)]="denyreason" />
            <button type="submit" class="form-input__button background-primary-bold" (click)="setDeny()"><span class="color-white">Deny</span></button>
        </div>
    </div>
</div>
