@import 'sizing';
@import 'colours';

.container {
  margin: 0;
  padding: 0;
}

.menu {
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: lightgray;
}

.menu li {
  display: inline;
  margin: 0.3em;
  font-size: medium;
}

.menu li a {
  text-decoration: none;
  color: black;
}
