<div fxLayout="column" [ngClass]="{'open': visible}" fxLayoutAlign="center" fxLayoutGap="1em" class="social-bar">
  <div fxFlex="2em" class="social-bar__link">
    <a href="https://t.me/Exchangily" target="_blank" class="icon-telegram"></a> 
  </div>

  <div fxFlex="2em" class="social-bar__link">
  <a href="https://twitter.com/Exchangily" target="_blank" class="icon-twitter"></a> 
  </div>

  <div fxFlex="2em" class="social-bar__link">
  <a href="https://medium.com/exchangily-blog" target="_blank" class="icon-medium"></a> 
  </div>

  <div fxFlex="2em" class="social-bar__link">
  <a href="https://www.linkedin.com/company/exchangily/" target="_blank" class="icon-linked-in"></a> 
  </div>

  <div fxFlex="2em" class="social-bar__link">
    <a href="mailto:info@exchangily.com" class="icon2-mail color-white"></a> 
  </div>
</div>
