<div class="container bg-white">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">{{'startBlock' | translate}}</th>
            <th scope="col">{{'endBlock' | translate }}</th>
            <th scope="col">{{'marketPrice' | translate}}</th> 
            <th scope="col">{{'Time' | translate}}</th>    
            <th scope="col">{{'Proof' | translate}}</th>         
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let period of periods">
            <th scope="row">
              <a href="/reward/period/{{period._id}}">
                {{period.startBlock}}
              </a>
              
            </th>
            <td>
              {{period.endBlock}}
            </td>
            <td>
              {{period.marketPrice}}
            </td>
            <td>
              {{utilServ.showTime(period.dateCreated)}}
            </td> 
            <td>
              <div *ngFor="let pair of pairs">
                <a href="{{getProofLink(pair, period)}}" target="_blank">
                  {{pair}}
                </a>
                
              </div>
            </td>      
          </tr>
        </tbody>
      </table>
</div>

