.main-container {
    width: 140px;
    height: 140px;
    border: 1px dashed;
    cursor: pointer;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: row;
        width: 100%;
    }
}

.svg-container {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: rgb(91,97,110);
}

.ImageUpload__GuideMessage {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: rgb(91,97,110);
    max-width: 100%;
}