<div>
    <div class="container-fluid topImage">
        <div class="topInfo">
            <div>
                Exchangily Support Service
            </div>
        </div>
        <div class="subInfo">
            When you are stuck in something don’t waste your time just let us
            know we are here to help you
        </div>
        <div class="topSearch">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Toptic" aria-label="Search Toptic"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                </div>
            </div>



        </div>
    </div>
    <div class="container supportBody">
        <div class="row">
            <div class="col-md-4 support-section-s1">
                <div class="support-section">
                    <div class="support-section-title">Tickets</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </div>
                    <a href="/tickets"><button class="exbtn support-section-btn">DETAIL</button></a>
                </div>


            </div>
            <div class="col-md-4 support-section-s2">
                <div class="support-section">
                    <div class="support-section-title">FORUM</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </div>
                    <button class="exbtn support-section-btn">DETAIL</button>
                </div>
            </div>
            <div class="col-md-4 support-section-s3">
                <div class="support-section">
                    <div class="support-section-title">FAQ</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </div>
                    <a href="/faq"> <button class="exbtn support-section-btn">DETAIL</button></a>
                </div>
            </div>
        </div>
    </div>

</div>