<div class="main-container">

    <h3>{{'Listing on Exchangily' | translate}}</h3>
    <p>
        {{'Listing overview' | translate}}
    </p>
    <h4>{{'Reasons to list on eXchangily DEX' | translate}}</h4>
    <ul>
        <li>
            {{'Listing reason1' | translate}}
        </li>
        <li>
            {{'Listing reason2' | translate}}
        </li>
        <li>
            {{'Listing reason3' | translate}}
        </li>
    </ul>
    <h4>{{'To get started' | translate}}:</h4>
    <p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScgvCFVw27YqZdUSLKhyHDjyI4HsJpZ1-x4a1lUloQNoUgvHA/viewform" target="_blank">
            https://docs.google.com/forms/d/e/1FAIpQLScgvCFVw27YqZdUSLKhyHDjyI4HsJpZ1-x4a1lUloQNoUgvHA/viewform
        </a>
    </p>
</div>