div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    text-align: center;
    width: auto;
    word-wrap: none;
    word-wrap: break-word;
    flex-wrap: wrap;
    word-break: break-all;
}
table {
    table-layout: auto;
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 15px;
	line-height: 18px;
	margin: 10px auto;
	text-align: left;
    width: 100%;    
}	

th {
	background: linear-gradient(#1976d2, #4fa7ff);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 10px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

td {
    min-width: 10em;
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 10px;
	position: relative;
    transition: all 300ms;
    word-wrap: break-word;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr:nth-child(odd) td {
	background: #e9e9e9;	
}

.even {
	padding: 10px;
	text-align: left;
}

.odd {
	padding: 10px;
	background-color: rgb(240,240,240);
	text-align: left;
}

a {
	color: #3F51B5;
	font-weight: 500;
	padding: 5px;
	border-radius: 2px;
}

a:hover {
	color: #3F51B5;
	background-color:rgb(250,244,255) ;
	transition:700ms;
}