<mat-card class="search-card">
    <div class="search-head">
        <h5>{{"Search Kanban"|translate}}</h5>
    </div>
    <form class="search-form">
        <mat-form-field appearance="outline" class="matfield">
            <mat-label>{{"Search Kanban"|translate}}</mat-label>
            <input matInput placeholder="{{'Ex. block number, address, transaction hash, block hash'|translate}}" #searchText (keyup.enter)="searchClicked(searchText.value)">
        </mat-form-field>
        <button class="search-btn" mat-flat-button type="button" (click)="searchClicked(searchText.value)">{{"Search Kanban"|translate}}</button>
    </form>
</mat-card>
