<!--<input style="width: 100%;" (keyup.enter)="searchClicked(searchText.value)" #searchText >
<button (click)="searchClicked(searchText.value)" >Search</button>-->


<mat-card class="mat-elevation-z6 alignCenter">
    <form class="example-form">
        <mat-form-field class="matfield">
            <mat-label clas="matlab">{{"Search Kanban"|translate}}</mat-label>
            <input matInput placeholder="{{'Ex. block number, address, transaction hash, block hash'|translate}}" #searchText (keyup.enter)="searchClicked(searchText.value)">
        </mat-form-field>
        <button mat-raised-button type="button" (click)="searchClicked(searchText.value)">{{"Search Kanban"|translate}}</button>
    </form>
</mat-card>