<h3 class="color-primary">{{ 'Account.Make Orders.OrderForm.Page2.Title' | translate }}</h3>
<form class="confirm-order" name="confirmForm" (ngSubmit)="submit()" [formGroup]="confirmForm" #formDir="ngForm" *ngIf="loaded">
  <ng-container *ngIf="!success">  

    <p class="color-primary">{{ 'Account.Make Orders.OrderForm.Page2.Timer' | translate }}</p>

    <div class="confirm-order__container" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="flex-start" 
      *ngFor="let item of transitIds.controls; let i=index;" formArrayName="transitIds">
      <div class="confirm-order__info">
        <p class="confirm-order__info-amount">{{ 'Form.Amount' | translate }}</p>
        <currency-display [curType]="_crOS.getPayment(i).payMethod" [amount]="_crOS.getPayment(i).paidAmount"></currency-display>
      </div>

      <div class="create-order-wrap" [formGroupName]="i">
        <label for="transitId" class="form-input__text__label">
          <span *ngIf="_crOS.payInCrypto(i)">
            {{ 'Account.Make Orders.OrderForm.Page2.InformationBox.Crypto.BoxHeader' | translate }}
          </span>

          <span *ngIf="!_crOS.payInCrypto(i)">
            {{ 'Account.Make Orders.OrderForm.Page2.InformationBox.Fiat.BoxHeader' | translate }}
          </span>
        </label>
        <textarea formControlName="transitId" id="transitId" class="form-input__text block"></textarea>
        <p style="margin: 0; font-size: .8em;">
          <span *ngIf="_crOS.payInCrypto(i)">
            {{ 'Account.Make Orders.OrderForm.Page2.InformationBox.Crypto.BoxInstructions' | translate }}
          </span>

          <span *ngIf="!_crOS.payInCrypto(i) && loaded">
            {{ 'Account.Make Orders.OrderForm.Page2.InformationBox.Fiat.BoxInstructions' | translate: payValue }}
          </span>
        </p>
      </div>

      <div fxFlex="70" class="create-order__bank">
        <div *ngIf="coins.indexOf(_crOS.icotx.payment[i].payMethod) >= 0">
          <p>{{ 'Account.Make Orders.OrderForm.Page2.PayInstructions.Coin' | translate }}</p>
          <app-coin-info [coin]="_crOS.appCoinSymbol" [coinAdd]="_crOS.appCoinAddress" [size]="180"></app-coin-info>
        </div>

        <div *ngIf="_crOS.icotx.payment[i].payMethod === 'USD'">
          <p>{{ 'Account.Make Orders.OrderForm.Page2.PayInstructions.USD' | translate }}</p>
          <app-usd-info></app-usd-info>
        </div>
<!-- 
        <div *ngIf="_crOS.icotx.payment[i].payMethod === 'RMB'">
          <p>{{ 'Account.Make Orders.OrderForm.Page2.PayInstructions.RMB.Desc1' | translate }}</p>
         <app-rmb-info></app-rmb-info>
        </div>
      -->
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="1.5em">
      <button type="submit" class="form-input__button background-primary confirm-order__submit color-white">
        {{ 'Form.Submit' | translate }}
      </button>

      <button type="button" (click)="back()" class="form-input__button background-secondary confirm-order__back color-white">
        {{ 'Form.Back' | translate }}
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="success">
    <h2>{{ 'Account.Make Orders.OrderForm.Page3.Title' | translate }}</h2>
    <p>{{ 'Account.Make Orders.OrderForm.Page3.OrderProcessedMessage' | translate }}</p>

    <div fxLayout="row" fxLayoutGap="1.5em">
      <button type="button" (click)="goToNewOrder()" class="form-input__button background-secondary color-white">{{ 'Account.Make Orders.OrderForm.Page3.NewOrderButton' | translate }}</button>
      <button type="button" (click)="goToViewOrders()" class="form-input__button background-primary color-white">{{ 'Account.View Orders.SideHeading' | translate }}</button>
    </div>

    <p *ngIf="serverError && !confirmForm.dirty" class="form-input__error">{{ serverError }}</p>
  </ng-container>

</form>
