<div class="container text-white">
    <div class="row">

        <div class="form-group col-md-12">
            <label for="FormControlInput2">Receiving Contract Address</label>
            <input type="text" class="form-control" id="receivingContractAdd"  name="receivingContractAdd" placeholder="receiving Contract Addresss"
                [(ngModel)]="receivingContractAdd">
        </div> 
                
        <div class="form-group col-md-12">
            <label for="FormControlInput2">For consumer</label>
            <input type="text" class="form-control" id="consumer"  name="consumer" placeholder="Percentage for consumer, default is 0.6"
                [(ngModel)]="consumer">
        </div> 
        
        <div class="form-group col-md-12">
            <label for="FormControlInput2">For merchant</label>
            <input type="text" class="form-control" id="merchant"  name="merchant" placeholder="Percentage for merchant, default is 0.1"
                [(ngModel)]="merchant">
        </div>  
        
        <div class="form-group col-md-12">
            <label for="FormControlInput2">For merchant referral</label>
            <input type="text" class="form-control" id="merchantReferral"  name="merchantReferral" placeholder="Percentage for merchant Referral, default is 0..04"
                [(ngModel)]="merchantReferral">
        </div>  
        
        <div class="form-group col-md-12">
            <label for="FormControlInput2">For consumer Level 1</label>
            <input type="text" class="form-control" id="consumerLevel1"  name="consumerLevel1" placeholder="Percentage for Consumer Level 1, default is 0..04"
                [(ngModel)]="consumerLevel1">
        </div>  

        <div class="form-group col-md-12">
            <label for="FormControlInput2">For consumer Level 2</label>
            <input type="text" class="form-control" id="consumerLevel2"  name="consumerLevel2" placeholder="Percentage for Consumer Level 2, default is 0..04"
                [(ngModel)]="consumerLevel2">
        </div>  

        <div class="form-group col-md-12">
            <label for="FormControlInput2">For consumer Level 3</label>
            <input type="text" class="form-control" id="consumerLevel3"  name="consumerLevel3" placeholder="Percentage for Consumer Level 3, default is 0..04"
                [(ngModel)]="consumerLevel3">
        </div>  

        <div class="form-group col-md-12">
            <label for="FormControlInput2">For consumer Level 4</label>
            <input type="text" class="form-control" id="consumerLevel4"  name="consumerLevel4" placeholder="Percentage for Consumer Level 4, default is 0..04"
                [(ngModel)]="consumerLevel4">
        </div>  

        <div class="form-group col-md-12">
            <label for="FormControlInput2">For consumer Level 5</label>
            <input type="text" class="form-control" id="consumerLevel5"  name="consumerLevel5" placeholder="Percentage for Consumer Level 5, default is 0..04"
                [(ngModel)]="consumerLevel5">
        </div>   
        
        <div class="form-group col-md-12">
            <label for="FormControlInput2">For consumer Level 6</label>
            <input type="text" class="form-control" id="consumerLevel6"  name="consumerLevel6" placeholder="Percentage for Consumer Level 6, default is 0..04"
                [(ngModel)]="consumerLevel6">
        </div>          

        <div class="form-group col-md-12">
            <label for="FormControlInput2">For consumer Level 7</label>
            <input type="text" class="form-control" id="consumerLevel7"  name="consumerLevel7" placeholder="Percentage for Consumer Level 7, default is 0..04"
                [(ngModel)]="consumerLevel1">
        </div>  

        <div class="form-group col-md-12">
            <label for="FormControlInput2">For consumer Level 8</label>
            <input type="text" class="form-control" id="consumerLevel8"  name="consumerLevel8" placeholder="Percentage for Consumer Level 8, default is 0..04"
                [(ngModel)]="consumerLevel8">
        </div>  
    </div>  
</div>

<table class="table table-striped">
    <thead>
        <tr class="text-white">
            <th>Coin</th>
            <th>Proportion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" class="form-control" id="coin1"  name="coin1" placeholder="coin, default is EXG"
                [(ngModel)]="coin1">
            </td>
            <td>
                <input type="text" class="form-control" id="coin1Proportion"  name="coin1Proportion" placeholder="coin proportion, default is 0.7"
                [(ngModel)]="coin1Proportion">
            </td>            
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" id="coin2"  name="coin2" placeholder="coin, default is EXG"
                [(ngModel)]="coin2">
            </td>
            <td>
                <input type="text" class="form-control" id="coin2Proportion"  name="coin2Proportion" placeholder="coin proportion, default is 0.7"
                [(ngModel)]="coin2Proportion">
            </td>            
        </tr>
    </tbody>
</table>

<div class="text-center">
    <button (click)="confirm()">Confirm</button>
</div>