.market-panel {
    padding: 0.5em 0 0 1px;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    height: 1em;
    margin: 1em 0.5em 0.6em 0.5em;
}

.menuitem {
    margin-right: 0.6em;
    color: black;
}

.sarcharea {
    width: 99%;
    height: 2.4em;
}

.searchbox {
    width: 4em;
    color: white;
    background: url(/images/icons/search.svg) no-repeat scroll 7px 7px;
    padding-left: 30px;
    border: 1px solid #424257;
}

.search-entered {
    background-image: url('/images/icons/searchicon-w.svg');
}

.smallfont {
    font-size: 0.8em;
    margin-top: -0.5em;
}

.leftarea {
    margin-top: 0.6em;
    width: 45%;
}

.rightarea {
    margin-top: 0.6em;
    width: 55%;
}

.selected {
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 0;
}

.pricelist {
    font-size: 0.9em;
    width: 100%;
    flex: 1;
    margin-top: 8px;
}

.orderlist {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    color: white;
    border: 1px solid white;
    /*width: 100%;*/
}

.orderlist td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.orderlist tr:nth-child(even) {
    background-color: rgb(0, 0, 0);
}

.orderlist tr:nth-child(odd) {
    background-color: rgb(30, 30, 30);
}

.orderlist td:nth-child(1) {
    color: rgb(255, 50, 50);
}

.orderlist.selllist td:nth-child(1) {
    color: rgb(100, 255, 100);
}

.header {
    font-size: 1em;
    font-weight: bold;
    height: 1.7em;
}

.hand {
    cursor: pointer;
}

.apair {
    width: 100%;
    height: 2.2em;
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px dashed lightgray;
}

.apair:hover {
    font-weight: bold;
}

.redcolor {
    color: red;
}

.greencolor {
    color: green;
}

.chart {
    width: 48%;
    float: left;
}

mat-list-item {
    height: auto!important;
}

mat-divider {
    color: white;
}

mat-list {
    overflow-y: auto;
    height: 715px;
}

.vertical-center {
    vertical-align: middle;
}

.mat-list-item-ripple:hover {
    background-color: black;
}

.header {
    font-weight: bold;
    height: 2em;
    padding-top: 4px;
    background-color: #2c2c4e;
    color: white;
}

.dataline:hover {
    background-color: #3a3b5a;
    color: grey;
    cursor: pointer;
}