<div class="h-100">
    <div class="menu w-100">
        <div class="menuitem hand smallfont text-white" [class.selected]="select === 'USDT'" (click)="selectCat('USDT');">USDT</div>
        <div class="menuitem hand smallfont text-white" [class.selected]="select === 'DUSD'" (click)="selectCat('DUSD');">DUSD</div>
        <div class="menuitem hand smallfont text-white" [class.selected]="select === 'BTC'" (click)="selectCat('BTC');">BTC</div>
        <span class="menuitem hand smallfont text-white" [class.selected]="select === 'ETH'" (click)="selectCat('ETH');">ETH</span>
        <div class="menuitem hand smallfont text-white" [class.selected]="select === 'EXG'" (click)="selectCat('EXG');">EXG</div>
    </div>

    <div class="input-group sarcharea px-2">
        <input type="text" class="form-control searchbox" (keydown.enter)="setSelect();false" [(ngModel)]="searchText" placeholder="{{'Search pair' | translate}}">
    </div>

    <mat-list class="scroll-bar">
        <mat-list-item class="header apair">
            <div mat-line class="float-left text-white">{{'Pair'|translate}}</div>
            <div class="vertical-center">
                <div class="smallfont text-muted p-1">{{'LatestPrice'|translate}}</div>
                <div class="smallfont text-white p-1">{{'H24Change'|translate}}</div>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item class="apair dataline" *ngFor="let pr of prices | callback: filterPrice : select; let i=index">
            <div mat-line class="float-left text-white" (click)="loadTradePair(pr.symbol)">{{pr.symbol}}</div>
            <div class="vertical-center pt-2 pb-2" (click)="loadTradePair(pr.symbol)">
                <div class="text-muted vertical-center">{{utilServ.showAmount(pr.price, 6)}}</div>
                <div class="vertical-center" [class.redcolor]="pr.change24h<0" [class.greencolor]="pr.change24h>=0"> {{pr.change24h | number:'.2'}}% </div>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>

    </mat-list>
</div>