<div class="container exg-bg faq-container">
    <div class="row pt-4 pl-3">
        <h6>{{'FAQ' | translate}}</h6>
    </div>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>{{"DepositErrQ" | translate}}?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                        {{"DepositErrA" | translate}}
                    </small>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>{{"NotReceivedQ" | translate}}?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                        {{"NotReceivedA" | translate}}
                    </small>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>{{"USDTNoETHQ" | translate}}?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                        {{"USDTNoETHA" | translate}}
                    </small>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>{{"HaveGasExchangeNotReceivedQ" | translate}}?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                        {{"HaveGasExchangeNotReceivedA" | translate}}
                    </small>
                </div>
            </mat-expansion-panel>

        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>{{"AddGasQ" | translate}}?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                        {{"AddGasA" | translate}}
                    </small>
                </div>
            </mat-expansion-panel>

        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>{{"WithdrawQ" | translate}}?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                        {{"WithdrawA" | translate}}
                    </small>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>{{"BuyFABQ" | translate}}?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                        {{"BuyFABA" | translate}}
                    </small>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>