.menu {
    width: 100%;
    display: flex;
    background-color: lightblue;
}

.selected {
    background-color: lightcyan;
    color: white;
}

.menuitm {
    cursor: pointer;
    color: black;
    width: 64px;
    margin-left: 0.3em;
    padding: 2px 8px;
}

.orders {
    width: 1200px;
    background-color: #F0F0F0;
    color: black;
}

.list-title {
    display: flex;
    margin-bottom: 0.3em;
}

.list-row:hover {
    background-color: #F0F0F0;
    color: red;
    cursor: pointer;
}

.item8em {
    width: 8em;
}

.item12em {
    width: 12em;
}

.item18em {
    width: 18em;
}