<div class="container pt-3 paymentmethods">
  <div class="row">
    <div class="col-md-6 paymentmethod-info">
      <h4>Current Paymentmethods</h4>
      <div class="paymentmethod-table">

        <table class="table table-striped" *ngIf="paymentmethods">
          <thead>
            <tr>
              <th scope="col">Details</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let up of userpaymentmethods">
              <td>{{up.details}}</td>

              <td>
                <!--
                      <button color="primary" (click)="delete(up._id)">Delete</button>
                      -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 paymentmethod-info">
      <h4>Add a Paymentmethod</h4>
      <div class="paymentmethod-add">
        <div class="py-2 ">
          <mat-form-field>
            <mat-label>Payment methods</mat-label>
            <mat-select [(ngModel)]="paymethod">
              <mat-option *ngFor="let p of paymentmethods" [value]="p._id">
                {{p.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="py-2">
          <mat-form-field class="example-full-width">
            <mat-label>Content</mat-label>
            <textarea [(ngModel)]="details" matInput></textarea>
          </mat-form-field>
        </div>

        <div class="py-2">
          <button color="primary" (click)="add()">{{ "Add" }}</button>
        </div>
      </div>
    </div>
  </div>
</div>