<h2 class="center">{{ 'Activate' | translate }}</h2>
<form class="app__login__form form-input" (ngSubmit)="onSubmit()" [formGroup]="activateForm" #formDir="ngForm">
    <p class="form-input__note">{{ 'Form.Thank You' | translate }} {{ 'Form.Check Inbox' | translate }}
    </p>
    <p class="form-input__note">{{ 'Form.Click Link' | translate }}</p>

    <label for="email" class="form-input__text__label">{{ 'Form.Email' | translate }}</label>
    <input type="email" id="email" required class="block form-input__text" formControlName="email">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-input__error">
        <p *ngIf="email.errors.required">
            {{ 'FormErrors.FieldRequiredError' | translate }}
        </p>
        <p *ngIf="email.errors.email">
            {{ 'FormErrors.ValidEmailError' | translate }}
        </p>
    </div>

    <label for="code" class="form-input__text__label">{{ 'Form.Activation Code' | translate }}</label>
    <input type="text" id="code" required class="block form-input__text" formControlName="code">
    <div *ngIf="code.invalid && (code.dirty || code.touched)" class="form-input__error">
        <p *ngIf="code.errors.required">
            {{ 'FormErrors.FieldRequiredError' | translate }}
        </p>
    </div>

    <button type="submit" [disabled]="!formDir.form.valid" class="form-input__button fancy-button background-primary-bold"><span class="color-white semi-bold">{{ 'Form.Activate My Account' | translate }}</span></button>
    <div *ngIf="errorMessage" class="form-input__error">
        <p>{{ errorMessage }}</p>
    </div>
</form>