@import "sizing";

.advblock-detail {
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;

}

@media (max-width: $p1024) {
    .advblock-detail {
        border-radius: 5px;
    }
}


.block1{
    background-color: #0d0a2d;
}

.block2{
    background-color: #061561;
}

.block3{
    background-color: #04103c;
}

.block4{
    background-color: #04103c;
}

.title {
    font-family: Verdana, sans-serif, SimHei, 'Microsoft YaHei';
    margin: 2px 12px;
    padding-top: 12px;
}

.desc {
    font-size: x-small;
    margin: 0 12px 0 12px;
    color: silver;
    text-shadow: 1px 1px 2px black;
}