<pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>

<div class="container py-3 d-flex justify-content-between text-white" 
*ngIf="state != 'noSession' && state != 'sessionProposal'">
  <div>
    Session created
  </div>
  <div>
    <button (click)="disconnect()" type="button" class="btn btn-outline-danger">Disconnect</button>
  </div>
</div>

<div class="container py-3" *ngIf="state == 'noSession'">



    <div *ngIf="!walletAddress" class="text-white">
      No wallet, please <a href="/wallet/create">Create</a> or <a href="/wallet/restore">Import</a> a wallet.
    </div>
    <div class="input-group mb-3" *ngIf="walletAddress">
        <input type="text" class="form-control" [(ngModel)]="uri" placeholder="walletconnect uri (e.g. wc:a28543563...)" aria-label="walletconnect uri" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary text-white" type="button" (click)="connect()">Connect</button>
        </div>
    </div>
</div>

<div class="container py-3 text-white" *ngIf="state == 'sessionProposal'">
  <form>
    <div class="form-group row">
      <div class="col-sm-2 text-muted">Name</div>
      <div class="col-sm-10">
        {{metadata.name}}
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2  text-muted">Description</div>
      <div class="col-sm-10">
        {{metadata.description}}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2  text-muted">Blockchains</div>
      <div class="col-sm-10">
        {{requiredNamespaces.eip155.chains.toString()}}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2  text-muted">Methods</div>
      <div class="col-sm-10">
        {{requiredNamespaces.eip155.methods.toString()}}
      </div>
    </div>
  </form>
  <div class=" d-flex justify-content-between">
    <div>
      Session proposal
    </div>
    <div class="d-flex">
      <div class="px-2">
        <button type="button" class="btn btn-primary" (click)="approveSession(true)">Approve</button>
      </div>
      
  
      <div (click)="approveSession(false)">
        <button type="button" class="btn btn-outline-danger" (click)="approveSession(false)">Reject</button>
      </div>
    </div>
  </div>


</div>

<div class="container py-3  text-white" *ngIf="state == 'sessionRequest'">
  <form>

    <div class="form-group row">
      <div class="col-sm-2 text-muted">Method</div>
      <div class="col-sm-10">
       {{request.method}}
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2  text-muted">Params</div>
      <div class="col-sm-10">
        <div *ngIf="(request.method == 'kanban_sendTransaction') || (request.method == 'eth_sendTransaction')">
          <div class="border-bottom" *ngFor="let item of request.params">
            <div class="row">
              <div class="col-sm-2  text-muted">To</div>
              <div class="col-sm-10">{{showContractName(item.to)}}</div>
            </div>
            <div class="row d-none">
              <div class="col-sm-2  text-muted">Value</div>
              <div class="col-sm-10">{{item.value}}</div>
            </div>
            <div class="row pt-3">
              <div class="col-sm-2  text-muted">Data</div>
              <div class="col-sm-10" [innerHTML]="showData(item.data)"></div>
            </div>
          </div>
        </div>

        <div *ngIf="request.method == 'personal_sign'">
          <div class="row">
            <div class="col-sm-2  text-muted">Data</div>
            <div class="col-sm-10">{{request.params[0]}}</div>
          </div>

          <div class="row">
            <div class="col-sm-2  text-muted">Address</div>
            <div class="col-sm-10">{{request.params[1]}}</div>
          </div>

        </div>
      </div>
    </div>



  </form>
  <div class="d-flex justify-content-between">
    <div>
      Session request
    </div>
    <div class="d-flex">
      <div class="px-2">
        <button type="button" class="btn btn-primary" (click)="approveRequest()">Approve</button>
      </div>
      
  
      <div (click)="approveSession(false)">
        <button type="button" class="btn btn-outline-danger" (click)="rejectRequest()">Reject</button>
      </div>
    </div>
  </div>
</div>




<div class="container py-3 d-flex justify-content-between text-white" *ngIf="state == 'sessionRequestApproved'">
  <div>
    Session request approved
  </div>
</div>

<div class="container py-3 d-flex justify-content-between text-white" *ngIf="state == 'sessionRequestRejected'">
  <div>
    Session request rejected
  </div>
</div>

