<div class="container p-3 text-center">
    <div *ngIf="!preview">
        <div>
            <textarea  name="balances" [(ngModel)]="balances" cols="120" rows="20"></textarea>
        </div>

    <div class="d-flex justify-content-around">
        <input type="file" class="upload" #file style="display:none" (change)="changeListenerEvent($event)">
        <button class="btn button btn-outline btn-basic-outline btn-fixed-width" (click)="file.click()">{{'Import CSV' | translate}}</button>
        <a href="/assets/rewards.csv" target="_blank" class="text-white">CSV example file</a>
        <button class="btn button btn-outline btn-basic-outline btn-fixed-width" (click)="previewDo()">{{'Preview' | translate}}</button>
    </div>
        
    </div>
    <div *ngIf="preview">
        <app-bulk-transfer-preview [accounts]="accounts">

        </app-bulk-transfer-preview>
    </div>
</div>