.circle {
    height: 125px;
    width: 125px;
    background-color: #d455c3;
    border-radius: 50%;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
}

.circle-text {
    line-height: 125px;
}

.memer-type-info {
    height: 100%;
}

.memer-type-info-sub {
    color: #ddd;
}

.memer-type {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.member-chat {
    padding-top: 20px;
}

.member-gb-pad {
    background-color: #484866;
    padding: 15px;
    border-radius: 5px;

    .text-center {
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;

        button{
            font-size: 13px;
        }
    }

    @media (min-width: 768px) {
        .member-gb-pad-child {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}

@media (max-width: 767px) {
    .member-gb-pad {
        margin-bottom: 15px;
    }

    .memer-type-info {
        margin-bottom: 15px;
    }

    .MY-REWARDS {
        margin-top: 15px;
    }
}

.member-gb-pad.fh {
    height: 100%;
}

@media (max-width: 991px) {
    .member-link {
        font-size: 12px;
    }
}

.level-2 {
    padding-left: 10px;
    font-size: 15px;
    color: grey;
}

.ct-label {
    font-size: 0.5rem !important;
}

a {
    color: blue !important;
    text-decoration: underline !important;
    cursor: pointer;
}

// .topinfo{
//     margin: 10px;
// }

::ng-deep {
    .ct-label {
        color: #fff;
        fill: #fff;
    }
    .ct-series-a .ct-bar,
    .ct-series-a .ct-slice-donut {
        stroke: #028bd7;
    }
    .ct-grid {
        stroke: rgb(59 101 162 / 0.8);
    }
}
