<div class="container py-3">
    <div class="row">
        <div class="col col-4 border-right text-center">
            <div class="memer-type member-type-golden">
                Golden member
            </div>

            <div class="circle">
                <div class="circle-text">
                    EXG 799
                </div>

            </div>

            <div>
                399 USD
            </div>
            <div *ngIf="referralCode" class="py-2">
                {{'Referral code' | translate }}: {{referralCode}}
                <fa-icon [icon]="faFacebook"></fa-icon>
                <fa-icon [icon]="faTwitter"></fa-icon>
            </div>
        </div>
        <div class="col col-8">

            <x-chartist
            [type]="type"
            [data]="data"
            [options]="options"
            [events]="events"
          ></x-chartist>

          <x-chartist
          [type]="type"
          [data]="data2"
          [options]="options"
          [events]="events"
        ></x-chartist>

        </div>
    </div>
</div>

<pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>