<div class="container py-3">
    <div class="row">
        <div class="col col-12 text-center">
            <div class="row">
                <div class="col-md-6">
                    <mat-card class="topinfo memer-type-info">
                        <div class="">
                            <div class="memer-type member-type-golden">
                                {{membership | translate}}{{' member' | translate }}
                            </div>
                            <div class="mt-3 memer-type-info-sub">
                                {{'My investment' | translate}}: {{totalValue}}
                            </div>
                            <div>
                                {{'My EXG' | translate }}: {{totalQuantities}}
                            </div>

                            <div *ngIf="referralCode && (membership != 'unqualified')" class="mt-3">
                                <div class="memer-type-info-sub">
                                    {{'Referral code' | translate }}: {{referralCode}}
                                </div>

                                <div>
                                    {{'Referral link' | translate}}:
                                    <div class="member-link">{{baseUrl}}/login/signup/{{referralCode}}</div>
                                </div>
                                <button (click)="copyMessage()" value="click to copy">Copy Link</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-6 MY-REWARDS">
                    <mat-card class=" topinfo">
                        <div class="memer-type member-type-golden">
                            {{'My rewards' | translate }}
                        </div>
                        <div class="circle">
                            <div class="circle-text">
                                {{totalEXG}} EXG
                            </div>

                        </div>

                        <div>
                            {{getTotalEXGValue()}} {{'USD' | translate }}
                        </div>


                        <div *ngIf="extraEXG">
                            {{'You can get' | translate}} {{extraEXG}}
                            {{'more EXG tokens if you upgrade your membership' | translate}}
                        </div>
                        <div>
                            {{'Team rewards' | translate}}: {{teamsRewards}}
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col col-12 member-chat">

            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="member-gb-pad">
                            <p class="text-center">
                                {{'Members' | translate}}
                                <a (click)="openMemberModal()">
                                    <button>
                                        DETIAL
                                    </button>
                                </a>

                            </p>
                            <x-chartist [type]="type" [data]="dataPersonal1" [options]="options" [events]="events">
                            </x-chartist>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="member-gb-pad">
                            <p class="text-center">{{'Rewards' | translate }}</p>
                            <x-chartist [type]="type" [data]="dataPersonal2" [options]="options" [events]="events">
                            </x-chartist>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="member-gb-pad fh">
                            <div class="member-gb-pad-child">
                                <p class="text-center">{{'Team rewards' | translate }}</p>
                                <x-chartist [type]="'Pie'" [data]="data2" [options]="data2Options" [events]="events">
                                </x-chartist>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>
<member-modal #memberModal [members]="members"></member-modal>