<div class="container">
    <H3>{{"Privacy Policy"| translate}}</H3>
    <br><br>
    <div *ngIf="lan === 'en'">
        <b>Introduction</b>

        <p>
            Biswap is a decentralized application. Normally we don't collect customer sensitive information such as bank accounts, credit cards, etc. However, to follow regulatory compliance of AML, and as part of our daily business operations and management, we
            may collect some personal information from our clients and prospective clients in order to provide them with our products and services, and ensure that we can meet their needs when providing these products and services, as well as when providing
            them with any required information. This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information when apply if anyone decided to use our Service.<br> If you choose
            to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with
            anyone except as described in this Privacy Policy.<br> Your privacy is of utmost importance to us, and it is our policy to safeguard and respect the confidentiality of information and the privacy of individuals.<br> This Privacy Policy sets
            out how Biswap API products and services provided by Exchangily LLC, its affiliates and subsidiaries (collectively, the Exchangilly LLC entities "Biswap", "the Company", "We", "Us", and the trading and direct sales services provided by Biswap
            (collectively the “Exchangily Exchange” or “Exchange”), collects, uses and manages the personal information we receive from you, or a third party, in connection with our provision of services to you or which we collect from your use of our
            services and/or our website. The Privacy Policy also informs you of your rights with respect to the processing of your personal information.<br> Our Privacy Policy is reviewed regularly to ensure that any new obligations and technologies,
            as well as any changes to our business operations and practices are taken into consideration, as well as that it remains abreast of the changing regulatory environment. Any personal information we hold will be governed by our most recent Privacy
            Policy.
            <br> Please note that if you are an employee of the Company, a contractor to the Company or a third-party provider, your personal information will be used in connection with your employment contract or your contractual relationship, whichever
            applies.
            <br> This Privacy Policy applies to the processing activities performed by Biswap to the personal information of its clients and its potential clients and website visitors.<br> We may amend this Privacy Policy at any time by posting the amended
            version on this site including the effective date of the amended version. We will announce any material changes to this Privacy Policy on our website.
        </p>
        <br>
        <b>Definitions</b>
        <p>
            2.1 As used herein, the following terms are defined as follows:<br> 2.1.1 "Digital Asset" is a digital representation of value (also referred to as "cryptocurrency", "virtual currency", "digital currency", "crypto token", "crypto asset", or
            "digital commodity"), such as bitcoin, XRP or ether, which is based on the cryptographic protocol of a computer network that is (i) decentralized, (ii) closed or open-source, and (iii) used as a medium of exchange and/or store of value.<br>            2.1.2 "Biswap Account" means a Biswap wallet offered via the Biswap platform (mobile app or website) where Digital Assets are stored and controlled by the account's private key.<br> 2.1.3 "Biswap Payment Services" means Biswap websites, applications,
            services, or tools operated by Exchangily.<br> 2.1.4 "We", and "Us" refers to Biswap or Exchangily.<br> 2.1.5 "Personal Information" or "Personal Data" or "your data" refers to any information relating to you, as an identified or identifiable
            natural person, including your name, an identification number, location data, or an online identifier or to one or more factors specific to the physical, economic, cultural or social identity of you as a natural person.
        </p>
        <br>

        <b>Your Data Controller</b>
        <p>
            As a decentralized application, Biswap does not collect user's information, however to follow regulatory compliance of AML, we will require users to go through KYC process at IdDock owned by Exchangily LLC.<br> You are contracting with Exchangily
            LLC, as follows:<br> You are contracting with Exchangily LLC (USA), 2057 East Aurora Rd. Suite B, Twinsburg OH 44087 United States.<br> The Company you are contracting with is your Data Controller, and is responsible for the collection, use,
            disclosure, retention and protection of your personal information in accordance with our global privacy standards, this Privacy Policy, as well as any applicable national laws. The Company uses encryption to protect your information and store
            decryption keys in separate systems. We process and retain your personal information on our servers in multiple data center locations, including the European Union, Japan, the United Kingdom, the United States of America and elsewhere in the
            world.
        </p>
        <br>
        <p>
            <b>How do we protect personal information ?</b><br> The Company respects the privacy of any users who access its website, and is therefore committed to taking all reasonable steps to safeguard any existing or prospective clients, applicants
            and website visitors.<br> The Company keeps any personal data of its clients and its potential clients in accordance with the applicable privacy and data protection laws and regulations.<br> We have the necessary and appropriate technical
            and organizational measures and procedures in place to ensure that your information remains secure at all times. We regularly train and raise awareness for all our employees to the importance of maintaining, safeguarding and respecting your
            personal information and privacy. We regard breaches of individuals’ privacy very seriously and will impose appropriate disciplinary measures, including dismissal from employment. We have also appointed a Group Data Protection Officer, to
            ensure that our Company manages and processes your personal information in compliance with the applicable privacy and data protection laws and regulations, and in accordance with this Privacy Policy.<br> The personal information that you provide
            us with when applying to payment, applying for a role within the Company, or when using our website, is classified as registered information, which is protected in several ways. You can access your registered information after logging in to
            your account by creating or restoring your wallet. It is your responsibility to make sure that your private key or mnemonics is only known to you, not disclosed to anyone else and is properly kept, never lost or forgotten. Submitted information
            is securely stored in a safe location, and only authorized personnel have access to it with your approval via a special tool. All personal information is transferred to the Company over a secure connection, and thus all reasonable measures
            are taken to prevent unauthorized parties from viewing any such information. Personal information provided to the Company that does not classify as registered information is also kept in a safe environment and accessible by authorized personnel
            only through username and password.
        </p>
        <br>
        <p>
            <b>Information Collection and Use</b><br> For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to Name, email, phone number, Wallet ID,
            mnemonics phrase, etc. The information that we request will be retained by us and used as described in this privacy policy.<br> In order to execute some transactions with us, you must first complete and submit a "KYC Process" form to us by
            completing the required information. By completing this form and signing an approval with your private key, you allow us to disclose certain personal information to us in order to enable the Company to execute transactions and comply with
            the relevant laws (including their regulations).<br> The app does use third-party services that may collect information used to identify you.<br> Link to the privacy policy of third-party service providers used by the app<br>
            <a href="https://www.google.com/policies/privacy/">Google Play Services</a> The information that we may collect from you is as follows:<br> Full name, residential address and contact details (e.g. email address, telephone number, fax etc.);<br>            Date of birth, place of birth, gender, citizenship;<br> Bank account information, credit card details, including details about your source of funds, assets and liabilities, and OFAC information;<br> Trading account balances, trading activity,
            your inquiries and our responses;<br> Information on whether you hold a prominent public function (PEP);<br> Verification information, which includes information necessary to verify your identity such as a passport, driver's license or Government-issued
            identity card);<br> Other Personal Information or commercial and/or identification information – Whatever information we, in our sole discretion, deem necessary to comply with our legal obligations under various anti-money laundering (AML)
            obligations, such as under the European Union’s 4th AML Directive and the U.S. Bank Secrecy Act (BSA).
        </p>
        <br>

        <p>
            <b>Information we collect about you automatically.</b><br> Location Information – Information that is automatically collected via analytics systems providers to determine your location, including your IP address and/or domain name and any
            external page that referred you to us, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system, and platform;
        </p>
        <br>
        <p>
            <b>Information we receive about you from other sources.</b><br> We obtain information about you in a number of ways through your use of our services, including through any of our websites, the account opening process, webinar sign-up forms,
            event subscribing, news and updates subscribing, and from information provided in the course of on-going support service communications. We also receive information about you from third parties such as your payment providers and through publicly
            available sources. <br> For example:<br> The banks you use to transfer money to us will provide us with your basic personal information, such as your name and address, as well as your financial information such as your bank account details;<br>            Your business partners may provide us with your name and address, as well as financial information;<br> Advertising networks, analytics providers and search information providers may provide us with anonymized or de-identified information
            about you, such as confirming how you found our website;<br> Credit reference agencies do not provide us with any personal information about you, but may be used to corroborate the information you have provided to us.
        </p>
        <br>

        <p>
            <b>General Provisions</b><br> Personal Information you provide to us will be retained for one year, even if your process is incomplete or abandoned.
        </p>
        <br>
        <p>
            <b>Lawful basis for processing your personal information</b><br> We will process your personal information on the following bases and for the following purposes:
        </p>
        <br>
        <p>
            Performance of a contract<br> We process personal data in order to provide our services and products, as well as information regarding our products and services based on the contractual relationship with our clients (i.e. so as to perform
            our contractual obligations). In addition, the processing of personal data takes place to enable the completion of our client on-boarding process.<br> In view of the above, we must verify your identity in order to accept you as our client
            and we will use your personal data in order to effectively manage your trading account with us. This may include third parties carrying out credit or identity checks on our behalf. The use of your personal information is necessary for us to
            know who you are, as we have a legal obligation to comply with “Know Your Customer” and customer due diligence regulatory obligations.
        </p>

        <p>
            Compliance with a legal obligation<br> There are a number of legal obligations imposed by relevant laws to which we are subject, as well as specific statutory requirements e.g. anti-money laundering laws, financial services laws, corporation
            laws, privacy laws and tax laws. There are also various supervisory authorities whose laws and regulations apply to us. Such obligations and requirements imposed on us necessary personal data processing activities for identity verification,
            payment processing, compliance with court orders, tax laws or other reporting obligations and anti-money laundering controls.<br> These obligations apply at various times, including client on-boarding, payments and systemic checks for risk
            management.
        </p>
        <br>
        <p>
            <b>For the purpose of safeguarding legitimate interests</b><br> We process personal data so as to safeguard the legitimate interests pursued by us or by a third party. A legitimate interest is when we have a business or commercial reason to
            use your information. Example of such processing activities include the following:<br> Initiating legal claims and preparing our defense in litigation procedures;<br> Means and processes we undertake to provide for the Company's IT and system
            security, preventing potential crime, asset security and access controls;<br> Measures for managing the business and for further developing products and services;<br> Sharing your data within the Exchangily group of companies for the purpose
            of updating and/or verifying your personal data in accordance with the relevant anti-money laundering compliance frameworks, and
        </p>
        <br>
        <p>
            <b>Risk management.</b><br> To provide you with products and services, or information about our products and services, and to review your ongoing needs.<br> Once you successfully open an account with us, or subscribe to information, we must
            use your personal information to perform our services and comply with our obligations to you. It is also in our legitimate interests to try to ensure that we are providing the best products and services so we may periodically review your needs
            based on our assessment of your personal information to ensure that you are getting the benefit of the best possible products and services from us.<br> To help us improve our products and services, including support services, and develop and
            market new products and services.<br> We may, from time-to-time, use personal information provided by you through your use of the services and/or through client surveys to help us improve our products and services. It is in our legitimate
            interests to use your personal information in this way to try to ensure the highest standards when providing you with our products and services and to continue to be a market leader within the cryptocurrency financial service industry.
        </p>
        <br>
        <p>
            <b>To investigate or settle enquiries or disputes</b><br> We may need to use personal information collected from you to investigate issues or to settle disputes with you because it is our legitimate interest to ensure that issues and disputes
            get investigated and resolved in a timely and efficient manner.<br> To comply with applicable laws, subpoenas, court orders, other judicial process, or the requirements of any applicable regulatory authorities<br> We may need to use your personal
            information to comply with any applicable laws and regulations, subpoenas, court orders or other judicial processes, or requirements of any applicable regulatory authority. We do this not only to comply with our legal obligations but because
            it may also be in our legitimate interest to do so.
        </p>
        <br>
        <p>
            <b>To send you surveys</b><br> From time to time, we may send you surveys as part of our client feedback process. It is in our legitimate interest to ask for such feedback to try to ensure that we provide our products and services at the highest
            standard. However, we may from time to time also ask you to participate in other surveys and if you agree to participate in such surveys we rely on your consent to use the personal information we collect as part of such surveys. All responses
            to any survey we send out whether for client feedback or otherwise will be aggregated and depersonalized before the results are published and shared.
        </p>
        <br>
        <p>
            <b>Data analysis</b><br> Our website pages and emails may contain web beacons or pixel tags or any other similar types of data analysis tools that allow us to track receipt of correspondence and count the number of users that have visited
            our webpage or opened our correspondence. We may aggregate your personal information with the personal information of our other clients on an anonymous basis (that is, with your personal identifiers removed), so that more rigorous statistical
            analysis of general patterns may lead us to providing better products and services.<br> If your personal information is completely anonymised, we do not require a legal basis as the information will no longer constitute personal information.
            If your personal information is not in an anonymised form, it is in our legitimate interest to continually evaluate that personal information to ensure that the products and services we provide are relevant to the market.
        </p>
        <br>
        <p>
            <b>Marketing purposes</b><br> We may use your personal information to send you marketing communications by email or other agreed forms (including social media campaigns), to ensure you are always kept up-to-date with our latest products and
            services. If we send you marketing communications we will do so based on your consent and registered marketing preferences.
        </p>
        <br>
        <p>
            <b>Internal business purposes and record keeping</b><br> We may need to process your personal information for internal business and research purposes as well as for record keeping purposes. Such processing is in our own legitimate interests
            and is required in order to comply with our legal obligations. This may include any communications that we have with you in relation to the products and services we provide to you and our relationship with you. We will also keep records to
            ensure that you comply with your contractual obligations pursuant to the agreement (‘Terms of Service”) governing our relationship with you.
        </p>
        <br>
        <p>
            <b>Legal Notifications</b><br> Often the law requires us to advise you of certain changes to products or services or laws. We may need to inform you of changes to the terms or the features of our products or services. We need to process your
            personal information to send you these legal notifications. You will continue to receive this information from us even if you choose not to receive direct marketing information from us.
        </p>
        <br>
        <p>
            <b>Disclosure of your personal information</b><br> The Company will not disclose any of its clients' confidential information to a third party, except: (a) to the extent that it is required to do so pursuant to any applicable laws, rules or
            regulations; (b) if there is a duty to disclose; (c) if our legitimate business interests require disclosure; (d) in line with our Terms of Service; (e) at your request or with your consent or to those described in this Privacy Policy. The
            Company will endeavour to make such disclosures on a “need-to-know” basis, unless otherwise instructed by a regulatory authority. Under such circumstances, the Company will notify the third party regarding the confidential nature of any such
            information.
            <br> As part of using your personal information for the purposes set out above, the Company may disclose your personal information to the following:<br> Any members of the Company, which means that any of our affiliates and subsidiaries may
            receive such information;<br> Any of our service providers and business partners, for business purposes, such as specialist advisors who have been contracted to provide us with administrative, financial, legal, tax, compliance, insurance,
            IT, debt-recovery, analytics, research or other services;<br> If the Company discloses your personal information to service providers and business partners, in order to perform the services requested by clients, such providers and partners
            may store your personal information within their own systems in order to comply with their legal and other obligations.<br> We require that service providers and business partners who process personal information to acknowledge the confidentiality
            of this information, undertake to respect any client’s right to privacy and comply with all relevant privacy and data protection laws and this Privacy Policy.
        </p>
        <br>
        <p>
            <b>Where we store your personal data</b><br> Our operations are supported by a network of computers, servers, and other infrastructure and information technology, including, but not limited to, third-party service providers. We and our third-party
            service providers and business partners store and process your personal data in Canada, European Union, Japan, the United Kingdom, the United States of America and elsewhere in the world.
        </p>
        <br>
        <p>
            <b>Disclosures for National Security or Law Enforcement</b><br> Under certain circumstances, we may be required to disclose your personal information in response to valid requests by public authorities, including to meet national security
            or law enforcement requirements.
        </p>
        <br>
        <p>
            <b>Transfers of personal information outside of the European Economic Area (EEA) and the United Kingdom (UK)</b><br> We may transfer your personal information outside the EEA and UK to other Company subsidiaries, service providers and business
            partners (i.e Data Processors) who are engaged on our behalf. To the extent that we transfer your personal information outside of the EEA and UK, we will ensure that the transfer is lawful and that Data Processors in third countries are obliged
            to comply with the European Union (EU) General Data Protection Act 2016 and the UK Data Protection Act 2018. If transfers of personal information are processed in the US, we may in some cases rely on applicable standard contractual clauses,
            binding corporate rules, and EU-US Privacy Shield.
        </p>
        <br>
        <p>
            <b>Transfers of Personal Information outside of your country</b><br> By using our products and services, you consent to your Personal Data being transferred to other countries, including countries that have differing levels of privacy and
            data protection laws than your country. In all such transfers, we will protect your personal information as described in this Privacy Policy, and ensure that appropriate information sharing contractual agreements are in place. Transfers of
            personal information from APAC countries will be in line with the APEC Framework.
        </p>
        <br>
        <p>
            <b>Privacy when using digital assets and blockchains</b><br> Your funding of bitcoin, ether, FAB, EXG, BST and other Digital Assets, may be recorded on a public blockchain. Public blockchains are distributed ledgers, intended to immutably
            record transactions across wide networks of computer systems. Many blockchains are open to forensic analysis which can lead to deanonymization and the unintentional revelation of private financial information, especially when blockchain data
            is combined with other data.<br> Because blockchains are decentralized or third-party networks which are not controlled or operated by Exchangily LLC or its affiliates, we are not able to erase, modify, or alter personal data from such networks.
        </p>
        <br>
        <p>
            <b>Data Retention</b><br> Safeguarding the privacy of your personal information is of utmost importance to us, whether you interact with us personally, by phone, by email, over the internet or any other electronic medium. We will hold personal
            information, for as long as we have a business relationship with you, in secure computer storage facilities, and we take the necessary measures to protect the personal information we hold from misuse, loss, unauthorized access, modification
            or disclosure.<br> When we consider that personal information is no longer necessary for the purpose for which it was collected, we will remove any details that will identify you or we will securely destroy the records. However, we may need
            to maintain records for a significant period of time (after you cease being our client). For example, we are subject to certain anti-money laundering laws which require us to retain the following, for a period of 5 years after our business
            relationship with you has ended.<br> A copy of the records we used in order to comply with our client due diligence obligations;<br> Supporting evidence and records of transactions with you and your relationship with us.<br> Also, the personal
            information we hold in the form of a recorded information, by telephone, electronically or otherwise, will be held in line with local regulatory requirements (i.e. 5 years after our business relationship with you has ended or longer if you
            have legitimate interests (such as handling a dispute with you)). If you have opted out of receiving marketing communications we will hold your details on our suppression list so that we know you do not want to receive these communications.<br>            We may keep your data for longer than 5 years if we cannot delete if for legal, regulatory or technical reasons.
        </p>
        <br>
        <p>
            <b>Log Data</b><br> We want to inform you that whenever you use our Service, in the case of an error in the app we collect data and information (through third-party products) on your phone called Log Data. This Log Data may include information
            such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.
        </p>
        <br>
        <p>
            <b>Cookies</b><br> Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.<br> When
            you use our products and services, we may make use of the standard practice of placing tiny data files called cookies, flash cookies, pixel tags, or other tracking tools (herein, “Cookies”) on your computer or other devices used when engaging
            with us. We use Cookies to (i) help us recognize you as a customer, collect information about your use of our products and services, to better customize our services and content for you, and to collect information about your computer or other
            access devices to ensure our compliance with our BSA and AML obligations. Please refer to our Cookies Policy for further information.
        </p>
        <br>
        <p>
            <b>Your rights regarding your personal information</b><br> The rights that are available to you in relation to the personal information we hold about you are outlined below.
        </p>
        <br>
        <p>
            <b>Information Access</b><br> If you ask us, we will confirm whether we are processing your personal information and, if so, what information we process and, if requested, provide you with a copy of that information within 30 days from the
            date of your request.
        </p>
        <br>
        <p>
            <b>Rectification</b><br> It is important to us that your personal information is up to date. We will take all reasonable steps to make sure that your personal information remains accurate, complete and up-to-date. If the personal information
            we hold about you is inaccurate or incomplete, you are entitled to have it rectified. If we have disclosed your personal information to others, we will let them know about the rectification where possible. If you ask us, if possible and lawful
            to do so, we will also inform you with whom we have shared your personal information so that you can contact them directly.<br> You may inform us at any time that your personal details have changed by emailing us at support@biswap.com The
            Company will change your personal information in accordance with your instructions. To proceed with such requests, in some cases we may need supporting documents from you as proof i.e. personal information that we are required to keep for
            regulatory or other legal purposes.
        </p>
        <br>
        <p>
            <b>Erasure</b><br> You can ask us to delete or remove your personal information in certain circumstances such as if we no longer need it, provided that we have no legal obligation to retain that data. Such requests will be subject to the contract
            that you have with us, and to any retention limits we are required to comply with in accordance with applicable laws and regulations. If we have disclosed your personal information to others, we will let them know about the erasure request
            where possible. If you ask us, if possible and lawful to do so, we will also inform you with whom we have shared your personal information so that you can contact them directly.
        </p>
        <br>
        <p>
            <b>Processing restrictions</b><br> You can ask us to block or suppress the processing of your personal information in certain circumstances such as if you contest the accuracy of that personal information or object to us processing it. It
            will not stop us from storing your personal information. We will inform you before we decide not to agree with any requested restriction. If we have disclosed your personal information to others, we will let them know about the restriction
            of processing if possible. If you ask us, if possible and lawful to do so, we will also inform you with whom we have shared your personal information so that you can contact them directly.
        </p>
        <br>
        <p>
            <b>Data portability</b><br> In certain circumstances you might have the right to obtain personal information you have provided us with (in a structured, commonly used and machine readable format) and to re-use it elsewhere or ask us to transfer
            this to a third party of your choice.
        </p>
        <br>
        <p>
            <b>Objection</b><br> You can ask us to stop processing your personal information, and we will do so, if we are:<br> Relying on our own or someone else's legitimate interests to process your personal information except if we can demonstrate
            compelling legal grounds for the processing;<br> Processing your personal information for direct marketing; or<br> Processing your personal information for research unless we reasonably believe such processing is necessary or prudent for the
            performance of a task carried out in the public interest (such as by a regulatory or enforcement agency).
        </p>
        <br>
        <p>
            <b>Automated decision-making and profiling</b><br> If we have made a decision about you based solely on an automated process (e.g. through automatic profiling) that affects your ability to access our products and services or has another significant
            effect on you, you can request not to be subject to such a decision unless we can demonstrate to you that such decision is necessary for entering into, or the performance of, a contract between you and us. Even if a decision is necessary for
            entering into or performing a contract, you may contest the decision and require human intervention. We may not be able to offer our products or services to you, if we agree to such a request (i.e. end our relationship with you).
        </p>
        <br>
        <p>
            <b>Changes to this Privacy Policy</b><br> Our Privacy Policy is reviewed regularly to ensure that any new obligations and technologies, as well as any changes to our business operations and practices are taken into consideration, as well as
            that it remains abreast of the changing regulatory environment. Any personal information we hold will be governed by our most recent Privacy Policy.<br> If we decide to change our Privacy Policy, we will post those changes to this Privacy
            Policy and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.
        </p>
        <br>
        <p>
            <b>Children's Privacy</b><br> Our products and services are not directed to persons under the age of 18, hereinafter "Children", "Child" and we do not knowingly collect personal information from Children. If we learn that we have inadvertently
            gathered personal information from a Child, we will take legally permissible measures to remove that information from our records. The Company will require the user to close his or her account and will not allow the use of our products and
            services. If you are a parent or guardian of a Child, and you become aware that a Child has provided personal information to us, please contact us at support@Biswap.com and you may request to exercise your applicable access, rectification,
            cancellation, and/or objection rights.<br>
        </p>
        <br>
        <p>
            <b>Changes to This Privacy Policy</b><br> We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this
            page. This policy is effective as of 2022-10-01
        </p>
        <br>
        <p>
            <b>Contact Us</b><br> If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at support@Biswap.com and view our Privacy Policy online at https://Biswap.com/privacy
        </p>

    </div>

    <div *ngIf="lan === 'sc'">
        <b>简介</b>

        <p>
            注：内容以英文版为准，其它语言版本仅供参考。<br> 币旺(Biswap)是一个去中心化的应用, 通常我们不会收集客户敏感信息, 例如银行账户、信用卡等。但是，为了遵守AML的监管合规性，并且作为我们日常业务运营和管理的一部分，我们可能会从我们的客户和潜在客户那里收集一些个人信息，以便向他们提供我们的产品和服务，并确保我们在提供这些产品和服务时以及在提供这些产品和服务时能够满足他们的需求他们提供任何所需的信息。如果有人决定使用我们的服务，此页面用于告知访问者我们有关收集、使用和披露个人信息的政策。
            <br> 如果您选择使用我们的服务，则您同意收集和使用与本政策有关的信息。我们收集的个人信息用于提供和改进服务。我们不会使用或分享您的信息除本隐私政策中所述的任何人。
            <br> 您的隐私对我们至关重要，我们的政策是保护和尊重信息的机密性和个人隐私。<br> 本隐私政策规定了解 Exchangily LLC、其关联公司和子公司（统称为 Exchangilly LLC 实体“Biswap”、“公司”、“我们”、“我们”以及交易和直接销售）如何提供Biswap产品和服务提供的服务 Biswap（统称“Exchangily Exchange”或“Exchange”）收集、使用和管理我们从您或第三方收到的与我们向您提供服务或我们从您的使用中收集的个人信息有关的信息
            我们的服务和/或我们的网站。隐私政策还告知您在处理您的个人信息方面的权利。
            <br> 我们会定期审查我们的隐私政策，以确保任何新的义务和技术，以及我们业务运营和实践的任何变化都被考虑在内，并且它与不断变化的监管环境保持同步。我们持有的任何个人信息将受我们最近的隐私保护政策。
            <br> 请注意，如果您是本公司的员工、本公司的承包商或第三方供应商，您的个人信息将用于与您的雇佣合同或您的合同关系（以两者为准）适用。
            <br> 本隐私政策适用于 Biswap 对其客户及其潜在客户和网站访问者的个人信息进行的处理活动。<br> 我们可能随时修改本隐私政策，方法是发布本网站上的修订版本，包括修订版本的生效日期。我们将在我们的网站上公布对本隐私政策的任何重大更改。
        </p>
        <br>
        <b>定义</b>
        <p>
            2.1 如本文所用，以下术语定义如下：<br> 2.1.1 “数字资产”是价值的数字表示（也称为“加密货币”、“虚拟货币”、“数字货币”、“加密货币”代币”、“加密资产”或“数字商品”），例如比特币、XRP或以太币，它基于计算机网络的加密协议，该协议 (i) 去中心化，(ii) 封闭或开源，以及 (iii) 用作交换和/或价值存储。<br> 2.1.2 “Biswap 账户”是指通过 Biswap 平台（移动应用程序或网站）提供的 Biswap 钱包，其中数字资产由账户的私人存储和控制key.<br>            2.1.3 “Biswap支付服务”是指Biswap网站， Exchangily 运营的应用程序、服务或工具。<br> 2.1.4 “我们”和“我们”是指 Biswap 或 Exchangily。<br> 2.1.5 “个人信息”或“个人数据”或“您的数据”是指与您有关的任何信息，作为已识别的或可识别的自然人，包括您的姓名、身份证号码、位置数据或在线标识符，或与您作为自然人的身体、经济、文化或社会身份相关的一个或多个因素。
        </p>
        <br>
        <b>您的数据控制者</b>
        <p>
            Biswap 作为一个去中心化的应用程序，不收集用户信息，但是为了遵守 AML 的监管合规性，我们将要求用户在 Exchangily LLC 拥有的 IdDock 进行 KYC 流程。<br> 您与 Exchangily 签约 LLC，如下：
            <br> 您与 Exchangily LLC（美国）签订合同，地址为 2057 East Aurora Rd。 Suite B, Twinsburg OH 44087 United States.<br> 您与之签约的公司是您的数据控制者，负责收集、使用、根据我们的全球隐私标准、本隐私政策以及任何适用的国家法律披露、保留和保护您的个人信息。本公司使用加密来保护您的信息和存储不同系统中的解密密钥。我们在多个数据中心位置的服务器上处理和保留您的个人信息，包括欧盟、日本、英国、美利坚合众国和世界其他地方
            世界。
        </p>
        <br>
        <p>
            <b>我们如何保护个人信息？</b><br> 公司尊重访问其网站的任何用户的隐私，因此承诺采取一切合理措施保护任何现有或潜在客户、申请人和网站访问者。
            <br> 公司根据适用的隐私和数据保护法律法规保存其客户和潜在客户的任何个人数据。<br> 我们拥有必要和适当的技术以及组织措施和程序，以确保您的信息始终保持安全。我们定期培训并提高所有员工对维护、保护和尊重您的重要性的认识个人信息和隐私。我们非常重视侵犯个人隐私的行为，并将采取适当的纪律措施，包括解雇。我们还任命了一名集团数据保护官，以确保我们公司按照适用的隐私和数据保护法律法规以及本隐私政策管理和处理您的个人信息。
            <br> 您提供的个人信息我们在申请付款、申请公司内部职位或使用我们的网站时，被归类为注册信息，并以多种方式受到保护。登录后即可访问您的注册信息通过创建或恢复您的钱包来创建您的帐户。您有责任确保您的私钥或助记词只有您自己知道，不会透露给其他任何人，并且妥善保存，不会丢失或遗忘。提交信息安全地存放在安全的位置，只有经过授权的人员才能通过特殊工具在您的批准下访问它。所有个人信息均通过安全连接传输至公司，因此采取所有合理措施采取措施防止未经授权的各方查看任何此类信息。提供给公司的不属于注册信息的个人信息也将保存在安全的环境中，并可供授权人员访问
            只能通过用户名和密码。
        </p>
        <br>
        <p>
            <b>信息收集和使用</b><br>为了获得更好的体验，在使用我们的服务时，我们可能会要求您向我们提供某些个人身份信息，包括但不限于姓名、电子邮件、电话号码、钱包ID，助记词等。我们要求的信息将由我们保留并按照本隐私政策中的说明使用。
            <br> 为了与我们执行某些交易，您必须先填写并向我们提交“KYC流程”表格经过完成所需的信息。通过填写此表格并使用您的私钥签署批准，您允许我们向我们披露某些个人信息，以使公司能够执行交易并遵守相关法律（包括其规定）。
            <br>该应用确实使用了第三方服务，这些服务可能会收集用于识别您的信息。<br>链接到该应用使用的第三方服务提供商的隐私政策<br>
            <a href="https://www.google.com/policies/privacy/">Google Play 服务</a> 我们可能从您那里收集的信息如下：<br> 全名、居住地址和联系方式详细信息（例如电子邮件地址、电话号码、传真等）；<br> 出生日期、出生地点、性别、公民身份；<br> 银行账户信息、信用卡详细信息，包括有关您的资金来源、资产和负债和 OFAC 信息；<br> 交易账户余额、交易活动、您的查询和我们的回复；
            <br> 有关您是否担任重要公共职能 (PEP) 的信息；<br> 验证信息，其中包括验证您的身份所需的信息，例如护照、驾照或政府签发的身份证）；
            <br> 其他个人信息或商业和/或身份信息——我们全权酌情认为为履行我们在各种反洗钱 (AML) 项下的法律义务所必需的任何信息义务，例如根据欧盟的第 4 条反洗钱指令和美国银行保密法(BSA)。
        </p>
        <br>

        <p>
            <b>我们自动收集的关于您的信息。</b><br> 位置信息 – 通过分析系统提供商自动收集以确定您的位置的信息，包括您的 IP 地址和/或域名以及任何将您引荐给我们的外部页面、您的登录信息、浏览器类型和版本、时区设置、浏览器插件类型和版本、操作系统和平台；
        </p>
        <br>
        <p>
            <b>我们从其他来源收到的有关您的信息。</b><br>我们通过您使用我们的服务以多种方式获取有关您的信息，包括通过我们的任何网站、开户流程、网络研讨会标志向上形式，事件订阅、新闻和更新订阅，以及在持续支持服务通信过程中提供的信息。我们还从第三方（例如您的支付提供商）以及通过公开渠道接收有关您的信息可用来源。 <br> 例如：<br> 您用来向我们汇款的银行会向我们提供您的基本个人信息，例如您的姓名和地址，以及您的财务信息，例如您的银行账户详细信息；<br>您的业​​务合作伙伴可能会向我们提供您的姓名和地址以及财务信息；<br>            广告网络、分析提供商和搜索信息提供商可能会向我们提供匿名或去识别信息关于您的信息，例如确认您如何找到我们的网站；
            <br> 征信机构不会向我们提供有关您的任何个人信息，但可能会用于证实您提供给我们的信息。
        </p>
        <br>

        <p>
            <b>一般规定</b><br> 您提供给我们的个人信息将保留一年，即使您的流程不完整或被放弃。
        </p>
        <br>
        <p>
            <b>处理您的个人信息的合法依据</b><br> 我们将基于以下依据并出于以下目的处理您的个人信息：
        </p>
        <br>
        <p>
            履行合同<br> 我们处理个人数据是为了提供我们的服务和产品，以及基于与客户的合同关系（即履行我们的合同义务）。此外，对个人数据的处理是为了完成我们的客户入职流程。
            <br> 鉴于上述情况，我们必须验证您的身份才能接受您作为我们的客户我们将使用您的个人数据来有效地管理您在我们这里的交易账户。这可能包括代表我们进行信用或身份检查的第三方。我们有必要使用您的个人信息了解您是谁，因为我们有法律义务遵守“了解您的客户”和客户尽职调查监管义务。
        </p>

        <p>
            遵守法律义务<br> 我们必须遵守相关法律规定的许多法律义务，以及特定的法定要求，例如反洗钱法、金融服务法、公司法法律、隐私法和税法。还有各种监管机构的法律法规适用于我们。此类义务和要求对我们施加必要的个人数据处理活动以进行身份​​验证，付款处理、遵守法院命令、税法或其他报告义务以及反洗钱控制。
            <br> 这些义务适用于不同时间，包括客户入职、付款和系统风险检查管理。
        </p>
        <br>
        <p>
            <b>出于维护合法利益的目的</b><br> 我们处理个人数据是为了维护我们或第三方所追求的合法利益。合法利益是当我们有商业或商业理由使用您的信息。此类处理活动的示例包括：
            <br> 在诉讼程序中发起法律索赔并准备我们的辩护；<br> 我们承诺为公司的 IT 和系统提供的方式和流程安全、预防潜在犯罪、资产安全和访问控制；
            <br> 管理业务和进一步开发产品和服务的措施；<br> 为此目的在 Exchangily 集团公司内共享您的数据根据相关的反洗钱合规框架更新和/或验证您的个人数据。
        </p>
        <br>
        <p>
            <b>风险管理。</b><br> 为您提供产品和服务，或有关我们的产品和服务的信息，并审查您的持续需求。<br> 一旦您成功在我们这里开户或订阅信息，我们必须使用您的个人信息来执行我们的服务并遵守我们对您的义务。努力确保我们提供最好的产品和服务也符合我们的合法利益，因此我们可能会定期审查您的需求基于我们对您的个人信息的评估，以确保您从我们那里获得最好的产品和服务。
            <br> 帮助我们改进我们的产品和服务，包括支持服务，并开发和营销新产品和服务。
            <br> 我们可能会不时使用您通过使用服务和/或通过客户调查提供的个人信息来帮助我们改进产品和服务。它在我们的合法有兴趣以这种方式使用您的个人信息，以确保在向您提供我们的产品和服务时达到最高标准，并继续成为加密货币金融服务行业的市场领导者。
        </p>
        <br>
        <p>
            <b>调查或解决查询或争议</b><br>我们可能需要使用从您那里收集的个人信息来调查问题或解决与您的争议，因为确保问题和争议是我们的合法利益得到及时有效的调查和解决。
            <br> 为遵守适用法律、传票、法院命令、其他司法程序或任何适用监管机构的要求<br> 我们可能需要使用您的个人信息遵守任何适用法律法规、传票、法院命令或其他司法程序或任何适用监管机构的要求的信息。我们这样做不仅是为了遵守我们的法律义务，而且是因为这样做也可能符合我们的合法利益。
        </p>
        <br>
        <p>
            <b>向您发送调查问卷</b><br> 作为客户反馈流程的一部分，我们可能会不时向您发送调查问卷。要求此类反馈以确保我们以最高水平提供我们的产品和服务符合我们的合法利益标准。但是，我们可能会不时要求您参与其他调查，如果您同意参与此类调查，我们将依赖您的同意，将我们收集的个人信息用作此类调查的一部分。所有回复对于我们发送的任何调查，无论是出于客户反馈还是其他目的，都将在结果发布和共享之前进行汇总和去个性化处理。
        </p>
        <br>
        <p>
            <b>数据分析</b><br>我们的网站页面和电子邮件可能包含网络信标或像素标签或任何其他类似类型的数据分析工具，使我们能够跟踪收到的信件并计算访问过的用户数量我们的网页或打开我们的信件。我们可能会将您的个人信息与我们其他客户的个人信息进行匿名汇总（即去除您的个人识别信息），以便进行更严格的统计对一般模式的分析可能会导致我们提供更好的产品和服务。
            <br> 如果您的个人信息是完全匿名的，我们不需要法律依据，因为这些信息将不再构成个人信息。如果您的个人信息不是匿名形式，则不断评估该个人信息以确保我们提供的产品和服务与市场相关，符合我们的合法利益。
        </p>
        <br>
        <p>
            <b>营销目的</b><br>我们可能会使用您的个人信息通过电子邮件或其他约定的形式（包括社交媒体活动）向您发送营销信息，以确保您始终了解我们的最新信息产品和服务。如果我们向您发送营销通讯，我们将根据您的同意和注册的营销偏好发送。
        </p>
        <br>
        <p>
            <b>内部业务目的和记录保存</b><br> 我们可能需要出于内部业务和研究目的以及保存记录目的来处理您的个人信息。此类处理符合我们自己的合法利益并且是遵守我们的法律义务所必需的。这可能包括我们与您就我们向您提供的产品和服务以及我们与您的关系而进行的任何通信。我们还将保留记录以确保您根据管理我们与您的关系的协议（“服务条款”）遵守您的合同义务。
        </p>
        <br>
        <p>
            <b>法律通知</b><br> 通常，法律要求我们就产品或服务或法律的某些变更通知您。我们可能需要通知您我们产品或服务的条款或功能的更改。我们需要处理您的向您发送这些法律通知的个人信息。即使您选择不接收我们的直接营销信息，您仍将继续收到我们的这些信息。
        </p>
        <br>
        <p>
            <b>披露您的个人信息</b><br> 公司不会向第三方披露其客户的任何机密信息，除非：(a) 根据任何适用的法律、规则或法规； (b) 如果有披露义务； (c) 如果我们的合法商业利益需要披露； (d) 符合我们的服务条款； (e) 应您的要求或您的同意或本隐私政策中所述的那些。这除非监管机构另有指示，否则公司将努力在“需要知道”的基础上进行此类披露。在这种情况下，公司将通知第三方任何此类的机密性质信息。
            <br> 作为将您的个人信息用于上述目的的一部分，公司可能会向以下人员披露您的个人信息：<br> 公司的任何成员，这意味着我们的任何关联公司和子公司可能接收此类信息；
            <br> 我们的任何服务提供商和业务合作伙伴，出于商业目的，例如已签约为我们提供行政、财务、法律、税务、合规、保险、IT、债务追偿、分析、研究或其他服务；
            <br> 如果公司向服务提供商和业务合作伙伴披露您的个人信息，以执行客户、此类提供商和合作伙伴要求的服务可能会将您的个人信息存储在他们自己的系统中，以遵守他们的法律和其他义务。
            <br> 我们要求处理个人信息的服务提供商和业务合作伙伴承认保密承诺尊重任何客户的隐私权并遵守所有相关的隐私和数据保护法律以及本隐私政策。
        </p>
        <br>
        <p>
            <b>我们存储您的个人数据的位置</b><br> 我们的运营由计算机、服务器和其他基础设施和信息技术网络提供支持，包括但不限于第三方服务提供商。我们和我们的第三方服务提供商和业务合作伙伴在加拿大、欧盟、日本、英国、美利坚合众国和世界其他地方存储和处理您的个人数据。
        </p>
        <br>
        <p>
            <b>为国家安全或执法而披露</b><br>在某些情况下，我们可能会被要求披露您的个人信息以响应公共当局的有效要求，包括满足国家安全要求或执法要求。
        </p>
        <br>
        <p>
            <b>在欧洲经济区 (EEA) 和英国 (UK) 以外传输个人信息</b><br> 我们可能会将您的个人信息传输到 EEA 和英国以外的其他公司子公司、服务提供商和企业代表我们参与的合作伙伴（即数据处理器）。在我们将您的个人信息转移到欧洲经济区和英国以外的范围内，我们将确保转移是合法的，并且第三国的数据处理器有义务遵守 2016 年欧盟 (EU) 通用数据保护法和 2018 年英国数据保护法。如果在美国处理个人信息的传输，我们可能在某些情况下依赖适用的标准合同条款，具有约束力的公司规则和欧盟-美国隐私护盾。
        </p>
        <br>
        <p>
            <b>将个人信息传输到您所在国家/地区之外</b><br> 使用我们的产品和服务，即表示您同意将您的个人数据传输到其他国家/地区，包括具有不同隐私级别和数据保护法比您所在的国家/地区。在所有此类传输中，我们将按照本隐私政策的规定保护您的个人信息，并确保制定适当的信息共享合同协议。转让来自亚太国家的个人信息将符合 APEC 框架。
        </p>
        <br>
        <p>
            <b>使用数字资产和区块链时的隐私</b><br> 您对比特币、以太币、FAB、EXG、BST 和其他数字资产的资金可能会记录在公共区块链上。公共区块链是分布式账本，旨在不变跨计算机系统的广泛网络记录交易。许多区块链对取证分析持开放态度，这可能导致去匿名化和私人财务信息的无意泄露，尤其是当区块链数据
            <br> 由于区块链是去中心化或第三方网络，不受 Exchangily LLC 或其附属公司控制或运营，我们无法从此类网络中删除、修改或更改个人数据。
        </p>
        <br>
        <p>
            <b>数据保留</b><br> 保护您的个人信息的隐私对我们来说至关重要，无论您是通过电话、电子邮件、互联网还是任何其他电子媒介与我们互动。我们将举行个人信息，只要我们与您有业务关系，在安全的计算机存储设施中，我们会采取必要措施保护我们持有的个人信息不被滥用、丢失、未经授权的访问、修改
            <br> 当我们认为个人信息不再需要用于收集信息的目的时，我们将删除任何可以识别您身份的详细信息，或者我们将安全地销毁记录。然而，我们可能需要在很长一段时间内保留记录（在您不再是我们的客户之后）。例如，我们受某些反洗钱法律的约束，这些法律要求我们在开展业务后的 5 年内保留以下内容与您的关系已经结束。
            <br> 我们为履行客户尽职调查义务而使用的记录副本；<br> 支持与您的交易以及您与我们的关系的证据和记录。<br> 此外，个人的我们通过电话、电子或其他方式以记录信息的形式持有的信息将根据当地监管要求（即我们与您的业务关系结束后 5 年或更长时间，如果您有合法利益（例如处理与您的争议））。如果您选择不接收营销通讯，我们会将您的详细信息保留在我们的禁止列表中，以便我们知道您不想接收这些通讯。
            <br> 如果我们无法删除，我们可能会将您的数据保留 5 年以上法律、监管或技术原因。
        </p>
        <br>
        <p>
            <b>日志数据</b><br>我们想通知您，每当您使用我们的服务时，如果应用程序出现错误，我们会（通过第三方产品）在您的名为 Log 的手机上收集数据和信息数据。此日志数据可能包含信息例如您的设备互联网协议（“IP”）地址、设备名称、操作系统版本、使用我们服务时应用程序的配置、您使用服务的时间和日期以及其他统计数据。
        </p>
        <br>
        <p>
            <b>Cookies</b><br> Cookies 是包含少量数据的文件，通常用作匿名唯一标识符。这些信息从您访问的网站发送到您的浏览器，并存储在您设备的内存中。<br> 何时您使用我们的产品和服务，我们可能会使用标准做法，在您的计算机或参与互动时使用的其他设备上放置称为 cookie、flash cookie、像素标签或其他跟踪工具（在此称为“cookie”）的微小数据文件和我们。我们使用 Cookie 来 (i) 帮助我们将您识别为客户，收集有关您使用我们的产品和服务的信息，以便更好地为您定制我们的服务和内容，以及收集有关您的计算机或其他设备的信息
            访问设备，以确保我们遵守 BSA 和 AML 义务。请参阅我们的 Cookie 政策以获取更多信息。
        </p>
        <br>
        <p>
            <b>您对您的个人信息的权利</b><br> 您可以使用的与我们持有的有关您的个人信息相关的权利概述如下。
        </p>
        <br>
        <p>
            <b>信息访问</b><br>如果您向我们询问，我们将确认我们是否正在处理您的个人信息，如果正在处理过程中，我们会在30天后处理您的请求。
        </p>
        <br>
        <p>
            <b>更正</b><br>您的个人信息是最新的，这对我们很重要。我们将采取一切合理措施确保您的个人信息保持准确、完整和最新。如果个人信息我们对您的看法不准确或不完整，您有权要求纠正。如果我们向他人披露了您的个人信息，我们将尽可能让他们了解整改情况。如果您问我们，如果可能且合法为此，我们还将通知您我们与谁共享了您的个人信息，以便您可以直接与他们联系。
            <br>您可以随时通过发送电子邮件至 support@Biswap.com 通知我们您的个人详细信息已更改公司将按照您的指示更改您的个人信息。为了处理此类请求，在某些情况下，我们可能需要您提供的证明文件作为证明，即我们需要为监管而保留的个人信息或其他法律目的。
        </p>
        <br>
        <p>
            <b>删除</b><br>您可以要求我们在某些情况下删除或删除您的个人信息，例如我们不再需要您的个人信息，前提是我们没有保留该数据的法律义务。此类请求将受合同约束您在我们这里拥有的，以及我们根据适用法律和法规必须遵守的任何保留限制。如果我们已将您的个人信息透露给他人，我们会告知他们删除请求在可能的情况。如果您要求我们，在可能且合法的情况下，我们还将通知您我们与谁共享了您的个人信息，以便您可以直接与他们联系。
        </p>
        <br>
        <p>
            <b>处理限制</b><br> 您可以要求我们在某些情况下阻止或禁止处理您的个人信息，例如如果您质疑个人信息的准确性或反对我们处理这些信息。它不会阻止我们存储您的个人信息。在我们决定不同意任何请求的限制之前，我们会通知您。如果我们已将您的个人信息透露给他人，我们会告知他们有关限制的信息如果可能的话处理。如果您要求我们，在可能且合法的情况下，我们还将通知您我们与谁共享了您的个人信息，以便您可以直接与他们联系。
        </p>
        <br>
        <p>
            <b>数据可移植性</b><br> 在某些情况下，您可能有权获取您提供给我们的个人信息（以结构化、常用和机器可读的格式）并在其他地方重新使用或要求我们转移这给您选择的第三方。
        </p>
        <br>
        <p>
            <b>反对</b><br>您可以要求我们停止处理您的个人信息，我们会这样做，如果我们是：<br> 依靠我们自己或他人的合法利益来处理您的个人信息，除非如果我们能证明处理您的个人信息的令人信服的法律依据；
            <br> 处理您的个人信息以进行直接营销；或<br> 处理您的个人信息以进行研究，除非我们有理由相信此类处理对于执行为公共利益而执行的任务（例如由监管或执法机构）。
        </p>
        <br>
        <p>
            <b>自动决策和分析</b><br>如果我们仅根据影响您访问我们的产品和服务的能力或具有其他重大影响的自动化流程（例如通过自动分析）对您做出决定对您而言，您可以要求不受此类决定的约束，除非我们能够向您证明该决定对于您与我们之间签订或履行合同是必要的。即使有必要做出决定签订或履行合同时，您可以对决定提出异议并要求人为干预。如果我们同意此类请求（即终止我们与您的关系），我们可能无法向您提供我们的产品或服务。
        </p>
        <br>
        <p>
            <b>本隐私政策的变更</b><br> 我们会定期审查我们的隐私政策，以确保考虑到任何新的义务和技术，以及对我们业务运营和实践的任何变更，以及确保它与不断变化的监管环境保持同步。我们持有的任何个人信息都将受我们最新的隐私政策的约束。
            <br> 如果我们决定更改我们的隐私政策，我们会将这些更改发布到本隐私政策和我们认为合适的其他地方，以便您了解我们收集哪些信息、我们如何使用这些信息以及在什么情况下（如果有）我们会披露这些信息。
        </p>
        <br>
        <p>
            <b>儿童隐私</b><br> 我们的产品和服务不针对 18 岁以下的人，以下简称“儿童”、“儿童”，我们不会故意收集儿童的个人信息。如果我们得知我们不经意间从儿童那里收集的个人信息，我们将采取法律允许的措施从我们的记录中删除该信息。公司将要求用户关闭其帐户，并且不允许使用我们的产品和服务。如果您是孩子的父母或监护人，并且您知道孩子向我们提供了个人信息，请通过 support@Biswap.com 与我们联系，您可以要求行使您的适用访问权限、更正、取消、和/或反对权。
            <br>
        </p>
        <br>
        <p>
            <b>本隐私政策的变更</b><br>我们可能会不时更新我们的隐私政策。因此，建议您定期查看此页面以了解任何更改。我们将通过在此发布新的隐私政策来通知您任何更改页。本政策自2022-10-01起生效
        </p>
        <br>
        <p>
            <b>联系我们</b><br>如果您对我们的隐私政策有任何疑问或建议，请随时通过 support@biswap.com 与我们联系，并通过 https://biswap.com 在线查看我们的隐私政策/隐私
        </p>
    </div>

    <br><br><br><br><br><br>
</div>