<div class="container market-top">
    <div class="row">
        <div class="col col-md-3 col-sm-6 col-12 top-border-right">
            <app-market-top-block #marketTopBlock1 [pair]="'BTC/DUSD'">

            </app-market-top-block>
        </div>
        <div class="col col-md-3 col-sm-6 col-12 top-border-right">
            <app-market-top-block #marketTopBlock2 [pair]="'FAB/DUSD'">

            </app-market-top-block>
        </div>
        <div class="col col-md-3 col-sm-6 col-12 top-border-right">
            <app-market-top-block #marketTopBlock3 [pair]="'ETH/DUSD'">

            </app-market-top-block>
        </div>
        <div class="col col-md-3 col-sm-6 col-12">
            <app-market-top-block #marketTopBlock4 [pair]="'EXG/DUSD'">

            </app-market-top-block>
        </div>
    </div>

</div>