.newsBody {
    margin-top: 60px;
    margin-bottom: 60px;
}

.Articles {
    margin-top: 60px;
    margin-bottom: 60px;
}

.main-panel {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    padding: 1em;
}

.announcements {
    margin-top: 2em;
    width: 100%;
}

.media {
    margin-top: 3em;
    width: 100%;
    padding: 1em;
}

.media img {
    width: 200px;
    height: 200px;
}