<div bsModal #loginSettingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <form [formGroup]="loginSettingForm" (ngSubmit)="onSubmit()">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 text-dark">Login Setting</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Wallet Password</label>
                        <input type="password" class="form-control transparent-input" formControlName="password" id="password" placeholder="Type wallet password">
                        <div class="error text-danger smallfont" *ngIf="!loginSettingForm.get('password').valid && loginSettingForm.get('password').touched">
                            {{"Pwdvalid" | translate}}.
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputPassword2">Confirm Wallet Password</label>
                        <input type="password" class="form-control transparent-input" formControlName="pwdconfirm" id="pwdconfirm" placeholder="Type wallet password">
                        <div class="error text-danger smallfont" *ngIf="loginSettingForm.get('pwdconfirm').touched && loginSettingForm.hasError('notSame')">
                            {{"Password doesn't match" | translate }}!
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="pull-left">
                        <button class="btn btn-gradient text-white" type="submit"> Confirm </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>