<div class="ticketsPage">
    <div class="container">
        <div class="row">
            <h1 class="mb-3 col-auto mr-auto exTitle">Tickets</h1>
            <div class="addTicket col-auto"><a href="/ticket-add"><button class=" exbtn">NEW TICKET</button></a></div>
        </div>
        <div class="topSearch">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Toptic" aria-label="Search Toptic"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                </div>
            </div>
        </div>
        <mat-tab-group mat-align-tabs="start" class="tabGroup">
            <mat-tab *ngFor="let title of tabTitles" label={{title}}>

                <table role="table">
                    <thead role="rowgroup">
                        <tr role="row">
                            <th role="columnheader">ID</th>
                            <th role="columnheader">User Name</th>
                            <th role="columnheader">Title</th>
                            <th role="columnheader">Status</th>
                        </tr>
                    </thead>
                    <tbody role="rowgroup">
                        <tr role="row">
                            <td role="cell">01</td>
                            <td role="cell">Matman</td>
                            <td role="cell">Chief Sandwich Eater</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">02</td>
                            <td role="cell">Tick</td>
                            <td role="cell">Crimefighter Sorta</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">03</td>
                            <td role="cell">Smurf</td>
                            <td role="cell">Giving Exploding Presents</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">04</td>
                            <td role="cell">Beyler</td>
                            <td role="cell">Sales Representative</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">05</td>
                            <td role="cell">Cool</td>
                            <td role="cell">Tree Crusher</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">01</td>
                            <td role="cell">Matman</td>
                            <td role="cell">Chief Sandwich Eater</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">02</td>
                            <td role="cell">Tick</td>
                            <td role="cell">Crimefighter Sorta</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">03</td>
                            <td role="cell">Smurf</td>
                            <td role="cell">Giving Exploding Presents</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">04</td>
                            <td role="cell">Beyler</td>
                            <td role="cell">Sales Representative</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">05</td>
                            <td role="cell">Cool</td>
                            <td role="cell">Tree Crusher</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">01</td>
                            <td role="cell">Matman</td>
                            <td role="cell">Chief Sandwich Eater</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">02</td>
                            <td role="cell">Tick</td>
                            <td role="cell">Crimefighter Sorta</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">03</td>
                            <td role="cell">Smurf</td>
                            <td role="cell">Giving Exploding Presents</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">04</td>
                            <td role="cell">Beyler</td>
                            <td role="cell">Sales Representative</td>
                            <td role="cell">open</td>
                        </tr>
                        <tr role="row">
                            <td role="cell">05</td>
                            <td role="cell">Cool</td>
                            <td role="cell">Tree Crusher</td>
                            <td role="cell">open</td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>