<div class="container" *ngIf="transactionHistory">
    <div class=" row apair header ">
        <div class="col-2">
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-link dropdown-toggle text-white" aria-controls="dropdown-basic">
                    {{currentType | translate}} <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem" *ngIf="currentType !== 'All'">
                        <a class="dropdown-item" (click)="changeType('All')">{{"All" | translate}}</a>
                    </li>
                    <li role="menuitem" *ngIf="currentType !== 'Deposit'">
                        <a class="dropdown-item" (click)="changeType('Deposit')">{{"Deposit" | translate}}</a>
                    </li>
                    <li role="menuitem" *ngIf="currentType !== 'Withdraw'">
                        <a class="dropdown-item" (click)="changeType('Withdraw')">{{"Withdraw" | translate}}</a>
                    </li>
                    <li role="menuitem" *ngIf="currentType !== 'Send'">
                        <a class="dropdown-item" (click)="changeType('Send')">{{"Send" | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-custom-1">
            {{"Asset" | translate}}
        </div>
        <div class="col-3 ">
            {{"Time" | translate}}
        </div>
        <div class="col-2 ">
            {{"Amount" | translate}}
        </div>
        <div class="col-2 ">
            {{"Value(USD)" | translate}}
        </div>
        <div class="col-custom-2">
            {{"Comment" | translate}}
        </div>
    </div>
    <div class="container-wallet-main scroll-bar">

        <div class="row apair dataline" *ngFor="let item of transactions ; index as i">
            <div class="col-2">
                <p>{{item.action}}</p>
            </div>
            <div class="col-custom-1">
                <p>{{item.coin}}</p>
            </div>
            <div class="col-3 ">
                <p>{{item.timestamp?utilServ.getFormattedDate(item.timestamp):''}}</p>
            </div>
            <div class="col-2 ">
                <p>{{item.quantity}}</p>
            </div>
            <div class="col-2 ">
           </div>
            <div class="col-custom-2">
                <p>
                    <button mat-icon-button (click)="showTransactionDetail2(item)" aria-label="Example icon-button with a heart icon">
                        <mat-icon svgIcon="detail"></mat-icon>
                    </button>
                </p>
            </div>
        </div>

        <div class="row apair dataline" *ngFor="let item of transactionHistory | transactionType:currentType ; index as i">
            <div class="col-2">
                <p>{{item.type | translate}}</p>
            </div>
            <div class="col-custom-1">
                <p>{{item.coin}}</p>
            </div>
            <div class="col-3 ">
                <p>{{item.time?utilServ.getFormattedDate(item.time):''}}</p>
            </div>
            <div class="col-2 ">
                <p>{{utilServ.toPrecision(item.amount)}}</p>
            </div>
            <div class="col-2 ">
                <p *ngIf="item.coin == 'BTC' && coinsPrice && coinsPrice.bitcoin">{{utilServ.toPrecision(item.amount * coinsPrice.bitcoin.usd)}}</p>
                <p *ngIf="item.coin == 'FAB' && coinsPrice && coinsPrice.fabcoin">{{utilServ.toPrecision(item.amount * coinsPrice.fabcoin.usd)}}</p>
                <p *ngIf="item.coin == 'ETH' && coinsPrice && coinsPrice.ethereum">{{utilServ.toPrecision(item.amount * coinsPrice.ethereum.usd)}}</p>
                <p *ngIf="item.coin == 'USDT' && coinsPrice && coinsPrice.tether">{{utilServ.toPrecision(item.amount * coinsPrice.tether.usd)}}</p>
                <p *ngIf="item.coin == 'EXG' && coinsPrice && coinsPrice.exgcoin">{{utilServ.toPrecision(item.amount * coinsPrice.exgcoin.usd)}}</p>
            </div> 
            <div class="col-custom-2">
                <p> 
                    {{item.comment}}
                    <button mat-icon-button (click)="showTransactionDetail(item)" aria-label="Example icon-button with a heart icon">
                    <mat-icon svgIcon="detail"></mat-icon>
                </button>
                </p>
            </div>  
        </div> 
    </div>
</div>
<div class="px-3 text-muted container-no-transactions" *ngIf="!transactionHistory">{{"No transaction"|translate}}</div>
<transaction-detail-modal #transactionDetailModal></transaction-detail-modal>
<transaction-detail2-modal #transactionDetailModal2></transaction-detail2-modal>