<div class="container">
    <div class=" row apair header ">
        <div class="col-2">
            {{"Type" | translate}}
        </div>
        <div class="col-1 ">
            {{"Asset" | translate}}
        </div>
        <div class="col-3 ">
            {{"Time" | translate}}
        </div>
        <div class="col-2 ">
            {{"Amount" | translate}}
        </div>
        <div class="col-2 ">
            {{"Value(USD)" | translate}}
        </div>
        <div class="col-2">
            {{"Comment" | translate}}
        </div>
    </div>
    <div class="container-wallet-main scroll-bar">
        <div class="row apair dataline" *ngFor="let item of transactionHistory; index as i">
            <div class="col-2">
                <p>{{item.type}}</p>
            </div>
            <div class="col-1 ">
                <p>{{item.coin}}</p>
            </div>
            <div class="col-3 ">
                <p>{{item.time?utilServ.getFormattedDate(item.time):''}}</p>
            </div>
            <div class="col-2 ">
                <p>{{utilServ.toPrecision(item.amount)}}</p>
            </div>
            <div class="col-2 ">
                <p *ngIf="item.coin == 'BTC' && coinsPrice && coinsPrice.bitcoin">{{utilServ.toPrecision(item.amount * coinsPrice.bitcoin.usd)}}</p>
                <p *ngIf="item.coin == 'FAB' && coinsPrice && coinsPrice.fabcoin">{{utilServ.toPrecision(item.amount * coinsPrice.fabcoin.usd)}}</p>
                <p *ngIf="item.coin == 'ETH' && coinsPrice && coinsPrice.ethereum">{{utilServ.toPrecision(item.amount * coinsPrice.ethereum.usd)}}</p>
                <p *ngIf="item.coin == 'USDT' && coinsPrice && coinsPrice.tether">{{utilServ.toPrecision(item.amount * coinsPrice.tether.usd)}}</p>

            </div>
            <div class="col-2 ">
                <p>
                    {{item.comment}}
                    <button mat-icon-button (click)="showTransactionDetail(item)" aria-label="Example icon-button with a heart icon">
                    <mat-icon>apps</mat-icon>
                </button>
                </p>
            </div>
        </div>
    </div>
</div>
<transaction-detail-modal #transactionDetailModal></transaction-detail-modal>