<div class="container-fluid">
    <div class="row outbox">

        <h3>KYC</h3>

        <div class="statebox" *ngIf="_userAuth.kyc > 0 && _userAuth.kyc !== 3">
            {{kycState}}
        </div>
        <div class="statebox redcolor" *ngIf="_userAuth.kyc === 3">
            <!-- Your KYC {{kycState}} -->
        </div>

        <form *ngIf="!_userAuth.kyc || _userAuth.kyc < 1 || _userAuth.kyc === 3" name="kycForm" class="kyc kycform" (ngSubmit)="saveKyc()" [formGroup]="kycForm" #formDir="ngForm">
            <ng-container *ngIf="!submitted">
                <p class="app-kyc__note">{{ 'Form.USCitizen' | translate }}</p>

                <div class="form-input__field-wrap">
                    <label for="name" class="form-input__text__label block">{{ 'Form.Full Name' | translate }} *</label>
                    <input type="text" name="name" formControlName="name" required class="form-input__text">
                    <div *ngIf="kGet('name').invalid && (kGet('name').dirty || kGet('name').touched)" class="form-input__error">
                        <p *ngIf="kGet('name').errors.required">
                            {{ 'FormErrors.FieldRequiredError' | translate }}
                        </p>
                    </div>-
                </div>

                <div class="form-input__field-wrap">
                    <label for="email" class="form-input__text__label block">{{ 'Form.Email' | translate }} *</label>
                    <input type="email" name="email" required class="form-input__text" formControlName="email">
                    <div *ngIf="kGet('email').invalid && (kGet('email').dirty || kGet('email').touched)" class="form-input__error">
                        <p *ngIf="kGet('email').errors.required">
                            {{ 'FormErrors.FieldRequiredError' | translate }}
                        </p>
                        <p *ngIf="kGet('email').errors.email">
                            {{ 'FormErrors.ValidEmailError' | translate }}
                        </p>
                    </div>
                </div>

                <div class="form-input__field-wrap">
                    <label for="countryOfBirth" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.CitizenshipBox.Title' | translate }}</label>
                    <app-country-picker formControlName="countryOfBirth"></app-country-picker>
                    <p>{{ 'Account.KYC.KYCForm.CitizenshipBox.Desc' | translate }}</p>
                </div>

                <div class="form-input__field-wrap">
                    <label for="dateOfBirth" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.DateOfBirth.Title' | translate }}</label>
                    <input type="date" name="dateOfBirth" class="form-input__text" formControlName="dateOfBirth">
                    <p style="color: orange;">{{ 'Account.KYC.KYCForm.DateOfBirth.Desc' | translate }}</p>
                    <div *ngIf="kGet('dateOfBirth').invalid && (kGet('dateOfBirth').dirty || kGet('dateOfBirth').touched)" class="form-input__error">
                        <p *ngIf="kGet('dateOfBirth').errors.required">
                            {{ 'FormErrors.FieldRequiredError' | translate }}
                        </p>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-input__field-wrap w-50">
                        <label for="homeAddress" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.AddressLine1' | translate }}</label>
                        <input type="text" name="homeAddress" class="form-input__text" formControlName="homeAddress">
                        <div><small class="text-muted">{{ 'Account.KYC.KYCForm.AddressLine1Hint' | translate }}</small></div>

                    </div>

                    <div class="form-input__field-wrap w-50">
                        <label for="homeAddress" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.AddressLine2' | translate }}</label>
                        <input type="text" name="homeAddress2" class="form-input__text" formControlName="homeAddress2">
                        <div><small class="text-muted">{{ 'Account.KYC.KYCForm.AddressLine2Hint' | translate }}</small></div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-input__field-wrap w-50">
                        <label for="homeAddress" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.City' | translate }}</label>
                        <input type="text" name="homeAddress" class="form-input__text" formControlName="city">

                    </div>

                    <div class="form-input__field-wrap w-25">
                        <label for="homeAddress" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.Province' | translate }}</label>
                        <input type="text" name="homeAddress2" class="form-input__text" formControlName="province">
                    </div>

                    <div class="form-input__field-wrap w-25">
                        <label for="homeAddress" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.PostalCode' | translate }}</label>
                        <input type="text" name="homeAddress2" class="form-input__text" formControlName="postalCode">
                    </div>
                </div>

                <div class="form-input__field-wrap">
                    <label for="countryOfResidency" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.CountryBox.Title' | translate }}</label>
                    <app-country-picker (change)="accreditedInvestorToggle($event)" formControlName="countryOfResidency"></app-country-picker>
                    <p>{{ 'Account.KYC.KYCForm.CountryBox.Desc' | translate }}</p>
                </div>

                <div *ngIf="couldBeAccredited" class="form-input__field-wrap">
                    <label for="accreditedInvestor" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.AccreditedInvestorVerification.Question' | translate }}</label>

                    <div fxLayout="row" fxLayoutGap="2em">
                        <label class="inline-block">
          <input type="radio" value="false" formControlName="accreditedInvestor">
          <span>{{ 'Account.KYC.KYCForm.AccreditedInvestorVerification.No' | translate }}</span>
        </label>

                        <label class="inline-block">
          <input type="radio" value="true" formControlName="accreditedInvestor">
          <span>{{ 'Account.KYC.KYCForm.AccreditedInvestorVerification.Yes' | translate }}</span>
        </label>
                        <p>{{ 'Account.KYC.KYCForm.AccreditedInvestorVerification.Desc' | translate }}</p>
                    </div>
                </div>
                <!--
                <div *ngIf="couldBeAccredited && kGet('accreditedInvestor') && kGet('accreditedInvestor').value === 'true'">
                    <div class="form-input__field-wrap">
                        <label for="saftAgreement" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.SAFT.Button' | translate }}</label>
                        <input type="file" name="saftAgreement" (change)="photoUpload($event.target.files, 'saftAgreement')" class="form-input__file" formControlName="saftAgreement">
                    </div>
                </div>
-->
                <br/>

                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex="45" class="form-input__field-wrap">
                        <label for="photoUrls" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.PhotoID.Title' | translate }}</label>
                        <div class="form-input__file-wrap">
                            <input type="file" name="photoUrls" (change)="photoUpload($event.target.files, 'photoUrls')" class="form-input__file fileloader" formControlName="photoUrls" multiple>
                            <p class="app-kyc__note">{{ 'Account.KYC.KYCForm.PhotoID.Desc' | translate }}</p>
                        </div>

                        <div *ngIf="photoUrls.length > 0">
                            <img class="imgload" id='id1' width='64px'>
                            <img class="imgload" id='id2' width='64px'>
                            <img class="imgload" id='id3' width='64px'>
                            <img class="imgload" id='id4' width='64px'>
                        </div>
                    </div>

                    <div fxFlex="55" class="kyc__id--image">
                    </div>
                </div>

                <br/>

                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex="45" class="form-input__field-wrap">
                        <label for="selfieUrls" class="form-input__text__label block">{{ 'Account.KYC.KYCForm.SelfieWithId.Title' | translate }}</label>
                        <input type="file" name="selfieUrls" (change)="photoUpload($event.target.files, 'selfieUrls')" class="form-input__file fileloader" formControlName="selfieUrls" multiple>

                        <p>1. {{ 'Account.KYC.KYCForm.SelfieWithId.Desc.Content1' | translate }}</p>
                        <p>2. {{ 'Account.KYC.KYCForm.SelfieWithId.Desc.Content2' | translate }}</p>
                        <p>3. {{ 'Account.KYC.KYCForm.SelfieWithId.Desc.Content3' | translate }}</p>
                        <p>4. {{ 'Account.KYC.KYCForm.SelfieWithId.Desc.Content4' | translate }}</p>
                        <p>5. {{ 'Account.KYC.KYCForm.SelfieWithId.Desc.Content5' | translate }}</p>


                        <div *ngIf="selfieUrls.length > 0">
                            <img class="imgload" id='self1' width='64px'>
                            <img class="imgload" id='self2' width='64px'>
                            <img class="imgload" id='self3' width='64px'>
                            <img class="imgload" id='self4' width='64px'>
                        </div>
                    </div>

                    <div fxFlex="55" class="kyc__selfie--image">
                    </div>
                </div>

                <br/>

                <div *ngIf="errMsg" class="form-input__error">
                    <p style="font-size:small;">{{ errMsg }}</p>
                </div>

                <div class="form-input__field-wrap col-12 center">
                    <p class="app-kyc__note__final">{{ 'Form.Verify' | translate }}</p>
                    <button type="submit" class="form-input__button background-secondary color-white"><span class="color-white">{{ 'Form.SubmitKYC' | translate }}</span></button>
                </div>
            </ng-container>

            <ng-container *ngIf="submitted">
                <p>{{ 'Form.KYCSubmission Thanks' | translate }}</p>
            </ng-container>
        </form>
    </div>
</div>