<div *ngIf="order" class="p-3 text-white">
    <b>{{"Order Hash"|translate}} : </b>
    <a href="/explorer/order-detail/{{order.orderHash}}">
        {{order.orderHash}}
    </a>
    
    <br>
    <b>{{"Pair"| translate}} : </b>{{order.pairName}}<br>
    <b>{{"Order Type"|translate}} :
        <span *ngIf="order.bidOrAsk" class="green">{{"Buy"|translate}}</span>
        <span *ngIf="!order.bidOrAsk" class="red">{{"Sell"|translate}}</span>
    </b><br>
    <b>{{"Original Order Quantity"|translate}} : </b>{{order.originalOrderQuantity | number:'1.2-10' }}<br>
    <b>{{"Current Order Quantity"|translate}} : </b>{{order.currentOrderQuantity | number:'1.2-10' }}<br>
    <b>{{"Filled Quantity"|translate}} : </b>{{order.filledQuantity | number:'1.2-10' }}<br>
    <b>{{"Order Date"|translate}} : </b>{{ order.time * 1000 | date : 'EEEE, MMMM d, yyyy h:mm:ss a'}}<br>
    <b>{{"Current Status"|translate}} :
        <span *ngIf="order.isActive" class="green">{{"Active"|translate}}</span>
        <span *ngIf="!order.isActive" class="gray">{{"Inactive"|translate}}</span>
    </b><br>

    <b>{{"Matched Orders"|translate}} : </b>
    <span *ngIf="order.matchedOrders.length === 0">{{"None"|translate}}</span><br>
    <div *ngFor="let m of order.matchedOrders; let i=index" class="orderline">
        <b>{{"Order Hash"|translate}} : </b> 
        <a href="/explorer/order-detail/{{m.orderHash}}">
            {{m.orderHash}}
        </a>                            
        
        <br>
        <b>{{"Quantity"|translate}} : </b>{{m.quantity | number:'1.2-10' }}<br>
        <b>{{"Price"|translate}} : </b>{{m.price | number:'1.2-10' }}<br>
        <b>{{"Block Number"|translate}} : </b>{{order.blockNumber.fulfilOrder[i]}}
    </div>

    <b>{{"Create Order Transaction Hash"|translate}} : </b>{{order.txHash.createOrder}}<br>
    <span *ngIf="order.txHash.cancelOrder"><b>{{"Cancel Order Transaction Hash"|translate}}</b>{{order.txHash.cancelOrder}}<br></span>

    <b>{{"Create Order Block Number"|translate}} : </b>{{order.blockNumber.createOrder}}
    <span *ngIf="order.blockNumber.cancelOrder"><b>{{"Cancel Order Block Number"|translate}}</b>{{order.blockNumber.cancelOrder}}<br></span>

</div>