<div bsModal #sendCoinModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="sendCoinForm" (ngSubmit)="onSubmit()">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 text-dark">Send Coin</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputSendTo" class="text-muted">Send to</label>
                        <input type="text" class="form-control" id="inputSendTo" aria-describedby="emailHelp" formControlName="sendTo" placeholder="Wallet address">
                    </div>
                    <div class="form-group">
                        <label for="inputSendTo" class="text-muted">Currency</label>
                        <div class="row">
                            <div class="col">
                                <select class="custom-select" (change)="onChange($event.target.value)" formControlName="selectedCoinIndex" *ngIf="wallet">
                                    <option [value]="i" *ngFor="let coin of wallet.mycoins;let i = index">{{coin.name}}</option>
                                </select>

                            </div>
                            <div class="col">
                                <div class="pull-right text-muted" *ngIf="wallet">
                                    Balnace:{{wallet.mycoins[sendCoinForm.get('selectedCoinIndex').value].balance}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSendTo" class="text-muted">Send amount</label>
                        <input type="text" class="form-control" id="inputSendAmount" formControlName="sendAmount" aria-describedby="emailHelp" placeholder="0.0000">
                    </div>

                    <div class="form-group">
                        <label for="inputSendTo" class="text-muted">Comment</label>
                        <input type="text" class="form-control" id="inputComment" formControlName="comment" aria-describedby="emailHelp" placeholder="">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col text-muted">
                                Gas fee </div>
                            <div class="col text-muted">
                                <div class="pull-right">
                                    0.000033
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col text-muted">
                                Gas fee advanced
                            </div>
                            <div class="col text-muted">
                                <div class="pull-right">
                                    <mat-slide-toggle formControlName="gasFeeCustomChecked">Slide me!!</mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="sendCoinForm.get('gasFeeCustomChecked').value">
                        <div *ngIf="wallet.mycoins[sendCoinForm.get('selectedCoinIndex').value].name === 'ETH' || wallet.mycoins[sendCoinForm.get('selectedCoinIndex').value].tokenType === 'ETH'">
                            <div class="form-group">
                                <label for="gasPrice" class="text-muted">Gas Price(Gwei)</label>
                                <input type="text" class="form-control" id="inputGasPrice" formControlName="gasPrice" placeholder="0">
                            </div>
                            <div class="form-group">
                                <label for="gasPrice" class="text-muted">Gas Limit</label>
                                <input type="text" class="form-control" id="inputGasLimit" formControlName="gasLimit" placeholder="0">
                            </div>
                        </div>
                        <div *ngIf="wallet.mycoins[sendCoinForm.get('selectedCoinIndex').value].name === 'BTC'">
                            <div class="form-group">
                                <label for="gasPrice" class="text-muted">Satoshis/byte</label>
                                <input type="text" class="form-control" id="inputSatoshisPerByte" formControlName="satoshisPerByte" placeholder="0">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="pull-left">
                        <button class="btn btn-gradient text-white" type="submit"> {{"Send" | translate }} </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>