<div class="container text-white">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="FAB Call">
            <div class="row row-flex">
                <div class="w-50 px-1">
                    <div class="exg-bg content">
                        <div class="container">

                            <div class="py-3">
                                {{'Smart contract name' | translate}}
                                <mat-select (selectionChange)="changeContractName($event.value)" [value]="contractName">
                                    <mat-option *ngFor="let name of contractNames" [value]="name" class="text-muted">
                                        {{name}}
                                    </mat-option>
                                </mat-select>
                            </div>
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="smartContractAddress" name="smartContractAddress">
                                <mat-placeholder class="text-muted">{{'Smart contract address' | translate}}</mat-placeholder>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label class="text-muted">{{'Function' | translate}}</mat-label>
                                <mat-select (selectionChange)="changeMethod($event.value)" [value]="abiName">
                                    <mat-option *ngFor="let abi of ABI" [value]="abi.name" class="text-muted">
                                        {{abi.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="gasPrice" name="gasPrice">
                                <mat-placeholder class="text-muted">{{'Gas Price' | translate}}</mat-placeholder>
                            </mat-form-field>    
                            
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="gasLimit" name="gasLimit">
                                <mat-placeholder class="text-muted">{{'Gas Limit' | translate}}</mat-placeholder>
                            </mat-form-field>                              
                            <div class="py-3" *ngIf="wallet">
                                {{'Current wallet' | translate}}: {{wallet.name}}
                            </div>

                            <div class="py-3" *ngIf="mycoin && balance">
                                {{'Fab Balance' | translate}}: {{balance.balance}}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="w-50 px-1">
                    <div class="exg-bg content" *ngIf="abiName!=''">
                        <div class="container py-2" *ngIf="method">
                            <div *ngFor="let input of method.inputs; let i = index">
                                <div class="row">
                                    <div class="col col-4">
                                        <mat-form-field class="example-full-width">
                                            <mat-label class="text-muted">{{input.name}}</mat-label>
                                            <mat-select [(value)]="input.type">
                                                <mat-option *ngFor="let type of types" [value]="type">
                                                    {{type}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                    <div class="col col-8">
                                        <mat-form-field class="example-full-width">
                                            <input matInput [(ngModel)]="input.val">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </div>
                            <div class="row" *ngIf="method.stateMutability == 'payable'">
                                <div class="col col-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="payableValue">
                                        <mat-placeholder class="text-muted">{{'Payable value' | translate}}</mat-placeholder>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-12">
                                    <button mat-raised-button color="primary" (click)="submit()"> {{method.stateMutability == 'view'?'View':'Submit' | translate}}</button>
                                </div>

                            </div>

                            <div *ngIf="lockerHashes && ('unlockByLockerHash' == abiName)">
                                <div>
                                    {{'Please copy hashes below to the above textbox' | translate }}
                                </div>
                                <div *ngFor="let item of lockerHashes">
                                    <small>
                                        {{item}}
                                    </small>
                                    
                                </div>
                            </div>
                            <div class="row py-2" *ngIf="result">
                                <div class="col col-12">
                                    {{'Result' | translate}}:{{result | json}}
                                </div>
                                <div class="col col-12">
                                    Please wait for a few minutes to confirm.
                                </div>
                            </div>
                            <div class="row py-2" *ngIf="error">
                                {{error}}
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="exg-bg content" *ngIf="abiName=='' && smartContractAddress=='0x0'">

                        <mat-form-field class="example-full-width">
                            <textarea [(ngModel)]="fabABI" placeholder="ABI" matInput></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea [(ngModel)]="fabBytecode" placeholder="Bytecode" matInput></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Arguments" [(ngModel)]="fabArguments">
                        </mat-form-field>


                        <div class="row">
                            <div class="col col-12">
                                <button mat-raised-button color="primary" (click)="submit()"> {{'Deploy'}}</button>
                            </div>

                        </div>
                        <div class="row py-2" *ngIf="result">
                            <div class="col col-12">
                                {{'Result' | translate}}:{{result | json}}
                            </div>
                            <div class="col col-12">
                                Please wait for a few minutes to confirm.
                            </div>
                        </div>
                        <div class="row py-2" *ngIf="error">
                            {{error}}
                        </div>
                    </div>
                -->
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Fab Deploy">

            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Deploy">


                    
                    <mat-form-field class="example-full-width">
                        <textarea [(ngModel)]="fabABI" placeholder="ABI" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <textarea [(ngModel)]="fabBytecode" placeholder="Bytecode" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Arguments" [(ngModel)]="fabArguments">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="deployFab()"> {{'Deploy' | translate}} </button>

                    <div class="row py-2" *ngIf="result">
                        <div class="col col-12">
                            {{'Result' | translate}}:{{result | json}}
                        </div>
                        <div class="col col-12">
                            Please wait for a few minutes to confirm.
                        </div>
                    </div>
                    <div class="row py-2" *ngIf="error">
                        {{error}}
                    </div>                    
                </mat-tab>
            </mat-tab-group>

        </mat-tab>
        <mat-tab label="ETH Deploy">

            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Deploy">


                    
                    <mat-form-field class="example-full-width">
                        <textarea [(ngModel)]="ethABI" placeholder="ABI" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <textarea [(ngModel)]="ethBytecode" placeholder="Bytecode" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Arguments" [(ngModel)]="ethArguments">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="deployEth()"> {{'Deploy' | translate}} </button>
                </mat-tab>
            </mat-tab-group>

        </mat-tab>

        <mat-tab label="Kanban Call">

            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Call Smart Contract">

                    <mat-form-field class="example-full-width">
                        <mat-label class="text-muted">To</mat-label>
                        <input matInput [(ngModel)]="kanbanTo">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label class="text-muted">Value</mat-label>
                        <input matInput [(ngModel)]="kanbanValue">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label class="text-muted">Data</mat-label>
                        <textarea [(ngModel)]="kanbanData" matInput></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="callKanban()"> {{'Submit' | translate}} </button>
                    <div *ngIf="txid">
                        txid: <a target="_blank" class="link" href="{{getReceiptLink(txid)}}">{{txid}}</a>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </mat-tab>


        <mat-tab label="Kanban Deploy">

            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Call Smart Contract">

                    <mat-form-field class="example-full-width">
                        <textarea [(ngModel)]="kanbanABI" placeholder="ABI" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <textarea [(ngModel)]="kanbanBytecode" placeholder="Bytecode" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Arguments" [(ngModel)]="kanbanArguments">
                    </mat-form-field>

                    <button mat-raised-button color="primary" (click)="deployKanban()"> {{'Deploy' | translate}} </button>

                    <div *ngIf="result" class="py-2 text-white">
                        {{result}}
                    </div>

                    <div *ngIf="newSmartContractAddress" class="py-2 text-white">
                        smart contract address: {{newSmartContractAddress}}
                    </div>
                </mat-tab>
            </mat-tab-group>

        </mat-tab>        
    </mat-tab-group>


</div>

<pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>