<div class="container">
    <div class="d-flex main-container w-100">
        <div class="w-75 px-1">
                <div class="exg-bg my-2 overview">
                    <app-new-wallet-overview></app-new-wallet-overview>
                </div>
                <div class="exg-bg my-2 assets">
                    <app-new-wallet-assets></app-new-wallet-assets>
                </div>
        </div>
        <div class="w-25 px-1">
                <div class="exg-bg my-2 tools">
                    <app-new-wallet-tools></app-new-wallet-tools>
                </div>
                <div class="exg-bg my-2 faq">
                    <app-new-wallet-faq></app-new-wallet-faq>
                </div>
        </div>
    </div>
</div>