<div class="container" fxLayout="row" fxLayoutAlign.lt-md="center start" fxLayoutAlign="start start">
    <div>
        <h3 class="color-primary">{{ 'Account.Admin.Title' | translate }}</h3> 

        <!--
        <ul class="menu">
            <li>
                <a routerLink="/account/admin/order-mngmt" routerLinkActive="color-black bold">Orders</a>
            </li>
            <li>
                <a routerLink="/account/admin/kycs" routerLinkActive="color-black bold">KYCs</a>
            </li>
            <li>
                <a routerLink="/account/admin/addcoin" routerLinkActive="color-black bold">Coin</a>
            </li>
            <li>
                <a routerLink="/account/admin/tokenlock" routerLinkActive="color-black bold">Lock</a>
            </li>
    
            <li>
                <a routerLink="/account/admin/campaign-orders" routerLinkActive="color-black bold">Campaign Orders</a>
            </li>        
            </ul>
        -->
        <div class="vertical-menu">
            <a routerLink="/admin/order-mngmt" routerLinkActive="active">Orders</a>
            <a routerLink="/admin/kycs" routerLinkActive="active">KYCs</a>
            <a routerLink="/admin/addcoin" routerLinkActive="active">Coin</a>
            <a routerLink="/admin/tokenlock" routerLinkActive="active">Lock</a>
            <a routerLink="/admin/campaign-orders" routerLinkActive="active">Campaign Orders</a>
            <a routerLink="/admin/merchant" routerLinkActive="active">Merchant</a>
            <a routerLink="/admin/otc-listing" routerLinkActive="active">Otc Listing</a>
          </div>        
    </div>

    <router-outlet></router-outlet>
</div>
