@import 'sizing';
@import 'colours';
:host{
  color:#fff
}

.rightSide{
  margin: 40px 0;
  padding: 20px 20px;
  background: #000066;
}

.container {
  margin: 0;
  padding: 0;
}

.menu {
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: lightgray;
}

.menu li {
  display: inline;
  margin: 0.3em;
  font-size: medium;
}

.menu li a {
  text-decoration: none;
  color: black;
}



.vertical-menu {
  width: 220px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}