<div bsModal #otcPlaceOrderErrorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-bg-grey">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 text-dark">Error</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="errorReson == 'WalletNotExisted'" class="text-center">
                    <div>
                        {{'No exchangily wallet found.' | translate}}
                    </div>
                    <div class="py-3">
                        <a href="/wallet/create" mat-raised-button color="primary">Create Wallet</a>
                    </div>
                </div>
                <div *ngIf="errorReson == 'AddressesNotMatch'" class="text-center">
                    <div>
                        {{'Your EXG address does not match the one associated with your account' | translate}}
                    </div>
                    <div class="py-3">
                        <p class="text-center" *ngIf="!updated"><button class="btn btn-gradient text-white py-2 px-5" (click)="updateAdd()"> {{'Update EXG Address' | translate }} </button></p>
                        <p *ngIf="updated"> {{"Updated successful" | translate}} !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>