<div class="usd-info">
    <table _ngcontent-c9="">
        <tbody _ngcontent-c9="">
            <tr _ngcontent-c9="">
                <td _ngcontent-c9="">Bank Name: </td>
                <td _ngcontent-c9=""><b _ngcontent-c9="">KeyBank</b></td>
            </tr>
            <tr _ngcontent-c9="">
                <td _ngcontent-c9="">Routing Number: </td>
                <td _ngcontent-c9=""><b _ngcontent-c9="">041001039</b></td>
            </tr>
            <tr _ngcontent-c9="">
                <td _ngcontent-c9="">SWIFT: </td>
                <td _ngcontent-c9=""><b _ngcontent-c9="">keybus33</b></td>
            </tr>
            <tr _ngcontent-c9="">
                <td _ngcontent-c9="">Account Number: </td>
                <td _ngcontent-c9=""><b _ngcontent-c9="">350211024087</b></td>
            </tr>
            <tr _ngcontent-c9="">
                <td _ngcontent-c9="">Account Name: </td>
                <td _ngcontent-c9=""><b _ngcontent-c9="">Exchangily LLC</b></td>
            </tr>
            <tr _ngcontent-c9="">
                <td _ngcontent-c9="">Address:</td>
                <td _ngcontent-c9=""><b _ngcontent-c9="">6241 SOM Center Rd. Solon, OH</b></td>
            </tr>
            <tr _ngcontent-c9="">
                <td _ngcontent-c9="">Phone Number:</td>
                <td _ngcontent-c9=""><b _ngcontent-c9="">216 650 1835</b></td>
            </tr>
        </tbody>
    </table>
</div>