.container {
    width: 100vw;
    padding: 2em 4em;
}

.place-order {
    width: calc(100% - 24em)
}

.coin-selection {
    border: 1px solid gray;
}

.pave {
    margin-top: 2em;
}

.fail {
    margin-top: 2em;
    color: red;
}

form {
    padding: 1em 2em 3em 1em;
    width: calc(100% - 8em);
}