.white {
    color: white;
}

.black {
    color: black;
}

.brown {
    color: brown;
}

.gray {
    color: gray;
}

.blue {
    color: blue;
}

.lightblue {
    color: lightblue;
}

.cyan {
    color: cyan;
}

.red {
    color: red;
}

.green {
    color: green;
}

.white-bg {
    background-color: white;
}

.black-bg {
    background-color: black;
}

.lightgray-bg {
    background-color: lightgray;
}

.darkgray-bg {
    background-color: #4F4F4F;
}

.darkblue-bg {
    background-color: #12024d;
}