.pt-1 {
    padding-top: 1em;
}

.pt-2 {
    padding-top: 2em;
}

.pt-3 {
    padding-top: 3em;
}

.pt-4 {
    padding-top: 4em;
}

.pb-1 {
    padding-bottom: 1em;
}

.pb-2 {
    padding-bottom: 2em;
}

.pb-3 {
    padding-bottom: 3em;
}

.pb-4 {
    padding-bottom: 4em;
}

.pl-1 {
    padding-left: 1em;
}

.pl-2 {
    padding-left: 2em;
}

.pl-3 {
    padding-left: 3em;
}

.pl-4 {
    padding-left: 4em;
}

.pr-1 {
    padding-right: 1em;
}

.pr-2 {
    padding-right: 2em;
}

.pr-3 {
    padding-right: 3em;
}

.pr-4 {
    padding-right: 4em;
}

.py-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.py-2 {
    padding-top: 2em;
    padding-bottom: 2em;
}

.py-3 {
    padding-top: 3em;
    padding-bottom: 3em;
}

.py-4 {
    padding-top: 4em;
    padding-bottom: 4em;
}

.px-1 {
    padding-left: 1em;
    padding-right: 1em;
}

.px-2 {
    padding-left: 2em;
    padding-right: 2em;
}

.px-3 {
    padding-left: 3em;
    padding-right: 3em;
}

.px-4 {
    padding-left: 4em;
    padding-right: 4em;
}

.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.p-3 {
    padding: 3em;
}

.p-4 {
    padding: 4em;
}