<div #content></div>

<div class="outbox">
    <a *ngIf="clickable" [routerLink]="[order._id]">
        <div *ngTemplateOutlet="content">
        </div>
    </a>

    <a *ngIf="!clickable">
        <div *ngTemplateOutlet="content">
        </div>
    </a>

    <div class="rowwidth" *ngIf="admin">
        <div fxFlex="30%">
            <p class="order-list__date" [ngStyle]="{'color': color}">{{ order.dateCreated | date:'dd MMM yyyy' }}</p>
        </div>

        <div fxFlex="25%">
            <p class="order-list__member-id">{{ order.email }}</p>
        </div>

        <div fxFlex="20%">
            <p class="order-list__currency">
                <currency-display [curType]="order.payMethod" [amount]="order.totalPaid"></currency-display>
            </p>
        </div>

        <div fxFlex="25%">
            <currency-display [curType]="'EXG'" [amount]="order.totalAppTokens"></currency-display>
        </div>
    </div>

    <div class="rowwidth" *ngIf="!admin">
        <div fxFlex="25%">
            <p class="order-list__date" [ngStyle]="{'color': color}">{{ order.dateCreated | date:'dd MMM yyyy' }}</p>
        </div>

        <div fxFlex="30%">
            <p class="order-list__currency">
                <currency-display [curType]="order.payMethod" [amount]="order.totalPaid"></currency-display>
            </p>
        </div>

        <div fxFlex="45%">
            <currency-display [curType]="'EXG'" [amount]="order.totalAppTokens"></currency-display>
        </div>
    </div>

</div>