<div class="main-container">
    <h1 class="section-title">FRC20代币</h1>

    <h2>FRC20代币介绍</h2>
    <p>
        FRC20是用于在FAB网络上创建代币的提案且广泛采用的标准，该标准兼容于以太坊的ERC20。 它是在FAB网络上部署的智能合约中实施的一组规则。部署后，任何拥有FAB钱包的人都可以与代币的智能合约进行交互，以发送和接收代币。每个FRC20代币都有自己的智能合约，可以跟踪该特定代币的所有交易。
    </p>
    <h2>
        发送和接收ERC20代币
    </h2>
    <p>
        所有FRC20代币都部署在FAB网络上，因此你需要一个FAB钱包才能发送和接收FRC20代币。要接收FRC20代币，你需要一个FAB地址，可以存储FAB以及任意数量的FRC20代币。要接收代币，你只需要向付款人提供你的地址。发送它们就像发送FAB一样简单 - 只需粘贴接收地址和要发送的代币数量，然后点击发送按钮即可。
    </p>
    
    <h2>
        FRC20标准规范
    </h2>
    <P>
        该标准指定具有6个函数和2个事件的接口，但是从规范中省略了函数的实现。
    </P>
    
    <h2>
        功能规范
    </h2>
    
    <p>
    Solidity（以太坊编程语言）代码中的函数接口如下:
    1. totalSupply() public view returns (uint256 totalSupply) - 获得代币总供应量
    2. balanceOf(address _owner) public view returns (uint256 balance) - 获得账户所有人的余额
    3. transfer(address _to, uint256 _value) public returns (bool success) - 将指定数量的代币发送到指定地址
    4. transferFrom(address _from, address _to, uint256 _value) public returns (bool success) - 从指定地址发送指定数量代币到指定接收地址
    5. approve(address _spender, uint256 _value) public returns (bool success) - 授权指定地址转账你的指定数量的代币
    6. allowance(address _owner, address _spender) public view returns (uint256 remaining) - 返回剩余授权金额
    </p>
    
    <h2>
        事件规范
    </h2>
    <p>
    已定义事件(在Solidity代码中):
    1. Transfer(address indexed _from, address indexed _to, uint256 _value) - 转移代币时触发
    2. Approval(address indexed _owner, address indexed _spender, uint256 _value) - 调用批准功能时触发。
    </p>
    
</div>


