.main-container {
    padding: 30px;
    background-color: white;
}

.section-title {
    font-size: 42px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    position: relative;
}

h2 {
    font-size: 32px;
    margin-top: 40px;
}
