<footer class="page-footer pt-3 text-white py-1 exg-bg-dark">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <a href="/" class="logo-font"><img src="./images/logo/exg-logo.svg" width="48px">eXchangily {{'Title' | translate}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a class="text-muted small" href="mailto: info@exchangily.com">
                    <button mat-icon-button>
                                <mat-icon svgIcon="email"></mat-icon>
                            </button> info@exchangily.com
                </a>
            </div>
            <div class="col-sm-12 col-md-6 text-right small">
                <div class="d-inline-block pr-3">{{'JoinUs' | translate}} </div>
                <div class="d-inline-block social-media" id="img-social">
                    <a class="wechat-qrcode">
                        <div id="img-wechat"><img src="./images/social/wechat-qrcode.jpg" width="128px"></div>
                        <img src="./images/social/wechat.png" title="wechat" class="hand-cursor" />
                    </a>
                    <a href="https://twitter.com/Exchangily" target="_blank" title="Twitter"><img src="./images/social/twitter.png" /></a>
                    <a href="https://www.facebook.com/Exchangily-439040053240813" target="_blank" title="Facebook"><img src="./images/social/facebook.png" /></a>
                    <a href="https://medium.com/exchangily-blog" target="_blank" title="Medium"><img src="./images/social/medium.png" /></a>
                    <a href="https://www.youtube.com/blockchaingateofficial" target="_blank" title="YouTube"><img src="./images/social/youtube.png" /></a>
                    <a href="https://t.me/exchangily1" target="_blank" title="电报群" *ngIf="lang=='zh'"><img src="./images/social/telegram.png" /></a>
                    <a href="https://t.me/exchangily_chat" target="_blank" title="Telegram" *ngIf="lang=='en'"><img src="./images/social/telegram.png" /></a>
                    <a href="https://github.com/blockchaingate/eXchangily-web" target="_blank" title="Github"><img src="./images/social/github.png" /></a>
                </div>
            </div>
        </div>
        <div class="row small">
            <div class="col col-12">
                <div class="d-inline-block pr-3">
                    {{'Directory' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a routerLink="/wallet/dashboard">{{'Manage My Wallet' | translate}}</a>
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a routerLink="/market/home">{{'Market' | translate}}</a>
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a routerLink="/market/trade/ETH_BTC">{{'Trade' | translate}}</a>
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a routerLink="/explorer">{{'Explore' | translate}}</a>
                </div>
            </div>
        </div>

        <div class="row small">
            <div class="col col-12">
                <div class="d-inline-block pr-3">
                    {{'Help' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a href="/home" title="About us">{{'About Us' | translate}}</a>
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a href="/faq" title="About us">{{'FAQ' | translate}}</a>
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'Law and compliance' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'API term' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'Rate statement' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'Wallet security' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'Community announcement' | translate}}
                </div>
            </div>
        </div>
        <hr>
        <!-- Copyright -->
        <div class="text-center small pb-3">© {{year}} {{"Copyright" | translate}}:
            <a href="https://exchangily.com"> eXchangily.com</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>