<footer class="page-footer pt-3 text-white py-1 exg-bg-dark">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <a href="/" class="logo-font"><img src="./images/exchangily decentralized exchange logo.png" width="64px">eXchangily {{'Title' | translate}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a class="text-muted" href="mailto: info@exchangily.com">
                    <button mat-icon-button>
                        <mat-icon>email</mat-icon>
                    </button> info@exchangily.com
                </a>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
                <div class="d-inline-block pr-3">{{'JoinUs' | translate}} </div>
                <div class="d-inline-block" id="img-social">
                    <img id="img-wechat" *ngIf="imgWechatShow" src="./images/exchangily decentralized exchange logo.png" width="64px">
                    <img (mousemove)="coordinates($event)" src="/assets/social.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <div class="d-inline-block pr-3">
                    {{'Directory' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a routerLink="/wallet/dashboard">{{'Manage My Wallet' | translate}}</a>
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a routerLink="/market/home">{{'Market' | translate}}</a>
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a routerLink="/market/trade/ETH_BTC">{{'Trade' | translate}}</a>
                </div>
                <div class="d-inline-block text-muted pr-2">
                    <a routerLink="/explorer">{{'Explore' | translate}}</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="d-inline-block pr-3">
                    {{'Help' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'About Us' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'FAQ' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'Law and compliance' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'API term' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'Rate statement' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'Wallet security' | translate}}
                </div>
                <div class="d-inline-block text-muted pr-2">
                    {{'Community announcement' | translate}}
                </div>
            </div>
        </div>
        <hr>
        <!-- Copyright -->
        <div class="text-center small pb-3">© {{year}} {{"Copyright" | translate}}:
            <a href="https://exchangily.com"> eXchangily.com</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>