.page-footer {
    padding-top: 100px;
    background-color: #181030;
    background-image: url("/images/logo/map-dotted-pattern-bg.png");
}

#img-wechat {
    position: absolute;
    top: -168px;
    left: -40px;
}

#img-social {
    position: relative;
}

.social-media>a {
    /* margin-left: 4px; */
    margin-right: 10px;
}

.wechat-qrcode>div {
    display: none;
}

.wechat-qrcode:hover>div {
    display: block;
}

.logo-font {
    font-size: 27px;
    font-weight: 900;
}

.logo-font img {
    width: 60px;
}

.about .txt {
    padding-top: 20px;
    font-size: 16px;
}

.colTitle {
    padding-top: 20px;
    font-weight: 900;
}

.colList {
    padding-top: 20px;
    font-size: 13px;
}

.colList .text-links {
    padding-bottom: 20px;
    color: #ffffff;
}

.colList .text-links img {
    width: 15px;
    margin-right: 10px;
}

.footerBottom {
    text-align: center;
}

.social-media {
    padding-top: 20px;
}

.Subscribe {
    text-align: center;
}

@media (min-width: 1200px) {
    .colMenu {
        padding-left: 50px;
    }
}