<div bsModal #depositModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" *ngIf="coin">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 text-dark">Redeposit {{coin.name}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="transactionID">
                    <div *ngFor="let item of coin.redeposit; let i of index">
                        <mat-radio-button class="text-muted" [value]="item.transactionID" [checked]='true'>
                            <div>
                                amount: {{utilServ.showAmount(item.amount)}}
                                <button mat-icon-button aria-label="Show Details" (click)="showDetail(i)">
                                                <mat-icon>unfold_more</mat-icon>
                                            </button>
                            </div>
                            <div *ngIf="showDetailIndex == i">
                                <div>
                                    txid:{{item.transactionID}}
                                </div>
                                <div>
                                    r:{{item.r}}
                                </div>
                                <div>
                                    s:{{item.s}}
                                </div>
                                <div>
                                    v:{{item.v}}
                                </div>
                            </div>
                        </mat-radio-button>
                    </div>

                </mat-radio-group>

                <div class="form-group">
                    <div class="row">
                        <div class="col text-dark">
                            Transaction fee </div>
                        <div class="col text-muted">
                            <div class="pull-right">
                                {{utilServ.showAmount(gasPrice*gasLimit)}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col text-dark">
                            Transaction fee advanced
                        </div>
                        <div class="col text-muted">
                            <div class="pull-right">
                                <mat-slide-toggle [(ngModel)]="gasFeeCustomChecked"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="gasFeeCustomChecked">

                    <div class="form-group">
                        <label for="gasPrice" class="text-dark">Gas Price</label>
                        <input type="text" class="form-control" id="inputGasPrice" [(ngModel)]="gasPrice" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="gasPrice" class="text-dark">Gas Limit</label>
                        <input type="text" class="form-control" id="inputGasLimit" [(ngModel)]="gasLimit" placeholder="0">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <div class="pull-left">
                    <button class="btn btn-gradient text-white" (click)="onSubmit()"> Confirm </button>
                </div>
            </div>
        </div>
    </div>
</div>