<div bsModal #depositModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" *ngIf="coin">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 text-dark">{{"Redeposit" | translate}} {{coin.name}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="transactionID">
                    <div *ngFor="let item of coin.redeposit; let i = index">
                        <mat-radio-button class="text-muted" [value]="item.transactionID">
                            <div>
                                {{"Quantity"| translate}}: {{utilServ.showAmount(item.amount, 6)}}
                                <button mat-icon-button aria-label="Show Details" (click)="showDetail(i)">
                                    <mat-icon svgIcon="detail"></mat-icon>
                                </button>
                            </div>
                            <div *ngIf="showDetailIndex == i">
                                <div>
                                    {{"TXID"|translate}}:{{item.transactionID}}
                                    <button mat-icon-button (click)="copyTransactionID(item.transactionID)">
                                        <mat-icon svgIcon="copy"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-radio-button>
                    </div>

                </mat-radio-group>

                <div class="form-group">
                    <div class="row">
                        <div class="col text-dark">
                            {{"Transaction fee"|translate}} </div>
                        <div class="col text-muted">
                            <div class="pull-right">
                                {{utilServ.showAmount(gasPrice*gasLimit, 6)}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col text-dark">
                            {{"Transaction fee advanced"|translate}}
                        </div>
                        <div class="col text-muted">
                            <div class="pull-right">
                                <mat-slide-toggle [(ngModel)]="gasFeeCustomChecked"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="gasFeeCustomChecked">

                    <div class="form-group">
                        <label for="gasPrice" class="text-dark">{{"Gas Price"|translate}}</label>
                        <input type="text" class="form-control" id="inputGasPrice" [(ngModel)]="gasPrice" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="gasPrice" class="text-dark">{{"Gas Limit"|translate}}</label>
                        <input type="text" class="form-control" id="inputGasLimit" [(ngModel)]="gasLimit" placeholder="0">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <div class="pull-left">
                    <button class="btn btn-gradient text-white" (click)="onSubmit()"> {{"Confirm"|translate}} </button>
                </div>
            </div>
        </div>
    </div>
</div>