.container {
  width: 100%;
}

.orderform {
  min-width: 800px;
  width: calc(100% - 4em);
  padding: 1em 1em;
}

.list-title {
  font-weight: bold;
}

.payments {
  margin: 2em 0;
}

.itemtitle {
  width: 10em;
  font-weight: bold;
}

.itemcontent {
  width: 14em;
}

.item4em {
  width: 4em;
}

.item8em {
  width: 8em;
}

.item12em {
  width: 12em;
}

.btn {
  font-weight: bold;
  cursor: pointer;
}

.mar1em {
  margin-right: 1em;
}

.notearea {
  width: 14em;
  height: 8em;
}

.left25{
  margin-left: 16px;
}