<div class="container">
    <div class="row py-2">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Merchant ID</mat-label>
                <input matInput placeholder="Merchant ID" value="MMFE23DDDFEW3S4">
              </mat-form-field>            
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Store ID</mat-label>
                <input matInput placeholder="Store ID" value="4dee33ed3ssrw3">
              </mat-form-field>            
        </div>
    </div>    

    <div class="row py-2">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>App ID</mat-label>
                <input matInput placeholder="Store ID" value="eddf333exwe32e">
              </mat-form-field>            
        </div>
    </div>    
    
    <div class="row py-2">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>API Key</mat-label>
                <input matInput placeholder="Store ID" value="ee3erfw4334d">
              </mat-form-field>            
        </div>
    </div>   
    
    <div class="row py-2">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>FAB Address</mat-label>
                <input matInput placeholder="FAB Address" value="mnukWx4d73fyRKagbWfYjzascLhZ7PZPz6">
              </mat-form-field>            
        </div>
    </div>     
</div>