<div class="container">

    <div class="row py-2">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Merchant Name: </mat-label>
                <mat-label>{{merchant.name}}</mat-label>
              </mat-form-field>            
        </div>
    </div>  

    <div class="row py-2">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Merchant ID: </mat-label>
                <mat-label>{{merchant._id}}</mat-label>
              </mat-form-field>            
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>API Key</mat-label>
                <mat-label>{{merchant.api_key}}</mat-label>
              </mat-form-field>            
        </div>
    </div>   
    
    <div class="row py-2">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Wallet Address: </mat-label>
                <mat-label>{{member.walletExgAddress}}</mat-label>
              </mat-form-field>            
        </div>
    </div>     
</div>