.formarea {
    margin: 2em 0 4em 0;
}

.longinput {
    width: 360px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.itemtitle {
    font-weight: bold;
    margin-top: 2em;
}

.submitarea {
    margin-top: 2em;
}