<h2 class="center">Change Password</h2>
<form class="app__login__form form-input" (ngSubmit)="onSubmit()" [formGroup]="passwordForm" #formDir="ngForm">
    <p>Please Change Your Password</p>

    <label for="password" class="form-input__text__label block">New Password</label>
    <input id="password" type="password" name="password" formControlName="password" class="form-input__text reset__text-input">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-input__error">
      <p *ngIf="password.errors.required">
      This field is required
      </p>
      <p *ngIf="password.errors.minlength">
      Minimum of {{ passwordMin }} characters required
      </p>
    </div>

    <label for="passwordConfirm" class="form-input__text__label block">Repeat Password</label>
    <input id="passwordConfirm" type="password" name="passwordConfirm" formControlName="passwordConfirm" class="form-input__text reset__text-input">
    <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)" class="form-input__error">
      <p *ngIf="passwordConfirm.errors.required">
      This field is required
      </p>
      <p *ngIf="passwordConfirm.errors.minlength">
      Minimum of {{ passwordMin }} characters required
      </p>
      <p [hidden]="(!passwordConfirm.dirty && !passwordConfirm.touched) || passwordConfirm.value === password.value" class="form-input__error">
      Passwords do not match.
      </p>
    </div>

    <br/>
    <button type="button" (click)="onSubmit()" class="form-input__button fancy-button background-primary-bold"><span class="color-white semi-bold">Change Password</span></button>
    <p *ngIf="errorMessage" class="form-input__error center">
    {{ errorMessage }}
    </p>
</form>
