<div class="containerX">
    <div class="gradient-back-area">
        <div class="topslogan">
            <div class="container">
                <div class="slogan">
                    <div class="slogan-left">
                        {{'TopSologan' | translate}}
                        <div class="contentarea">
                            {{'TopSloganContent' | translate}}
                        </div>
                    </div>
                </div>
                <!--
                <div class="advblocks">
                    <app-advblock class="advblock hand right1em" [title]="'糖果合约计划委托上线'" [desc]="'交易不盯盘，提前计划买卖点位'" [bgimgurl]="'images/adv/01.jpg'" [linkurl]="'https://google.com'"></app-advblock>
                    <app-advblock class="advblock hand right1em" [title]="'糖果矿池'" [desc]="'BTC三挖来袭'" [bgimgurl]="'images/adv/02.jpg'" [linkurl]="'https://google.com'"></app-advblock>
                    <app-advblock class="advblock hand right1em" [title]="'糖果收益数据'" [desc]="'交易不盯盘，提前计划买卖点位'" [bgimgurl]="'images/adv/03.jpg'" [linkurl]="'https://google.com'"></app-advblock>
                    <app-advblock class="advblock hand" [title]="'糖果合约计划委托上线'" [desc]="'交易不盯盘，提前计划买卖点位'" [bgimgurl]="'images/adv/04.jpg'" [linkurl]="'https://google.com'"></app-advblock>
                </div>
                -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6">
                        <app-advblock class="advblock hand right1em" [title]="'糖果合约计划委托上线'" [desc]="'交易不盯盘，提前计划买卖点位'" [bgimgurl]="'images/adv/01.jpg'" [linkurl]="'https://google.com'"></app-advblock>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <app-advblock class="advblock hand right1em" [title]="'糖果矿池'" [desc]="'BTC三挖来袭'" [bgimgurl]="'images/adv/02.jpg'" [linkurl]="'https://google.com'"></app-advblock>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <app-advblock class="advblock hand right1em" [title]="'糖果收益数据'" [desc]="'交易不盯盘，提前计划买卖点位'" [bgimgurl]="'images/adv/03.jpg'" [linkurl]="'https://google.com'"></app-advblock>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <app-advblock class="advblock hand right1em" [title]="'糖果合约计划委托上线'" [desc]="'交易不盯盘，提前计划买卖点位'" [bgimgurl]="'images/adv/04.jpg'" [linkurl]="'https://google.com'"></app-advblock>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="announcement">
        {{'Announcement.01' | translate}} | {{'Announcement.02' | translate}}
    </div>

    <app-market-list></app-market-list>

</div>