<div class="containerX">
    <div class="gradient-back-area">
        <div class="topslogan">
            <div class="container">
                <div class="slogan">
                    <div class="slogan-left">
                        {{'TopSologan' | translate}}
                        <div class="contentarea">
                            {{'TopSloganContent' | translate}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6">
                        <app-advblock class="advblock hand right1em" [title]="'糖果合约计划委托上线'" [desc1]="'交易不盯盘，提前计划买卖点位'" [desc2]="''" [bgimgurl]="'images/adv/01.png'" [linkurl]="'https://google.com'"></app-advblock>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <app-advblock class="advblock hand right1em" [title]="'糖果矿池'" [desc1]="'BTC三挖来袭'" [desc2]="''" [bgimgurl]="'images/adv/02.png'" [linkurl]="'https://google.com'"></app-advblock>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <app-advblock class="advblock hand right1em" [title]="'糖果收益数据'" [desc1]="'交易不盯盘，提前'" [desc2]="'计划买卖点位'" [bgimgurl]="'images/adv/03.png'" [linkurl]="'https://google.com'"></app-advblock>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <app-advblock class="advblock hand right1em" [title]="'糖果合约计划委托上线'" [desc1]="'交易不盯盘，提前计划'" [desc2]="'买卖点位'" [bgimgurl]="'images/adv/04.png'" [linkurl]="'https://google.com'"></app-advblock>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-market-top #marketTop></app-market-top>
    <app-market-list #marketList></app-market-list>

</div>