.containerX {
    width: 100vw;
    min-height: 860px;
    background-color: #1f2233;
}

.topslogan {
    padding: 0.6em;
    text-align: center;
    height: 350px;
}

@media only screen and (max-width: 768px) {
    .topslogan {
        height: 480px;
    }
}

.slogan {
    display: flex;
    height: 220px;
    margin-top: 1em;
}

.contentarea {
    font-size: x-small;
    margin-top: 1em;
}

.slogan-left {
    width: 50%;
    text-align: left;
    vertical-align: middle;
    color: white;
    font-size: 2.2em;
    padding-right: 1em;
    padding-top: 1em;
}

@media only screen and (max-width: 768px) {
    .slogan-left {
        width: 100%;
    }
}


/*
.slogan-right {
    width: 50%;
    padding-left: 1em;
}
*/

.topslogan .container {
    background-image: url('/images/market-main.svg');
    background-repeat: no-repeat;
    background-size: auto 380px;
    background-position: right 120px center;
}

.containerX {
    margin-top: -20px;
}

.topslogan {
    background-image: url('/images/circle.svg');
    background-repeat: no-repeat;
    background-size: 100% 150px;
    background-position: left bottom;
}

.announcement {
    padding: 0.2em;
    text-align: center;
    color: white;
    font-size: 0.6em;
    background-color: #333333;
}

.advblocks {
    display: flex;
    margin-top: 2em;
}

.advblock {
    width: calc(25% - 1em);
    height: 72px;
    text-align: left;
    color: white;
}

.right1em {
    margin-right: 1em;
}