:host {
    color: #f3f3f3;
}

.trade-top {
    background-color: #3c3c5e;
}

@media (max-width: 991px) {
    .trade-top {
        padding: 20px;
        .col-md-6 {
            margin-bottom: 10px;
            // border-right: none !important;
            // border-bottom: 1px solid #ddd;
        }
    }
}

@media (max-width: 767px) {
    .trade-top {
        padding: 20px;
        .col-md-6 {
            margin-bottom: 10px;
            border-right: none !important;
            // border-bottom: 1px solid #ddd;
        }
    }
}

.trade-bottom {
    // width: 100%;
    // margin: 0 !important;
    // overflow-x: scroll;
    .col {
        padding: 0 !important;
    }
    .odd {
        background-color: #5c5c7e;
    }
    .even {
        background-color: #696989 !important;
    }
    table {
        margin-bottom: 0;
    }
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            margin: 0 0 5px 0;
        }
        td:nth-child(odd) {
            background-color: #2c2cb5;
        }
        thead td,
        td {
            background-color: #3a3abf;
        }
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 10px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        /*
      Label the data
      */
        td:nth-of-type(1):before {
            content: "Merchant";
        }
        td:nth-of-type(2):before {
            content: "PaymentMethod";
        }
        td:nth-of-type(3):before {
            content: "PaymentMethod";
        }
        td:nth-of-type(4):before {
            content: "Limits/USD";
        }
        td:nth-of-type(5):before {
            content: "Price/USD";
        }
        td:nth-of-type(6):before {
            content: "Operation";
        }
    }
}

.mat-select-value {
    color: black !important;
}

.mat-select-value-text {
    color: green !important;
}

.mat-select {
    color: white;
}

table {
    width: 100%;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.btn-buy-sell {
    display: inline-block;
    height: 36px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    border-radius: 2px;
}

.brgreen {
    color: #33ae72;
}

.btn-buy {
    color: #33ae72;
    background: rgba(51, 174, 114, 0.14);
    cursor: pointer;
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    -ms-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
}

.btn-buy:hover {
    background: #33ae72;
    color: #fff;
}

.btn-sell {
    color: #fff;
    background: #da7169;
    cursor: pointer;
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    -ms-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
}

.btn-sell:hover {
    background: rgba(255, 84, 71, 1);
    color: #fff;
}

.type-buy {
    color: #33ae72;
    text-decoration: underline;
}

.type-sell {
    color: #ff5447;
    text-decoration: underline;
}

.coin-name {
    cursor: pointer;
}

::ng-deep {
    .modal-content {
        background: #668;
    }
    h4.text-dark {
        color: #fff !important;
    }
}