<div class="container pt-3 app-otc-order">
    <div class="row">
        <div class="col col-md-6 col-12">
            <table class="table table-striped" *ngIf="paymentmethods">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of paymentmethods">
                    <td>{{p.name}}</td>
                    <td>
                      <button color="primary" (click)="delete(p._id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              
        </div>
        <div class="col col-md-6 col-12">
                <div class="py-2">
                    <input type="text" (input)="onSearchChange($event.target.value)">
                </div>
                <div class="py-2">
                    <button color="primary" (click)="add()">{{ "Add" }}</button>
                </div>      
        </div>        
    </div>
</div>