<div class="container market-panel">

    <div class="pricelist">
        <div class="row ">
            <div class="navbar navbar-expand-sm mktmenu col-md-9">

                <div class="nav-item hand" [class.selected]="select === 100" (click)="selectCat(100);">
                    <img src="/images/star-light.svg">{{'Favorites'|translate}}
                </div>

                <div class="nav-item hand" [class.selected]="select == 'DUSD'" (click)="selectCat('DUSD');">
                    <img class="coin-logo" src="/assets/coins/dusd.png"> &nbsp;<span class="align-middle">DUSD</span>
                </div>

                <div class="nav-item hand" [class.selected]="select == 'USDT'" (click)="selectCat('USDT');">
                    <img class="coin-logo" src="/assets/coins/usdt.png"> &nbsp;<span class="align-middle">USDT</span>
                </div>

                <div class="nav-item hand" [class.selected]="select == 'BTC'" (click)="selectCat('BTC');">
                    <img class="coin-logo" src="/assets/coins/btc.png"> &nbsp;<span class="align-middle">BTC </span>
                </div>

                <div class="nav-item hand" [class.selected]="select == 'ETH'" (click)="selectCat('ETH');">
                    <img class="coin-logo" src="/assets/coins/eth.png"> &nbsp;<span class="align-middle">ETH</span>
                </div>

                <div class="nav-item hand" [class.selected]="select == 'EXG'" (click)="selectCat('EXG');">
                    <img class="coin-logo" src="/assets/coins/exg.png"> &nbsp;<span class="align-middle">EXG</span>
                </div>

                <div class="nav-item hand" [class.selected]="select == '1000'" *ngIf="select == '1000'">
                    <span>Search</span>
                </div>
                <!-- <div style="width: 100%;">
                <i class="fas fa-home"></i>
            </div> -->

                <!-- <div class="input-group-sm mt-3"> -->


            </div>
            <div class="input-group-sm col-md-3">
                <input type="text" class="form-control searchbox" [(ngModel)]="searchText"
                    placeholder="{{'Search pair' | translate}}">
                <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="search()" type="button">
                        <img src="/images/icons/searchicon.svg" width="20px" [hidden]="searchText">
                        <img src="/images/icons/searchicon-w.svg" width="20px" [hidden]="!searchText">
                    </button>
                </div>
            </div>
        </div>

        <div class="apair header fxHide-sm">
            <div class="col-2">{{'Pair'|translate}}</div>
            <div class="col-2">{{'LatestPrice'|translate}}</div>
            <div class="col-2">{{'H24Change'|translate}}</div>
            <div class="col-2">{{'H24H'|translate}}</div>
            <div class="col-2">{{'H24L'|translate}}</div>
            <div class="col-2">{{'Vol24'|translate}}</div>
        </div>

        <div class="apair dataline fxHide-sm" *ngFor="let pr of tab_prices; let i=index">
            <div class="col-md-2 hand align-self-center">
                <button mat-icon-button (click)="toggleFavorite(pr)" aria-label="Example icon-button with a heart icon"
                    class="text-right">
                    <img [src]="isFavorite(pr) ? '/images/star-light.svg' : '/images/star-grey.svg'">
                </button>
                <span (click)="gotoTrade(pr.id);">
                    <span class="text-coin">{{getCoinName(pr.coin_id)}}</span><span
                        class="text-base-coin">/{{getCoinName(pr.base_id)}}</span>
                </span>

            </div>
            <div class="col-2 align-self-center">{{toDecimal(pr.price, 6)}}</div>
            <div class="col-2 align-self-center" [class.redcolor]="pr.change24h<0" [class.greencolor]="pr.change24h>=0">
                {{(pr.change24h)}}%
            </div>
            <div class="col-2 align-self-center">{{toDecimal(pr.price24hh, 6)}}</div>
            <div class="col-2 align-self-center">{{toDecimal(pr.price24hl, 6)}}</div>
            <div class="col-2 align-self-center">{{toDecimal(pr.vol24h, 6)}}</div>
        </div>

        <div class="row apair text-white pt-3 fxHide-gt-sm">
            <div class="col-5">{{'Pair'|translate}}</div>
            <div class="col-4">{{'LatestPrice'|translate}}</div>
            <div class="col-3">{{'H24Change'|translate}}</div>
        </div>

        <div class="row apair text-white fxHide-gt-sm" *ngFor="let pr of tab_prices; let i=index">
            <div class="col-5 hand align-self-center">
                <button mat-icon-button color="warn" (click)="toggleFavorite(pr)"
                    aria-label="Example icon-button with a heart icon" class="text-right">
                    <img [src]="isFavorite(pr) ? '/images/star-light.svg' : '/images/star-grey.svg'">
                </button>
                <span (click)="gotoTrade(pr.id);">
                    <span class="text-coin">{{getCoinName(pr.coin_id)}}</span><span
                        class="text-base-coin">/{{getCoinName(pr.base_id)}}</span>
                </span>
            </div>
            <div class="col-4 align-self-center">{{toDecimal(pr.price, 6)}}</div>
            <div class="col-3 align-self-center" [class.redcolor]="pr.change24h<0" [class.greencolor]="pr.change24h>=0">
                {{(pr.change24h)}}%
            </div>
            <div class="col-12 text-muted">{{'H24H'|translate}}:{{toDecimal(pr.price24hh, 6)}}</div>
            <div class="col-12 text-muted">{{'H24L'|translate}}:{{toDecimal(pr.price24hl, 6)}}</div>
            <div class="col-12 text-muted">{{'Vol24'|translate}}:{{toDecimal(pr.vol24h, 6)}}</div>
        </div>

    </div>

</div>