.referral-order-list {
  background-color: white;
  display: block;

  min-width: 360px;
  margin: 0 0 4em 0;
  width: 100%;

  &-wrap {
    width: 100%;
  }

  &__orders {
    padding: .5em 2em;
  }

  &__order {
    margin: 1em 0;
    width: 100%;
  }

  &.no-margin {
    margin: 0;
    width: calc(100% - 4em);
  }

  icotx-item {
    width: 100%;
  }
}
