@import 'colours';
@import 'sizing';

.home__roadmap {

  @media screen and (max-width: 959px){
    display: none;
  }

  &--container {
    // padding: 0 5em 0 5em;
    position: relative;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari */
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    background: transparent;
  }

  &--milestones {
    padding: 100px 0 100px 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $primary 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, $primary));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $primary 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $primary 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $primary 100%);
      /* IE10+ */
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $primary 100%);
      background-repeat: no-repeat;
      background-size: 100% 3px;
      background-position-y: 350px;
    }

    &::after {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 1) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(15%, rgba(255, 255, 255, 0)), color-stop(85%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 1) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 1) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 1) 100%);
      /* IE10+ */
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 1) 100%);
    }

    &__list {
      font-size: 0;
      width: 80vw;
      padding: 250px 0;
      transition: all 500ms;
      height: 100%;

      &__item {
        position: relative;
        display: inline-block;
        list-style-type: none;
        width: 160px;
        height: 3px;

        &:not(:first-child) {

        }

        &__content {
          position: absolute;
          left: calc(100% + 7px);
          width: 280px;
          padding: 0;
          font-size: 1rem;
          white-space: normal;
          color: $secondary-light;
          background: white;

          .vl {
            border-left: 1.5px solid $road-map-grey;
            height: 60px;
            margin-left: 3px;
          }

          time {
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 2px;
          }

          h5 {
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0;
            color: $secondary-light;
          }
        }

        &:nth-child(odd) &__content {
          top: -16px;
          transform: translateY(-100%);
          .vl {
            margin-top: 4px;
          }
        }

        &:nth-child(odd) &__content:before {
          top: 100%;
          border-width: 8px 8px 0 0;
          border-color: black;
        }

        &:nth-child(even) &__content {
          top: calc(100% + 16px);
          .vl {
            margin-bottom: 4px;
          }
        }

        &:nth-child(even) &__content:before {
          top: -8px;
          border-width: 8px 0 0 8px;
          border-color: black;
        }

        &:last-child {
          width: 280px;
        }

        &:not(:first-child) {
          margin-left: 1.4rem;
        }

        &:not(:last-child):after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(100% + 1px);
          bottom: 0;
          width: 20px;
          height: 20px;
          transform: translateY(-50%);
          border-radius: 50%;
          background: url('/images/icons/icon_roadmap_milestone.svg');
        }

        &:last-child:after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(100% + 1px);
          bottom: 0;
          width: 28px;
          height: 28px;
          transform: translateY(-50%);
          border-radius: 50%;
          background: url('/images/icons/icon_roadmap_final_milestone.svg');
        }
      }
    }
  }

  &--nav_arrows {
    &__backward, &__forward {
      border: none;
      bottom: 0;
      box-shadow: none;
      background: rgba(255, 0, 0, 0);
      position: absolute;
      top: 0;

      &:focus {
        outline: 0;
      }
    }

    &__backward {
      left: 5em;
    }
    &__forward {
      right: 5em;
    }

    &__forward_arrow {
      transform: rotate(180deg);
    }
  }
}
