<div class="containerX">
    <div class="container">
        <div class="row text-white menu">
            {{"Verify Mnemonics" | translate }}
        </div>
        <div class="row">
            <div class="col-1">
                <div class="leftcol text-center">
                    <div class="numberCircle">1</div>
                    <div class="vl"></div>
                    <div class="numberCircle ball">2</div>
                    <div class="vl vlgray"></div>
                    <div class="numberCircle ball numberCircle-gray">3</div>
                </div>
            </div>
            <div class="col-11 panel text-white">
                <app-mnemedit></app-mnemedit>
            </div>
        </div>
    </div>
</div>