<div class="container">
    <div class="row text-white menu">
        <div menuleft>{{"Set Password" | translate }}
        </div>
        <div menuright>
        </div>
    </div>
    <div class="outpanel">
        <div class="row">
            <div class="col-2 fxHide-sm">
                <div class="leftcol text-center">
                    <div class="numberCircle">1</div>
                    <div class="vl"></div>
                    <div class="numberCircle ball">2</div>
                    <div class="vl"></div>
                    <div class="numberCircle ball">3</div>
                </div>
            </div>
            <div class="col-md-10 col-sm-12 panel text-white">
                <div class="header">
                    <h4>{{"Set Password" | translate }}</h4>
                </div>
                <div class="row textarea text-light">
                    <div class="col-2 item">
                        <img src="/images/icons/verify.png" width="100%">
                    </div>
                    <div class="col-10 item">
                        {{"PwdNote" | translate }}
                    </div>
                </div>

                <form class="user-form" [formGroup]="userForm" (submit)="onSubmit()">
                    <!-- Grid column -->
                    <div class="form-group col-auto item">
                        <label for="name">{{"Wallet Name" | translate}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text py-1"> <img src="/images/icons/wallet.png" width="24px">
                                </div>
                            </div>
                            <input type="text" class="form-control py-0" id="name" formControlName="name" placeholder="Wallet name">
                        </div>
                        <div class="error text-danger smallfont" *ngIf="!userForm.get('name').valid && userForm.get('name').touched">
                            {{"Wnvalid" | translate}}.
                        </div>
                    </div>

                    <!-- Grid column -->
                    <div class="form-group col-auto item">
                        <div>{{"Wallet Password" | translate}}</div>
                        <label class="sr-only" for="password">Walletpwd</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text py-1"> <img src="/images/icons/lock.png" width="24px">
                                </div>
                            </div>
                            <input type="password" autocomplete="off" class="form-control py-0" id="password" formControlName="password" placeholder="Type in password">
                        </div>
                        <div class="error text-danger smallfont" *ngIf="!userForm.get('password').valid && userForm.get('password').touched">
                            {{"Pwdvalid" | translate}}
                        </div>
                    </div>

                    <!-- Grid column -->
                    <div class="col-auto item">
                        <div>{{"Confirm Password" | translate}}</div>
                        <label class="sr-only" for="pwdconfirm">Walletpwdrepeat</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text py-1"> <img src="/images/icons/lock.png" width="24px">
                                </div>
                            </div>
                            <input type="password" autocomplete="off" class="form-control py-0" id="pwdconfirm" formControlName="pwdconfirm" placeholder="Repeat password">
                        </div>
                        <div class="error text-danger smallfont" *ngIf="userForm.get('pwdconfirm').touched && userForm.hasError('notSame')">
                            {{"Password doesn't match" | translate }}!
                        </div>
                    </div>

                    <!-- Grid column -->
                    <div class="col-auto submitarea" *ngIf="userForm.get('password').valid && userForm.get('password').valid && !userForm.hasError('notSame')">
                        <button type="submit" class="btn btn-md btn-gradient mt-0">{{"Form.Submit" | translate }}</button>
                    </div>
                    <!-- Grid column -->
                </form>
            </div>
        </div>
    </div>
</div>