.outpanel {
    max-width: 500px;
    min-height: 640px;
    margin: auto;
    margin-bottom: 4em;
}

.menu {
    height: 3em;
    padding-top: 0.5em;
}

.leftcol {
    margin-top: 1em;
    text-align: center;
}

.panel {
    height: 480px;
    background-color: #1f2233;
    margin-bottom: 4em;
    padding: 1em 2em;
}

.btn {
    width: 100%;
}

.vl {
    border-left: 2px solid green;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 140px;
}

.vlgray {
    border-left: 2px solid gray;
}

.numberCircle {
    border-radius: 50%;
    /* remove if you don't care about IE8 */
    width: 46px;
    height: 46px;
    padding: 8px;
    border: 1px solid #666;
    background-image: linear-gradient(120deg, #f2ac0e, #d56a70, #bb2ad1);
    color: yellow;
    text-align: center;
    font: 24px Arial, sans-serif;
    margin: auto;
}

.numberCircle-gray {
    background-image: linear-gradient(to right, silver, gray);
}

.ball {
    margin-top: 140px;
}

.item {
    margin-top: 1em;
    color: white;
}

.submitarea {
    margin-top: 4em;
}

.py-0 {
    background-color: #3a3b5a;
    border: 1px solid #4a4b6a;
    border-left-style: hidden;
}

.py-1 {
    background-color: #343554;
    border: 1px solid #4a4b6a;
}

.fontcolor {
    color: #6a6b8a;
}

.textarea {
    width: 100%;
}