<h2 class="center">Reset Password</h2>
<form class="app__login__form" (ngSubmit)="onSubmit()" [formGroup]="resetForm" #formDir="ngForm">
  <ng-container *ngIf="!sent">
    <p>Once requested, an email containing a link to reset your password will be sent to you. Please check your inbox.</p>

    <label for="email" class="form-input__text__label block">Email</label>
    <input type="email" name="email" formControlName="email" class="form-input__text reset__text-input">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-input__error">
      <p *ngIf="email.errors.required">
      This field is required
      </p>
      <p *ngIf="email.errors.email">
      Must be valid email address
      </p>
    </div>

    <br/>
    <button type="button" (click)="onSubmit()" class="form-input__button fancy-button background-primary-bold"><span class="color-white semi-bold">Request Password Reset</span></button>
  </ng-container>

  <ng-container *ngIf="sent">
    <p>Check your emailbox for the password reset email.</p>
    <br/>
    <br/>
    <a class="color-primary" [routerLink]="['/login/signin']">Back to Sign In</a>
  </ng-container>
  <p *ngIf="errorMessage" class="form-input__error center">
  {{ errorMessage }}
  </p>
</form>
