<div class="campaignPage">
    <!-- campaign banner area -->
    <div class="container-fluid topImage" *ngIf="eventInfoReady">
        <div class="topBanner" *ngIf="!eventInfoError">
            <div class="topInfo">
                <div>
                    {{eventInfo[lan]['title']['up'] }}
                </div>
                <div>{{eventInfo[lan]['title']['main']}}</div>
            </div>
            <div class="topButtons" *ngIf="eventNeedButtons">

                <a class="topBtn" *ngIf="readyGo==false" routerLink="/login/signup" routerLinkActive="selected"
                    [routerLinkActiveOptions]="{exact: true}">
                    <button>{{'Header.Navigation.Signup' | translate}}</button>
                </a>
                <a class="topBtn pointer" href="/promotion/reward">
                    <button>{{'My rewards' | translate }}</button>
                </a>
                <a class="topBtn pointer" href="/promotion/flyer" target="_blank" *ngIf="readyGo">
                    <button>{{'My referral' | translate }}</button>
                </a>
                <a class="topBtn pointer" *ngIf="readyGo==false" routerLink="/login/signin" routerLinkActive="selected"
                    [routerLinkActiveOptions]="{exact: true}">
                    <button>{{'Header.Navigation.Signin' | translate}}</button>
                </a>
                <a class="topBtn pointer" *ngIf="readyGo" style="color: lightskyblue;" routerLinkActive="selected"
                    (click)="logout()">
                    <button>{{ 'Header.Navigation.Signout' | translate }}</button>
                </a>
            </div>
        </div>
    </div>
    <!-- campaign banner area end -->

    <!-- campaign information area -->
    <div class="container py-3 campaignDetail " *ngIf="readyGo==false">
        <div *ngIf="eventInfoReady && !eventInfoError">
            <div *ngFor="let info of eventInfo[lan]['body']; let i = index">
                <div *ngIf="info['type'] == 'row'">
                    <h2 class="sectionTitle">
                        {{info['title']}}{{info.hasOwnProperty('title2')?info['title2']:"" }}
                    </h2>
                    <div class="sectionTitleSub">
                        {{info['text'] }}
                    </div>
                </div>
                <div *ngIf="info['type'] == 'rowList'">
                    <h2 class="sectionTitle">
                        {{info['title']}}{{info.hasOwnProperty('title2')?info['title2']:"" }}
                    </h2>
                    <div class="sectionTitleSub">
                        <div *ngFor="let t of info['text']; let l = index">
                            <div>
                                {{(l+1) + ". "}}{{t}}
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="info['type'] == 'table'">
                    <table class="eventFormTable">
                        <tr  *ngFor="let t of info['content']; let l = index" ngClass="{{l%2 ? 'topForm' : 'btmForm'}}">
                            <td *ngFor="let y of t" >
                                {{y}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- campaign information area end -->

    <div class="container py-3">

        <div class="row">
          
            <div class="col col-md-12 col-12 " *ngIf="false && readyGo">
                <div class="promotionData">
                    <div *ngIf="readyGoReasons && (readyGoReasons.length > 0)">
                        <h4 class="text-center pt-3">
                            <b>{{'Ready to participate' | translate}} ?</b>
                        </h4>
                        <div *ngFor="let reason of readyGoReasons" class="infoBody">
                            <div *ngIf="reason == 'NoWallet'" class="py-2">
                                {{'No exchangily wallet found.' | translate}}
                                <a mat-raised-button color="primary" class="nav-link"
                                    routerLink="/wallet/create">{{"Create Wallet" | translate}}</a>
                            </div>
                            <div *ngIf="reason == 'NotLogin'" class="py-2">
                                {{'You have to login to participate this campaign' | translate}}
                                <a mat-raised-button color="primary" class="nav-link"
                                    routerLink="/login/signin">{{"Login" | translate}}</a>
                            </div>
                            <div *ngIf="reason == 'NoKyc'" class="py-2">
                                {{'Complete the KYC form to qualify for this campaign' | translate}}
                                <a mat-raised-button color="primary" class="nav-link" routerLink="/account/kyc">{{"KYC"
                                    | translate}}</a>
                            </div>
                            <div *ngIf="reason == 'KycDenied'" class="py-2">
                                {{'Your kyc was denied, please submit a new one' | translate}}
                                <a mat-raised-button color="primary" class="nav-link" routerLink="/account/kyc">{{"KYC"
                                    | translate}}</a>
                            </div>
                            <div *ngIf="reason == 'SubmitKyc'" class="py-2">
                                {{'Your kyc was submitted, please wait for approval' | translate}}
                            </div>
                            <div *ngIf="reason == 'KycInProcess'" class="py-2">
                                {{'Your kyc is in process, please wait for approval' | translate}}
                            </div>
                            <div *ngIf="reason == 'TokenExpired'" class="py-2">
                                {{'Token expired, please login and try again' | translate}}
                                <a mat-raised-button color="primary" class="nav-link"
                                    routerLink="/login/signin">{{"Login" | translate}}</a>
                            </div>
                            <div *ngIf="reason == 'KycHasProblem'" class="py-2">
                                {{'Your kyc has problem, please submit a new one' | translate}}
                                <a mat-raised-button color="primary" class="nav-link" routerLink="/account/kyc">{{"KYC"
                                    | translate}}</a>
                            </div>
                            <div *ngIf="reason == 'exgAddressNotMatch'" class="py-2">
                                <p>{{'Your EXG address does not match the one associated with your account' |
                                    translate}}
                                </p>

                                <p class="text-center button-container" *ngIf="!updated"><button
                                        class="btn exbtn py-2 px-5" (click)="updateAdd()">
                                        {{'Update EXG Address' | translate }} </button></p>
                                <p *ngIf="updated"> {{"Updated successful" | translate}} !</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!(readyGoReasons && (readyGoReasons.length > 0))" class="row investmentDialog">
                        <div class="col-md-12 investmentDialogTitle">
                            <h4 *ngIf="step==1">Enter Investment Amount</h4>
                            <h4 *ngIf="step==2">Select A Payment Method</h4>
                        </div>
                        <div *ngIf="step==1" class="col-md-9">
                            <div class="row">

                                <div class="col-md-4 investmentInput">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Investment amount' | translate }}</mat-label>
                                        <input matInput placeholder="" [(ngModel)]="value" value="" class="fInput">
                                    </mat-form-field>{{'USD' | translate }}
                                </div>

                                <div class="col-md-4 exdisabled investmentInput">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'EXG price' | translate }}</mat-label>
                                        <input readonly matInput placeholder="" [(ngModel)]="price" value=""
                                            class="fInput">
                                    </mat-form-field>
                                    {{'USD' | translate }}
                                </div>

                                <div class="col-md-4 exdisabled investmentInput">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'EXG quantity' | translate }}</mat-label>
                                        <input readonly matInput placeholder="" [(ngModel)]="quantity" value=""
                                            class="fInput">
                                    </mat-form-field>{{'piece' | translate}}
                                </div>
                            </div>

                        </div>

                        <div *ngIf="step==2" class="col-md-12 step2">
                            <div class="row">
                                <div class="col-md-4 investmentField">
                                    <label id="currency-radio-group-label">{{'Currency' | translate }}</label>
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" [(ngModel)]="selectedPaymentCurrency">

                                        <mat-radio-button class="example-radio-button"
                                            *ngFor="let currency of currencies" (click)="selectCurrency(currency)"
                                            [value]="currency">
                                            {{currency | translate}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <div *ngIf="coinName == 'USDT'">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>{{'Gas Price(GWEI)' | translate}}</mat-label>
                                            <input matInput placeholder="{{'Gas price' | translate}}"
                                                [(ngModel)]="gasPrice">
                                        </mat-form-field>

                                        <mat-form-field class="example-full-width">
                                            <mat-label>{{'Gas limit' | translate}}</mat-label>
                                            <input matInput placeholder="{{'Gas limit' | translate}}"
                                                [(ngModel)]="gasLimit">
                                        </mat-form-field>
                                    </div>
                                    <hr>
                                </div>
                                <div class="col-md-4 investmentField">
                                    <label id="method-radio-group-label" *ngIf="submethods">{{'Payment Method' |
                                        translate }}</label>
                                    <mat-radio-group *ngIf="submethods" aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" [(ngModel)]="selectedPaymentMethod">
                                        <mat-radio-button class="example-radio-button" *ngFor="let method of submethods"
                                            [value]="method">
                                            {{method | translate}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <hr>
                                </div>
                                <div class="col-md-4 investmentField">
                                    <div *ngIf="selectedPaymentMethod == 'E-transfer'">
                                        <div>{{'Official Name' | translate}}:exchangily</div>
                                        <div>{{'Email' | translate}}:info@exchangily.com</div>
                                    </div>

                                    <div *ngIf="selectedPaymentMethod == 'By Cash App'">
                                        <div>
                                            <a target="_blank"
                                                href="https://cash.app/app/RDKTFGD?from=groupmessage&isappinstalled=0">Cash
                                                App</a>
                                        </div>
                                    </div>

                                    <div *ngIf="selectedPaymentMethod == 'Wire to eXchangily bank account'">
                                        <div>{{'Bank' | translate}}: KeyBank</div>
                                        <div>{{'Routing Number' | translate}}: 041001039</div>
                                        <div>{{'Account Number' | translate}}: 350211024087</div>
                                        <div>{{'SWIFT code' | translate}}: keybus33 </div>
                                    </div>
                                    <div *ngIf="selectedPaymentMethod == 'Wechat'">
                                        <div>{{'Official Name' | translate}}:exchangily</div>
                                    </div>

                                    <div *ngIf="selectedPaymentMethod == 'Alipay'">
                                        <div>{{'Official Account' | translate}}:info@exchangily.com</div>
                                    </div>

                                    <div *ngIf="selectedPaymentMethod == 'Direct transfer'">
                                        <div>{{'Email' | translate}}:service@exchangily.com</div>
                                        <div>{{'Phone(USA)' | translate}}:216-233-4316</div>
                                        <div>{{'Phone(China)' | translate}}:+8615503902634</div>
                                        <div>{{'Wechat(USA)' | translate}}:dora_r_tang</div>
                                        <div>{{'Wechat(China)' | translate}}:Yesie10</div>
                                    </div>

                                    <div *ngIf="payableAmount" class="py-2">
                                        <div>{{'Payable Amount' | translate}}:{{payableAmount}}
                                            {{selectedPaymentCurrency | translate}}
                                        </div>
                                    </div>

                                    <!-- <div class="d-flex" -->
                                    <div
                                        *ngIf="(selectedPaymentCurrency=='USDT') || (selectedPaymentCurrency=='DUSD') || (selectedPaymentCurrency=='FAB') || (selectedPaymentCurrency=='BTC') || (selectedPaymentCurrency=='ETH')">
                                        <label id="example-radio-group-label">{{'Available' | translate }}</label>:
                                        {{available}} {{selectedPaymentCurrency}}
                                    </div>


                                    <div
                                        *ngIf="(selectedPaymentCurrency=='USDT') || (selectedPaymentCurrency=='DUSD') || (selectedPaymentCurrency=='FAB') || (selectedPaymentCurrency=='BTC') || (selectedPaymentCurrency=='ETH')">

                                        <label id="example-radio-group-label">{{'Transaction fee' | translate
                                            }}</label>: {{gasPrice * gasLimit / 1e9}} ETH

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="referralCode" class="py-2">
                            {{'Your referral code' | translate }}: {{referralCode}}
                            <mat-icon svgIcon="facebook"></mat-icon>
                            <mat-icon svgIcon="twitter"></mat-icon>
                        </div>

                        <!-- <div class="d-flex justify-content-end"> -->
                        <div class="d-flex flex-row  " [ngClass]="{'col-md-3': step==1, 'col-md-12':step==2 }">
                            <div class="align-self-center button-container finalBtn">
                                <button class="btn exbtn text-white py-2 px-5 " (click)="next()"
                                    [disabled]="value === undefined">
                                    {{((step == 1) ? 'Next' : 'Confirm') | translate }} </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-3 readyTable" *ngIf="readyGo">
            <div class="col col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">{{'Order#' | translate }}</th>
                            <th scope="col">{{'Currency' | translate }}</th>
                            <th scope="col">{{'Payment Method' | translate }}</th>
                            <th scope="col">{{'Price' | translate }}</th>
                            <th scope="col">{{'Quantity' | translate }}</th>
                            <th scope="col">{{'Value(USD)' | translate }}</th>
                            <th scope="col">{{'Create Time' | translate }}</th>
                            <th scope="col">{{'Status' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="orders">
                        <ng-container *ngFor="let order of orders; let i = index">
                            <tr ngClass="{{i%2 ? 'odd' : 'even'}}">
                                <td>{{order.orderNum}}</td>
                                <td>{{order.payCurrency}}</td>
                                <td>{{order.payMethod}}</td>
                                <td>{{order.price}}</td>
                                <td>{{order.quantity}}</td>
                                <td>{{order.amount ? order.amount : (order.price * order.quantity)}}</td>
                                <td>{{utilServ.showTime(order.dateCreated)}}</td>
                                <td>
                                    {{getStatusText(order.status)}}
                                    <button *ngIf="order.status==1" (click)="markedAsPaid(order)" mat-raised-button
                                        color="primary">{{getStatusText(2)}}</button>
                                </td>
                            </tr>
                            <tr ngClass="{{i%2 ? 'odd' : 'even'}}">
                                <td colspan="8">
                                    <div class="container" *ngIf="showMarkedAsPaidId == order._id">
                                        <div class="row">
                                            <div class="col col-9">
                                                <mat-form-field class="w-100">
                                                    <mat-label>{{'Fill in bank payment details' | translate }}:
                                                    </mat-label>
                                                    <input matInput placeholder="" [(ngModel)]="comment">
                                                </mat-form-field>
                                            </div>
                                            <div class="col col-3">
                                                <button (click)="confirmMarkedAsPaid(order)" mat-raised-button
                                                    color="primary">{{'Confirm' | translate}}</button>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>

                        </ng-container>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>