<div class="container py-3">
    <div class="row">
        <div class="col col-4">
            <mat-card class="example-card">
                <mat-card-header class="text-center">
                    <h4 class="d-inline-block">Social Media</h4>

                </mat-card-header>
                <mat-card-content>
                    <div>
                        Register on https://exchangily.com/ pass the KYC nad get($20 EXG) and ($3 FAB) per referrals Please submit new form for each airdrop type Social Media We will reward you up to ($25) EXG coin if you follow, join, like and promote Exchangily on
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col col-4">
            <h3>Exchangily video</h3>

        </div>
        <div class="col col-4">
            <h3>Exchangily article</h3>
        </div>
    </div>
</div>