.text-center {
    align-items: center;
    justify-content: center;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.example-radio-button {
    margin: 5px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

a h3 {
    color:blue;
    text-decoration: underline;
}

