<app-header (sidenavToggle)="sidenav.toggle()">
</app-header>


<section class="exg-bg-dark main-container py-1">
    <router-outlet></router-outlet>
</section>

<footer class="page-footer pt-3 text-white py-1">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <a href="/" class="logo-font"><img src="./images/exchangily decentralized exchange logo.png" width="64px">eXchangily {{'Title' | translate}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a class="text-muted" href="mailto: info@exchangily.com">
                    <button mat-icon-button>
                        <mat-icon>email</mat-icon>
                    </button> info@exchangily.com
                </a>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
                <div class="d-inline-block pr-3">加入社区 </div>
                <div class="d-inline-block"><img src="/assets/social.png"></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <div class="d-inline-block pr-3">
                    目录
                </div>
                <div class="d-inline-block text-muted pr-2">
                    管理我的钱包
                </div>
                <div class="d-inline-block text-muted pr-2">
                    市场行情
                </div>
                <div class="d-inline-block text-muted pr-2">
                    交易
                </div>
                <div class="d-inline-block text-muted pr-2">
                    区块浏览器
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="d-inline-block pr-3">
                    帮助
                </div>
                <div class="d-inline-block text-muted pr-2">
                    关于亿币eXchangily
                </div>
                <div class="d-inline-block text-muted pr-2">
                    常见问题FAQ
                </div>
                <div class="d-inline-block text-muted pr-2">
                    法律与合规
                </div>
                <div class="d-inline-block text-muted pr-2">
                    API条款
                </div>
                <div class="d-inline-block text-muted pr-2">
                    费率声明
                </div>
                <div class="d-inline-block text-muted pr-2">
                    钱包安全
                </div>
                <div class="d-inline-block text-muted pr-2">
                    社区公告
                </div>
            </div>
        </div>
        <hr>
        <!-- Copyright -->
        <div class="text-center small pb-3">© {{year}} {{"Copyright" | translate}}:
            <a href="https://exchangily.com"> eXchangily.com</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>


<!--
<footer class="page-footer text-white py-1">

    <div class="container text-md-left">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div>
                    <a href="/" class="logo-font"><img src="./images/exchangily decentralized exchange logo.png" width="64px">eXchangily {{'Title' | translate}}</a>
                </div>
                <div>
                    <a class="text-muted" href="mailto: info@exchangily.com">
                        <button mat-icon-button>
                            <mat-icon>email</mat-icon>
                        </button> info@exchangily.com
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">

                <h5 class="text-uppercase">{{"Links" | translate }}</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://exchangily.com" target="_blank">{{"ExgOfflWeb" | translate}}</a>
                    </li>
                    <li>
                        <a href="#">{{'Exchange' | translate}}</a>
                    </li>
                    <li>
                        <a href="/wallet">{{'Wallet' | translate}}</a>
                    </li>
                    <li>
                        <a href="/setting">{{'Setting' | translate}}</a>
                    </li>
                </ul>

            </div>

            <div class="col-sm-6 col-md-3">

                <h5 class="text-uppercase">{{"Resource" | translate}}</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/help">{{"Help" | translate}}</a>
                    </li>
                    <li>
                        <a href="/about">{{"AboutExg" | translate}}</a>
                    </li>
                    <li>
                        <a href="/blog">{{"Blog" | translate}}</a>
                    </li>
                    <li>
                        <a href="/community">{{"Community" | translate}}</a>
                    </li>
                </ul>

            </div>

        </div>

        <hr>
        <div class="text-center small">© {{year}} {{"Copyright" | translate}}:
            <a href="https://exchangily.com"> eXchangily.com</a>
        </div>
    </div>
</footer>
-->