.page-footer {
    background-color: #1d1c2e;
}

.logo-font {
    font-size: 28px;
    color: white;
}

hr {
    border: 1px solid #282840;
}

.dropdown-toggle {
    background: transparent!important;
    background-color: black;
}

#mydiv>.btn-default {
    background: transparent;
}