.top-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-grow: 1;
}

.page-footer {
    background-color: #1d1c2e;
}

.logo-font {
    font-size: 28px;
    color: white;
}

hr {
    border: 1px solid #282840;
}

.dropdown-toggle {
    background: transparent!important;
    background-color: black;
}

#mydiv>.btn-default {
    background: transparent;
}

@media only screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .visible-xs {
        display: none;
    }
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
}

.main-container {
    border-bottom: 1px solid;
}