.top-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-grow: 1;
}

.page-footer {
    background-color: #1d1c2e;
}

.logo-font {
    font-size: 28px;
    color: white;
}

hr {
    border: 1px solid #282840;
}

.dropdown-toggle {
    background: transparent!important;
    background-color: black;
}

#mydiv>.btn-default {
    background: transparent;
}

@media only screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .visible-xs {
        display: none;
    }
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
}

.main-container {
    border-bottom: 1px solid;
    // border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient' x1='100%' x2='0%' y1='0%' y2='0%'><stop offset='0%' stop-color='rgb(122,28,229)' stop-opacity='1' /> <stop offset='100%' stop-color='rgb(229,159,18)' stop-opacity='1' /></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
}