<app-header (sidenavToggle)="sidenav.toggle()">
</app-header>


<section class="exg-bg-dark py-1">
    <router-outlet></router-outlet>
</section>

<!-- Footer -->
<footer class="page-footer text-white py-1">

    <!-- Footer Links -->
    <div class="container text-md-left">

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-sm-12 col-md-6">
                <a href="/" class="logo-font"><img src="./images/exchangily decentralized exchange logo.png" width="64px">eXchangily {{'Title' | translate}}</a>
                <p class="text-white">{{'ExgName' | translate}}</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-sm-6 col-md-3">

                <!-- Links -->
                <h5 class="text-uppercase">{{"Links" | translate }}</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://exchangily.com" target="_blank">{{"ExgOfflWeb" | translate}}</a>
                    </li>
                    <li>
                        <a href="#">{{'Exchange' | translate}}</a>
                    </li>
                    <li>
                        <a href="/wallet">{{'Wallet' | translate}}</a>
                    </li>
                    <li>
                        <a href="/setting">{{'Setting' | translate}}</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-sm-6 col-md-3">

                <!-- Links -->
                <h5 class="text-uppercase">{{"Resource" | translate}}</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/help">{{"Help" | translate}}</a>
                    </li>
                    <li>
                        <a href="/about">{{"AboutExg" | translate}}</a>
                    </li>
                    <li>
                        <a href="/blog">{{"Blog" | translate}}</a>
                    </li>
                    <li>
                        <a href="/community">{{"Community" | translate}}</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr>
        <!-- Copyright -->
        <div class="text-center small">© {{year}} {{"Copyright" | translate}}:
            <a href="https://exchangily.com"> eXchangily.com</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>