<div class="top-container">
    <app-header *ngIf="!noHeader">
    </app-header>


    <section class="main-container" [ngClass]="darkBgEnable?'exg-bg-dark py-1':''">
        <router-outlet></router-outlet>
    </section>

    <app-footer *ngIf="!noHeader"></app-footer>

</div>
<!--
<footer class="page-footer text-white py-1">

    <div class="container text-md-left">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div>
                    <a href="/" class="logo-font"><img src="./images/exchangily decentralized exchange logo.png" width="64px">eXchangily {{'Title' | translate}}</a>
                </div>
                <div>
                    <a class="text-muted" href="mailto: info@exchangily.com">
                        <button mat-icon-button>
                            <mat-icon>email</mat-icon>
                        </button> info@exchangily.com
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">

                <h5 class="text-uppercase">{{"Links" | translate }}</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://exchangily.com" target="_blank">{{"ExgOfflWeb" | translate}}</a>
                    </li>
                    <li>
                        <a href="#">{{'Exchange' | translate}}</a>
                    </li>
                    <li>
                        <a href="/wallet">{{'Wallet' | translate}}</a>
                    </li>
                    <li>
                        <a href="/setting">{{'Setting' | translate}}</a>
                    </li>
                </ul>

            </div>

            <div class="col-sm-6 col-md-3">

                <h5 class="text-uppercase">{{"Resource" | translate}}</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/help">{{"Help" | translate}}</a>
                    </li>
                    <li>
                        <a href="/about">{{"AboutExg" | translate}}</a>
                    </li>
                    <li>
                        <a href="/blog">{{"Blog" | translate}}</a>
                    </li>
                    <li>
                        <a href="/community">{{"Community" | translate}}</a>
                    </li>
                </ul>

            </div>

        </div>

        <hr>
        <div class="text-center small">© {{year}} {{"Copyright" | translate}}:
            <a href="https://exchangily.com"> eXchangily.com</a>
        </div>
    </div>
</footer>
-->