<div class="container exg-bg faq-container">
    <div class="row pt-4 pl-3">
        <h4>FAQ</h4>
    </div>
    <div class="row">

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>How does eXchangily work?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                    Users retain control over their funds. Their private keys and their transaction information is transparent and secure. Individuals can trade, and enterprises can transact on eXchangily with ERC20 tokens and other cryptocurrencies. It is a fully democratic
                    and autunomous platform.
                    </small>
                </div>
            </mat-expansion-panel>

        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>How to create eXchangily Wallet?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                    Users retain control over their funds. Their private keys and their transaction information is transparent and secure. Individuals can trade, and enterprises can transact on eXchangily with ERC20 tokens and other cryptocurrencies. It is a fully democratic
                    and autunomous platform.
                    </small>
                </div>
            </mat-expansion-panel>

        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>How to import eXchangily Wallet?</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                    Users retain control over their funds. Their private keys and their transaction information is transparent and secure. Individuals can trade, and enterprises can transact on eXchangily with ERC20 tokens and other cryptocurrencies. It is a fully democratic
                    and autunomous platform.
                    </small>
                </div>
            </mat-expansion-panel>

        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-muted">
                        <h6><small>What's eXchangily different from other...</small></h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="text-muted">
                    <small>
                    Users retain control over their funds. Their private keys and their transaction information is transparent and secure. Individuals can trade, and enterprises can transact on eXchangily with ERC20 tokens and other cryptocurrencies. It is a fully democratic
                    and autunomous platform.
                    </small>
                </div>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>