.mat-expansion-panel {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.mat-expansion-panel-header-title {
    color: white;
}

.text-muted small{
    color: silver;
}
/* 
.faq-container {
    height: 425px;
} */

::ng-deep{
    .mat-expansion-panel-header{
        padding: 0 18px !important;
    }

    .mat-expansion-panel-body{
        padding: 0 10px !important;

        .text-muted{
            background-color: #2d2d69;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
    }
}