<div class="container py-3">
    <div class="row py-3 text-white">
        <div class="col col-12">
            <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                <!-- Coin Column -->
                <ng-container matColumnDef="Coin">
                    <th mat-header-cell *matHeaderCellDef> {{'Coin' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.coinName}} </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="Quantity">
                    <th mat-header-cell *matHeaderCellDef> {{'Quantity' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{utilServ.showAmount(element.value)}} </td>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="Address">
                    <th mat-header-cell *matHeaderCellDef> {{'Address' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.withdrawToAddress}} </td>
                </ng-container>

                <!-- Transaction ID Column -->
                <ng-container matColumnDef="Transaction ID">
                    <th mat-header-cell *matHeaderCellDef> {{'Transaction ID' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.txHash}} </td>
                </ng-container>

                <!-- Block Number Column -->
                <ng-container matColumnDef="Block Number">
                    <th mat-header-cell *matHeaderCellDef> {{'Block Number' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.blockNumber}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>