@import "colours";
@import "sizing";
.home__team {
    width: 100%;
    .not-visible {
        display: none !important;
    }
    .team-toggle {
        background: none;
        border: none;
        display: block;
        cursor: pointer;
        margin: 0 auto;
        text-align: center;
    }
    .section--title__button {
        background: none;
        border: none;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }
    .member--title {
        list-style: none;
        min-height: 1.2em;
        text-align: center;
    }
    &__section {
        .row {
            overflow: hidden;
        }

        height: max-content;
        margin: 2em 0;
        overflow: hidden;
        position: relative;
        &.halved {
            height: 20em !important;
        }
        &--transparent {
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(255, 255, 255, 0.68) 50%,
                rgba(255, 255, 255, 1) 100%
            );
            bottom: 0;
            height: 10em;
            position: absolute;
            width: 100%;
        }
    }

    &__section__member {
        overflow: hidden;
        margin: 1em 0;
        min-width: 10em;
        height: 100%;
        text-align: center;
        // border-left: 3px solid transparent;
        // border-right: 3px solid transparent;
        // border-top: 5px solid #181439;
        // background-clip: padding-box;
        // background-color: #000066;

        .member-detail {
            padding: 30px;
            color: #ffffff;
            // background-color: #303052;
            background-color: #3d1f6d;
            height: 400px;
            border-radius: 10px;
            -webkit-transition: all 450ms ease-in-out;
            -moz-transition: all 450ms ease-in-out;
            -o-transition: all 450ms ease-in-out;
            -ms-transition: all 450ms ease-in-out;
            transition: all 450ms ease-in-out;

            .member--title {
                color: #dddddd;
            }

            .member__list {
                color: #dddddd;
            }
        }

        .member-detail:hover {
            background-color: #6958f1;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
            -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        }

        // padding: ;

        @media (max-width: $p768) {
            .member-detail {
                height: auto;
            }
        }
    }
    .member--image {
        border-radius: 10em;
        height: 6em;
        margin: 0 auto;
        position: relative;
        width: 6em;
        margin-bottom: 10px;
        &:hover .member--image-special {
            display: block;
        }
        &-special {
            display: none;
            position: absolute;
            font-size: 3em;
            right: 0.5em;
            top: 0.25em;
        }
        &-unit {
            background-position: center top !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            border-radius: 4em;
            height: 100%;
            width: 100%;
        }
    }
    .member__list {
        list-style: none;
        margin-right: -2em;
        padding: 0;
        text-align: center;
        text-decoration: none;
        width: calc(100% - 2em);
        li {
            margin-top: 0.35em;
            margin-right: -2.3em;
        }
    }
    .member--linkedin.center {
        margin-left: calc(50% - 0.6em);
    }
}


@media (max-width: $p768) {
    .home__team { 
        padding: 0 30px;
    }
}