<div class="container coin-detail"  (click)="gotoTrade()">
    <div class="row title">
        <div class="col col-6 text-muted text-color-purple">
            {{pair}}
        </div>
        <div class="col col-6 text-right" [class.text-color-green]="changePercent == 'NaN' || toNumber(changePercent)>=0" [class.text-color-red]="toNumber(changePercent)<0">
            {{changePercent!='NaN' ? changePercent : '0.00'}}%
        </div>
    </div>
    <div class="row">
        <div class="col col-12 text-white">{{price}}</div>
    </div>
    <div class="row text-color-grey">
        <div class="col col-12">{{'Volume' | translate}} {{volume}} {{baseCoinName}}</div>

    </div>
</div>