.custom-table {
    font-weight: 400;
    width: 100%;
    padding: 16px 32px;
}

.custom-table thead>tr>th {
    color: #7b8293;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 8px;
}

.custom-table tbody>tr {
    border-bottom: 1px solid #f4f5f8;
}

.custom-table tbody tr td {
    font-size: 16px;
    font-weight: 500;
    color: #3f475a;
    line-height: 20px;
}

.custom-table tbody>tr>td {
    padding: 18px 0;
}

.custom-table tbody tr:hover {
    cursor: pointer;
    background-color: #f7f9fc;
}