<div class="container text-white walletDashboard">
  <div class="row row-flex">
    <div class="w-75">
      <div class="exg-bg content">
        <div class="container py-2">

          <div class="row">
            <div class="col col-8 col-md-6">
              {{"My Wallet" | translate}}
            </div>

            <div class="col col-4 w-100 col-md-6 small text-right fxHide-gt-sm">
              <mat-menu #walletMenu="matMenu">
                <button type="button" (click)="onmanageWallet('BACKUP_PRIVATE_KEY')" mat-menu-item>{{"Backup private key" | translate}}</button>
                <button type="button" mat-menu-item (click)="navigate('/wallet/restore')">{{"Import Wallet" | translate}}</button>
                <button type="button" (click)="navigate('/wallet/create')" mat-menu-item>{{"Create Wallet" | translate}}</button>
                <!--
                <button type="button" (click)="onmanageWallet('LOGIN_SETTING')" mat-menu-item>{{"Login Setting" | translate}}</button>
                -->
                <button type="button" (click)="onmanageWallet('DISPLAY_SETTING')" mat-menu-item>{{"Display Setting" | translate}}</button>
                <button type="button" (click)="onmanageWallet('SHOW_SEED_PHRASE')" mat-menu-item>{{"Show seed phrase" | translate}}</button>

                <button type="button" (click)="onmanageWallet('VERIFY_SEED_PHRASE')" mat-menu-item>{{"Verify seed phrase" | translate}}</button>

                <button type="button" (click)="onmanageWallet('DELETE_WALLET')" mat-menu-item>{{"Delete wallet" | translate}}</button>
                <button type="button" (click)="onmanageWallet('SMART_CONTRACT')" mat-menu-item>{{"Smart contract" | translate}}</button>
                <button type="button" (click)="onmanageWallet('HIDE_SHOW_WALLET')" mat-menu-item>{{ (hideWallet ? 'Show wallet' : 'Hide wallet') | translate}}  </button>
                <button type="button" (click)="navigate('/ex/walletconnect')" mat-menu-item>{{"Wallet connect" | translate}}</button>
                <button type="button" (click)="onmanageWallet('TOOLS')" mat-menu-item>{{"Tools" | translate}}</button>
              </mat-menu>

              <button type="button" mat-icon-button [matMenuTriggerFor]="walletMenu" title="menu">
                <mat-icon svgIcon="more-vert"></mat-icon>
              </button>
            </div>
          </div>

          <!--
          <li class="nav-item">
            <a (click)="hideShowWallet()" class="nav-link text-silver">
              {{ (hideWallet ? 'Show wallet' : 'Hide wallet') | translate}}
            </a>
          </li>

          <li class="nav-item">
            <a (click)="manageWal('TOOLS')" class="nav-link text-silver">
              {{'Tools' | translate}}
            </a>
          </li>
          -->

          <div class="row">
            <div class="col col-md-8">

              @if (wallets) {
                <div>
                  <mat-form-field>
                    <mat-select panelClass="example-panel" [value]="currentWalletIndex" (selectionChange)="changeWallet($event)">
                      @for (wallet of wallets; track wallet; let i = $index) {
                        <mat-option [value]="i">
                          {{wallet.name}}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              }
              @if(wallet && wallet.hide) {
                <div>
                  <div class="hide-wallet-text">
                    {{'Your wallet is hidden' | translate }}
                  </div>
                </div>
              }
              @if (wallet && !wallet.hide) {
                <div class="small text-white">
                  {{"Wallet address" | translate }}: <span class="pl-2 walletadd"> {{fabAddress}}</span>
                  <span class="hand" (click)="copyAddress()" title="{{'Copy address'|translate}}" aria-label="{{'Copy address'|translate}}" style="margin-left:4px; position:relative; top:10px; display:inline-block;">
                    <mat-icon svgIcon="copy"></mat-icon>
                  </span>
                </div>
              }
              @if (wallet && !wallet.hide) {
                <div class="small text-white">{{"Kanban Gas" | translate }}: {{gas}}
                  @if (gas<0.0001) {
                    <span class="warningMsg pr-2">{{"No enough gas in exchange, please add gas to trade"|translate}}.</span>
                  }
                  @if ((gas<=0) && (fabBalance <= 0)) {
                    <button type="button" class="btn button btn-outline btn-basic-outline btn-fixed-width" (click)="getFreeFab()">{{"Get free FAB" | translate }}</button>
                  }
                </div>
              }

            </div>
            @if (wallet && !wallet.hide) {
              <div class="col col-md-2 small">
                {{"EXG" | translate}} {{utilServ.toPrecision(exgBalance)}}
                <div class="small">
                  <span>
                    {{utilServ.toPrecision(exgBalance * exgValue * currencyRate)}}
                  </span> {{currentCurrency | translate}}
                </div>
              </div>
            }
            @if (wallet && !wallet.hide) {
              <div class="col col-md-2">
                <div class="small pl-3">{{valueChange| number:'0.2-2'}}%</div>
                <div>
                  <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-link dropdown-toggle small" aria-controls="dropdown-basic">
                      <span class="caret small pl-0">{{currentCurrency | translate}}</span>
                    </button>
                    <ul id="dropdown-basic" class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                      @if (currentCurrency !== 'USD') {
                        <li role="menuitem">
                          <a class="dropdown-item small" (click)="changeCurrency('USD')">{{'USD' | translate }}</a>
                        </li>
                      }
                      @if (currentCurrency !== 'CAD') {
                        <li role="menuitem">
                          <a class="dropdown-item small" (click)="changeCurrency('CAD')">{{'CAD' | translate }}</a>
                        </li>
                      }
                      @if (currentCurrency !== 'RMB') {
                        <li role="menuitem">
                          <a class="dropdown-item small" (click)="changeCurrency('RMB')">{{'RMB' | translate }}</a>
                        </li>
                      }
                    </ul>
                  </div>
                </div>
              </div>
            }
          </div>

          @if (wallet && !wallet.hide) {
            <div class="row py-3">
              <div class="col col-12">
                <div class="d-inline-block pr-3 walletBtn">
                  <modal-receive-coin [wallet]="wallet"></modal-receive-coin>
                </div>
                <div class="d-inline-block pr-3 walletBtn">
                  <button type="button" class="btn button btn-outline btn-basic-outline btn-fixed-width" (click)="sendCoin()">{{"Send" | translate }}</button>
                </div>
                <div class="d-inline-block pr-3 walletBtn">
                  <button type="button" class="btn button btn-outline btn-basic-outline btn-fixed-width" (click)="addGasFee()" [matTooltip]="fabBalance < 0.5 ? ('No enough FAB in wallet, can not add gas' | translate) : ''">{{"Add Gas" | translate }}</button>
                </div>
                <div class="d-inline-block pr-3 walletBtn">
                  <button type="button" class="btn button btn-outline btn-basic-outline btn-fixed-width" (click)="exchangeMoney()">{{"Exchange" | translate }}</button>
                </div>
                @if (!walletUpdateToDate) {
                  <div class="d-inline-block pr-3 walletBtn">
                    <button type="button" class="btn button btn-outline btn-basic-outline btn-fixed-width text-danger font-weight-bold" (click)="updateWallet()">{{"Update" | translate }}</button>
                  </div>
                }
              </div>
            </div>
          }
          @if (wallet && !wallet.hide) {
            <div class="row py-3">
              <div class="col col-12">
                <div class="d-inline-block pr-3 walletBtn">
                  <buy-coin-modal [wallet]="wallet"></buy-coin-modal>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="mt-2 exg-bg">
        @if (wallet && (!wallet.hide)) {
          <div class="container py-2">
            <div class="row">
              <div class="col col-10 col-md-8">
                <h6 class="d-flex justify-content-between align-items-center hand-cursor w-100" (click)="onShowMyAssets()">
                  <div>
                    {{"My Assets" | translate}}
                  </div>
                  <!--
                  <mat-form-field>
                    <mat-select panelClass="example-panel" [value]="currentChain" (selectionChange)="changeChain($event.value)">
                      <mat-option *ngFor="let chain of chains;let i = index" [value]="chain.value">
                        {{chain.text}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  -->
                </h6>
                <div class="d-flex justify-content-between w-100">
                  @for (chain of chains; track chain; let i = $index) {
                    <div [ngClass]="currentChain == chain.value ? 'chain-selected hand-cursor' : 'hand-cursor'" (click)="changeChain(chain.value)"> {{chain.value}} </div>
                  }
                </div>
                <mat-checkbox [(ngModel)]="hideSmall" class="small">
                {{"Hide Small Amount Assets" | translate}}</mat-checkbox>
              </div>
              <div class="col col-2 col-md-4 small text-right fxHide-sm">
                <div class="d-inline mr-3">
                  <!--
                  <modal-transaction-history></modal-transaction-history>
                  -->
                  <a (click)="onShowTransactionHistory()">{{"Transaction History" | translate}}</a>
                </div>
                <div class="d-inline mr-3">
                  <a (click)="addAssets()">{{"Add Assets" | translate}}</a>
                </div>
                @if (hasNewCoins) {
                  <div class="d-inline text-danger">
                    <a (click)="loadnewCoins()">
                      {{"Load new assets" | translate}}
                    </a>
                  </div>
                }
              </div>
              <div class="col col-2 col-md-4 small text-right fxHide-gt-sm">
                <mat-menu #appMenu="matMenu">
                  <button type="button" mat-menu-item (click)="onShowTransactionHistory()">{{"Transaction History" | translate}}</button>
                  <button type="button" (click)="addAssets()" mat-menu-item>{{"Add Assets" | translate}}</button>
                </mat-menu>
                <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu" title="More options">
                  <mat-icon svgIcon="more-vert"></mat-icon>
                </button>
              </div>
            </div>
            @if (showTransactionHistory) {
              <app-transaction-history class="row pt-4" [transactions]="transactions" [walletId]="wallet.id" [coinsPrice]="coinsPrice"></app-transaction-history>
            }
            @if (showMyAssets) {
              <div class="row pt-4">
                @if (wallet) {
                  <div class="container fxHide-sm">
                    <div class="row apair header">
                      <div class="col-custom-1">
                        {{"Logo" | translate}}
                      </div>
                      <div class="col-custom-1 sortable" (click)="changeSort('name', 'string')">
                        {{"Asset" | translate}}
                        @if (sortAscName == 1) {
                          <span>&uarr;</span>
                        }
                        @if (sortAscName == -1 ) {
                          <span>&darr;</span>
                        }
                      </div>
                      <div class="col-2 sortable" (click)="changeSort('balance', 'number')">
                        {{"Available" | translate}}
                        @if (sortAscBalance == 1) {
                          <span>&uarr;</span>
                        }
                        @if (sortAscBalance == -1) {
                          <span>&darr;</span>
                        }
                      </div>
                      <div class="col-2 sortable" (click)="changeSort('lockedBalance', 'number')">
                        {{"Locked" | translate}}
                        @if (sortAscLockedBalance == 1) {
                          <span>&uarr;</span>
                        }
                        @if (sortAscLockedBalance == -1) {
                          <span>&darr;</span>
                        }
                      </div>
                      <div class="col-2">
                        {{"Value(USD)" | translate}}
                      </div>
                      <div class="col-2">
                        {{"Dividend" | translate}}
                      </div>
                      <div class="col-custom-2">
                        {{"Action" | translate}}
                      </div>
                    </div>
                    @if (wallet) {
                      <div class="container-wallet-main scroll-bar">
                        @for (mycoin of wallet.mycoins | sortByField : sortField : sortFieldType : sortAsc | filterByChain: currentChain; track mycoin; let i = $index) {
                          @if (!hideSmall
                            ||
                            (
                            (mycoin.usdPrice > 0)
                            &&
                            utilServ.toPrecisionMul(mycoin.balance, mycoin.lockedBalance, mycoin.usdPrice) >= 1
                            )) {
                            <div class="row apair dataline small">
                              <div class="col-custom-1 pointer" (click)="selectCoin(mycoin.symbol)">
                                @if (!mycoin.new) {
                                  <img src="{{getCoinLogo(mycoin)}}" name="icon" class="icon" alt="mycoin" />
                                }
                              </div>
                              <div class="col-custom-1">
                                {{mycoin.symbol}}
                                <div>
                                  @if ((mycoin.tokenType=='ETH')) {
                                    <div>
                                      (ETH)
                                    </div>
                                  }
                                  @if ((mycoin.tokenType=='TRX')) {
                                    <div>
                                      (TRX)
                                    </div>
                                  }
                                  @if ((mycoin.tokenType=='BNB')) {
                                    <div>
                                      (BSC)
                                    </div>
                                  }
                                  @if ((mycoin.tokenType=='MATIC')) {
                                    <div>
                                      (Polygon)
                                    </div>
                                  }
                                  @if ((mycoin.tokenType=='HT')) {
                                    <div>
                                      (HT)
                                    </div>
                                  }
                                </div>
                              </div>
                              <div class="col-2">
                                @if (mycoin.balance >= 0) {
                                  <span>
                                    {{utilServ.toPrecision(mycoin.balance)}}
                                  </span>
                                }
                                @if (mycoin.unconfirmedBalance && mycoin.unconfirmedBalance > 0) {
                                  <span>
                                    <small class="text-primary">
                                      ({{'Unconfirmed' | translate}}:{{mycoin.unconfirmedBalance}})
                                    </small>
                                  </span>
                                }
                              </div>
                              <div class="col-2">
                                @if (mycoin.lockedBalance && (mycoin.lockedBalance > 0)) {
                                  <span class="link-span" (click)="showLockedDetails(mycoin)">
                                    {{utilServ.toPrecision(mycoin.lockedBalance)}}
                                  </span>
                                }
                              </div>
                              <div class="col-2">
                                @if ((mycoin.balance >= 0) && mycoin.usdPrice > 0) {
                                  <span>
                                    {{utilServ.toPrecisionMul(mycoin.balance, mycoin.lockedBalance, mycoin.usdPrice)}}
                                  </span>
                                }
                              </div>
                              <div class="col-2">
                              </div>
                              @if (!maintainence) {
                                <div class="col-custom-2">
                                  @if ((gas > 0)) {
                                    <span class="hand" matTooltip="{{'Move fund to DEX'|translate}}" (click)="deposit(mycoin)" aria-label="{{'Move fund to DEX'|translate}}">
                                      <mat-icon svgIcon="arrow-downward"></mat-icon>
                                    </span>
                                  }
                                  @if ((gas > 0)) {
                                    <span class="hand" matTooltip="{{'Confirm move fund to DEX'|translate}}" (click)="redeposit(mycoin)" aria-label="{{'Confirm move fund to DEX'|translate}}">
                                      <mat-icon svgIcon="vertical_align_bottom"></mat-icon>
                                    </span>
                                  }
                                  @if (mycoin.new) {
                                    <span class="hand" matTooltip="{{'Delete'|translate}}" (click)="delete(mycoin)" aria-label="{{'Delete'|translate}}">
                                      <mat-icon svgIcon="delete"></mat-icon>
                                    </span>
                                  }
                                </div>
                              }
                            </div>
                          }
                        }
                      </div>
                    }
                  </div>
                }
                @if (wallet) {
                  <div class="container fxHide-gt-sm">
                    <div class="row apair header">
                      <div class="col-2">
                        {{"Symbol" | translate}}
                      </div>
                      <div class="col-2">
                        {{"Asset" | translate}}
                      </div>
                      <div class="col-4">
                        {{"Available" | translate}}
                      </div>
                      <div class="col-4">
                      </div>
                    </div>
                    @for (mycoin of wallet.mycoins | sortByField : sortField : sortFieldType : sortAsc | filterByChain: currentChain; track mycoin; let i = $index) {
                      <div class="row apair dataline">
                        @if (!hideSmall
                          ||
                          (
                          (mycoin.usdPrice > 0)
                          &&
                          utilServ.toPrecisionMul(mycoin.balance, mycoin.lockedBalance, mycoin.usdPrice) >= 1
                          )) {
                          <div>
                            <div class="col-2">
                              @if (!mycoin.new) {
                                <img src="{{getCoinLogo(mycoin)}}" name="icon2" class="icon" alt="mycoin" />
                              }
                            </div>
                            <div class="col-2">
                              {{mycoin.symbol}}
                              <div>
                                @if ((mycoin.tokenType=='ETH')) {
                                  <div>
                                    (ETH)
                                  </div>
                                }
                                @if ((mycoin.tokenType=='TRX')) {
                                  <div>
                                    (TRX)
                                  </div>
                                }
                                @if ((mycoin.tokenType=='BNB')) {
                                  <div>
                                    (BSC)
                                  </div>
                                }
                                @if ((mycoin.tokenType=='MATIC')) {
                                  <div>
                                    (MATIC)
                                  </div>
                                }
                                @if ((mycoin.tokenType=='HT')) {
                                  <div>
                                    (HT)
                                  </div>
                                }
                              </div>
                            </div>
                            @if (mycoin.balance >= 0) {
                              <div class="col-4">
                                {{mycoin.balance}}
                              </div>
                            }
                            <div class="col-4">
                              @if (!mycoin.new) {
                                <span class="hand" matTooltip="To exchange" [class.disabled]="gas <= 0 || maintainence" (click)="(gas <= 0 || maintainence) ? null : deposit(mycoin)" aria-label="To exchange">
                                  <mat-icon svgIcon="arrow-downward"></mat-icon>
                                </span>
                              }
                              @if (!mycoin.new && (mycoin.redeposit && mycoin.redeposit.length > 0) || (mycoin.depositErr && mycoin.depositErr.length > 0)) {
                                <span class="hand" matTooltip="Reconfirm" (click)="redeposit(mycoin)" aria-label="Reconfirm">
                                  <mat-icon svgIcon="vertical_align_bottom"></mat-icon>
                                </span>
                              }
                              @if (mycoin.new) {
                                <span class="hand" matTooltip="{{'Delete'|translate}}" (click)="delete(mycoin)" aria-label="{{'Delete'|translate}}">
                                  <mat-icon svgIcon="delete"></mat-icon>
                                </span>
                              }
                            </div>
                            <div class="col-12 text-muted">
                              @if (mycoin.lockedBalance && (mycoin.lockedBalance >= 0)) {
                                <p>
                                  {{"Locked" | translate}}:{{mycoin.lockedBalance}}
                                </p>
                              }
                            </div>
                            <div class="col-12 text-muted">
                              {{"Value(USD)" | translate}}:
                              @if ((mycoin.balance >= 0) && (mycoin.usdPrice > 0)) {
                                <span>
                                  {{utilServ.toPrecisionMul(mycoin.balance, mycoin.lockedBalance, mycoin.usdPrice)}}
                                </span>
                              }
                              <!--
                              <span *ngIf="mycoin.name == 'EXG' && coinsPrice && coinsPrice.exgcoin">{{utilServ.toPrecision((mycoin.balance + mycoin.lockedBalance) * coinsPrice.exgcoin.usd)}}</span>
                              <span *ngIf="mycoin.name == 'BTC' && coinsPrice && coinsPrice.bitcoin">{{utilServ.toPrecision((mycoin.balance + mycoin.lockedBalance) * coinsPrice.bitcoin.usd)}}</span>
                              <span *ngIf="mycoin.name == 'FAB' && coinsPrice && coinsPrice.fabcoin">{{utilServ.toPrecision((mycoin.balance + mycoin.lockedBalance) * coinsPrice.fabcoin.usd)}}</span>
                              <span *ngIf="mycoin.name == 'ETH' && coinsPrice && coinsPrice.ethereum">{{utilServ.toPrecision((mycoin.balance + mycoin.lockedBalance) * coinsPrice.ethereum.usd)}}</span>
                              <span *ngIf="mycoin.name == 'USDT' && coinsPrice && coinsPrice.tether">{{utilServ.toPrecision((mycoin.balance + mycoin.lockedBalance) * coinsPrice.tether.usd)}}</span>
                              <span *ngIf="mycoin.name == 'DUSD' ">{{utilServ.toPrecision((mycoin.balance + mycoin.lockedBalance) * 1)}}</span>
                              -->
                            </div>
                            <div class="col-12 text-muted">{{"Profit sharing" | translate}}:</div>
                          </div>
                        }
                      </div>
                    }
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>
    <div class="w-25 match-my-cols fxHide-sm">
      <div class="ml-2 content">
        @if (wallet) {
          <app-manage-wallet #manageWallet (manageWallet)=onmanageWallet($event) [hideWallet]="wallet.hide"></app-manage-wallet>
        }
        <app-faq></app-faq>
      </div>
    </div>
  </div>

  <deposit-amount-modal #depositModal [coin]="currentCoin" [baseCoinBalance]="baseCoinBalance" (confirmedAmount)="onConfirmedDepositAmount($event)" [alertMsg]="alertMsg"></deposit-amount-modal>
  <redeposit-amount-modal #redepositModal (confirmedAmount)="onConfirmedRedepositAmount($event)">
  </redeposit-amount-modal>
  <add-gas-modal #addGasModal (confirmedGas)="onConfirmedGas($event)"></add-gas-modal>
  <pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>
  <display-pin-number-modal #displayPinModal (confirmedPin)="onConfirmedDisplayPin($event)">
  </display-pin-number-modal>
  <add-assets-modal #addAssetsModal (confirmedAssets)="onConfirmedAssets($event)"></add-assets-modal>
  <send-coin-modal #sendCoinModal (confirmedCoinSent)="onConfirmedCoinSent($event)" [wallet]="wallet" [alertMsg]="alertMsg"></send-coin-modal>
  <show-seed-phrase-modal #showSeedPhraseModal></show-seed-phrase-modal>
  <tools-modal (confirmedTools)="onConfirmedTools($event)" #toolsModal></tools-modal>
  <verify-seed-phrase-modal #verifySeedPhraseModal></verify-seed-phrase-modal>
  <backup-private-key-modal #backupPrivateKeyModal (confirmedBackupPrivateKey)="onConfirmedBackupPrivateKey($event)">
  </backup-private-key-modal>
  <delete-wallet-modal #deleteWalletModal (confirmedDeleteWallet)="onConfirmedDeleteWallet()"></delete-wallet-modal>
  <login-setting-modal #loginSettingModal (confirmedLoginSetting)="onConfirmedLoginSetting($event)">
  </login-setting-modal>
  <display-setting-modal #displaySettingModal (confirmedDisplaySetting)="onConfirmedDisplaySetting($event)">
  </display-setting-modal>
  <get-free-fab-modal #getFreeFabModal [address]="fabAddress"></get-free-fab-modal>
  <locked-info-modal #lockedInfoModal></locked-info-modal>
  <wallet-update-modal (confirmWalletUpdate)="updateWallet()" #walletUpdateModal></wallet-update-modal>
