<div *ngIf="screenwidth >= 960" class="outwraper w-100 fixed-height">
    <div class="left-area exg-bg mr-2 h-100">
        <app-lite-list></app-lite-list>
    </div>

    <div class="center-area h-100 mr-2">
        <div class="w-100">
            <app-tv-chart-container class="w-100"></app-tv-chart-container>
        </div>
        <div class="orderarea exg-bg mt-2">
            <app-myorders></app-myorders>
        </div>
    </div>

    <div class="right-area h-100">
        <app-order-pad></app-order-pad>
    </div>
</div>


<div *ngIf="screenwidth < 960">
    <div class="w-100">
        <app-tv-chart-container class="w-100"></app-tv-chart-container>
    </div>
    <div class="w-100">
        <mat-tab-group>
            <mat-tab label="Order Book">
                <app-order-pad></app-order-pad>
            </mat-tab>
            <mat-tab label="My Orders">
                <app-myorders></app-myorders>
            </mat-tab>
            <mat-tab label="Market Price">
                <app-lite-list></app-lite-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>