<div *ngIf="maintainence" class="d-flex justify-content-center align-items-center pt-3 mt-3">
    <img src="/assets/maintainence.jpeg">
</div>

<div class="area-container" *ngIf="!maintainence">
    <div class="left-area">
        <app-lite-list></app-lite-list>
    </div>
    <div class="right-area">
        <router-outlet></router-outlet>
    </div>    
</div>

<!--
<div  fxLayout="row" fxLayout.lt-lg="column" *ngIf="!maintainence">
    <div fxFlex="200px" fxFlex.lt-lg="100%">
        <app-lite-list></app-lite-list>
    </div>
    <div fxFlex fxFlex.lt-lg="100%">
        <router-outlet></router-outlet>
    </div>
</div>
-->


















<!--
<div *ngIf="screenwidth >= 960" class="outwraper w-100 fixed-height">
    <div class="left-area exg-bg mr-2 h-100">
        <app-lite-list></app-lite-list>
    </div>

    <div class="center-area h-100 mr-2">
        <div class="w-100">
            <app-tv-chart-container class="w-100"></app-tv-chart-container>
        </div>
        <div class="orderarea exg-bg mt-2">
            <app-myorders></app-myorders>
        </div>
    </div>

    <div class="right-area h-100 div-fixed-width">
        <app-order-pad></app-order-pad>
    </div>
</div>


<div *ngIf="screenwidth < 960">
    <div class="w-100">
        <app-tv-chart-container class="w-100"></app-tv-chart-container>
    </div>
    <div class="w-100">
        <mat-tab-group>
            <mat-tab label="{{'Order Book' | translate}}">
                <app-order-pad></app-order-pad>
            </mat-tab>
            <mat-tab label="{{'My Orders' | translate}}">
                <app-myorders></app-myorders>
            </mat-tab>
            <mat-tab label="{{'Market Price' | translate}}">
                <app-lite-list></app-lite-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
-->