<mat-card class="mat-elevation-z6">
    <h3 style="text-align: center;">{{"Latest Trades"|translate}}</h3>

    <table mat-table [dataSource]="trades" style="width: 100%; text-align: center;" class="exg-bg graycolor">
        <ng-container matColumnDef="Pair">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{"Pair"|translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.pairName}}</td>
        </ng-container>

        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{"Price"|translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.price}}</td>
        </ng-container>

        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{"Quantity"|translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="Block">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{"Block"|translate}} </th>
            <td mat-cell *matCellDef="let element">
                <a mat-button color="primary" [routerLink]="[ './block-detail', element.blockNumber ]"> {{element.blockNumber}}</a>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>