<div class="m-3">
    <mat-tab-group>
        <mat-tab label="{{'Create orders' | translate}}">
            <div class="mt-3">
                <app-create-orders></app-create-orders>
            </div>
        </mat-tab>
        <mat-tab label="{{'Trades' | translate}}">
            <div class="mt-3">
                <app-trades></app-trades>
            </div>
        </mat-tab>
        <mat-tab label="{{'Cancel orders' | translate}}">
            <div class="mt-3">
                <app-cancel-orders></app-cancel-orders>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

  