<div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-card class="mat-elevation-z6" fxFlex="100">
            <h5>{{"Address"|translate}} : {{address}}</h5>
            <h5>{{"Tx Count"| translate}}(Nonce):{{nonce}}</h5>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px">
        <mat-card class="mat-elevation-z6 graybackg small" fxFlex='50'>
            <h6>{{"Balances"|translate}}</h6>
            <table mat-table [dataSource]="balances" style="width: 100%; text-align: center;" class="grayback">
                <ng-container matColumnDef="coinType">
                    <th mat-header-cell *matHeaderCellDef style="text-align: left;"> {{"Coin"|translate}} </th>
                    <td style="text-align: left;" class="alileft" mat-cell *matCellDef="let element">
                        {{element.coinType}}</td>
                </ng-container>

                <ng-container matColumnDef="unlockedAmount">
                    <th mat-header-cell *matHeaderCellDef style="text-align: left;"> {{"Quantity"|translate}} </th>
                    <td style="text-align: left;" mat-cell *matCellDef="let element">
                        {{element.unlockedAmount * 1e-18 | number:'1.5-5' }}</td>
                </ng-container>

                <ng-container matColumnDef="lockedAmount">
                    <th mat-header-cell *matHeaderCellDef style="text-align: left;"> {{"Locked Amount"|translate}} </th>
                    <td style="text-align: left;" mat-cell *matCellDef="let element">
                        {{element.lockedAmount * 1e-18 | number:'1.5-5'}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="balancesDisplayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: balancesDisplayedColumns;"></tr>
            </table>
        </mat-card>
        <mat-card class="mat-elevation-z6" fxFlex='50'>
            <h6>{{"Kanban Gas Balance"|translate}}</h6>
            <div *ngIf="kanbanBalance" style="text-align: center; font-size: 0.9em;">
                <div *ngFor="let kb of kanbanBalance.balance| keyvalue " style="line-height: 2em; padding: 10px;" class="grayback">
                    {{kb.key}}: {{kb.value * 1e-18 | number:'1.5-5'}}
                    <mat-divider style="width: 90%; margin-left: 5%;"></mat-divider>
                </div>
            </div>
        </mat-card>
    </div>

    <div style="display: flex; display: flex; flex-flow: row wrap; justify-content: space-around;" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px">
        <mat-card fxFlex='33.33' class="vh500 mat-elevation-z6">
            <h6>{{orders.length}} {{"OrdersCount"|translate}}</h6>
            <div *ngIf="orders && orders.length>0" class="grayback small">
                <div *ngFor="let order of orders;let i = index">
                    <div style="line-height: 1.5em; margin: 1em;">
                        <b>{{"Order"|translate}} : </b>{{i + 1}}<br>
                        <b>{{"Order Hash"|translate}} : </b>{{order.orderHash}}<br>
                        <b>{{"Pair"| translate}} : </b>{{order.pairName}}<br>
                        <b>{{"Order Type"|translate}} :
                            <span *ngIf="order.bidOrAsk" style="color: green;">{{"Buy"|translate}}</span>
                            <span *ngIf="!order.bidOrAsk" style="color: red;">{{"Sell"|translate}}</span>
                        </b><br>
                        <b>{{"Original Order Quantity"|translate}} : </b>{{order.originalOrderQuantity | number:'1.2-10' }}<br>
                        <b>{{"Current Order Quantity"|translate}} : </b>{{order.currentOrderQuantity | number:'1.2-10' }}<br>
                        <b>{{"Filled Quantity"|translate}} : </b>{{order.filledQuantity | number:'1.2-10' }}<br>
                        <b>{{"Order Date"|translate}} : </b>{{ order.time * 1000 | date : 'EEEE, MMMM d, yyyy h:mm:ss a'}}<br>
                        <b>{{"Current Status"|translate}} :
                            <span *ngIf="order.isActive" style="color: green;">{{"Active"|translate}}</span>
                            <span *ngIf="!order.isActive" style="color: gray;">{{"Inactive"|translate}}</span>
                        </b><br>

                        <b>{{"Matched Orders"|translate}} : </b>
                        <span *ngIf="order.matchedOrders.length === 0">{{"None"|translate}}</span><br>
                        <div *ngFor="let m of order.matchedOrders; let i=index" style="text-align: left; margin-left: 50px;">
                            <b>{{"Order Hash"|translate}} : </b> {{m.orderHash}}<br>
                            <b>{{"Quantity"|translate}} : </b>{{m.quantity | number:'1.2-10' }}<br>
                            <b>{{"Price"|translate}} : </b>{{m.price | number:'1.2-10' }}<br>
                            <b>{{"Block Number"|translate}} : </b>{{order.blockNumber.fulfilOrder[i]}}
                        </div>

                        <b>{{"Create Order Transaction Hash"|translate}} : </b>{{order.txHash.createOrder}}<br>
                        <span *ngIf="order.txHash.cancelOrder"><b>{{"Cancel Order Transaction Hash"|translate}}</b>{{order.txHash.cancelOrder}}<br></span>

                        <b>{{"Create Order Block Number"|translate}} : </b>{{order.blockNumber.createOrder}}
                        <span *ngIf="order.blockNumber.cancelOrder"><b>{{"Cancel Order Block Number"|translate}}</b>{{order.blockNumber.cancelOrder}}<br></span>
                    </div>
                    <hr class="divider">
                </div>
            </div>
        </mat-card>

        <mat-card fxFlex='33.33' class="vh500 mat-elevation-z6">
            <h6>{{depositReqs.length}} {{"Deposits"|translate}}</h6>
            <div *ngIf="depositReqs" class="grayback small">
                <div *ngFor="let d of depositReqs; let i = index">
                    <div style="line-height: 1.5em; margin: 1em;">
                        <b>{{"Deposit"|translate}} : </b>{{i+1}}<br>
                        <b>{{"Coin Name"|translate}} : </b>{{d.coinName}}<br>
                        <b>TXID : </b>{{d.txid}}<br>
                        <b>{{"Value"|translate}} : </b>{{d.value | number:'1.2-10'}}<br>
                        <b>{{"Deposit To Address"|translate}} : </b>{{d.depositToAddress}}<br>
                        <b>{{"Deposit Date"|translate}} : </b>{{d.timestamp * 1000 | date : 'EEEE, MMMM d, yyyy h:mm:ss a'}}<br>
                        <b>{{"Transaction Hash"|translate}} : </b>{{d.txHash}}<br>
                        <b>{{"Block Number"|translate}} : </b>{{d.blockNumber}}
                    </div>
                    <hr class="divider">
                </div>
            </div>

        </mat-card>

        <mat-card fxFlex='33.33' class="vh500 mat-elevation-z6">
            <h6>{{withdrawReqs.length}} {{"Withdraw Requests"|translate}}</h6>
            <div *ngIf="withdrawReqs" class="grayback small">
                <div *ngFor="let w of withdrawReqs; let i = index">
                    <div style="line-height: 1.5em; margin: 1em;">
                        <b>{{"Withdraw Request"|translate}} : </b>{{i+1}}<br>
                        <b>{{"Coin Name"|translate}} : </b>{{w.coinName}}<br>
                        <b>{{"Value"|translate}} : </b>{{w.value | number:'1.2-10'}}<br>
                        <b>{{"Withdraw To Address"|translate}} : </b>{{w.withdrawToAddress}}<br>
                        <b>{{"Request Date"|translate}} : </b>{{w.timestamp * 1000 | date : 'EEEE, MMMM d, yyyy h:mm:ss a'}}<br>
                        <b>{{"Transaction Hash"|translate}} : </b>{{w.txHash}}<br>
                        <b>{{"Block Number"|translate}} : </b>{{w.blockNumber}}
                    </div>
                    <hr class="divider">
                </div>
            </div>
        </mat-card>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px">

    </div>
</div>