<div bsModal #memberDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-bg-grey">
        <div class="modal-content" *ngIf="member">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 text-dark">Member Detail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-dark">
                <div *ngIf="bidOrAsk">
                    Address: {{getAddress()}}
                </div>
                <div *ngIf="!bidOrAsk">
                    <ul>
                        <li *ngFor="let item of userpaymentmethods">
                            {{item.details}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>