a:hover,
a:active,
a:visited,
a:focus {
    color: lightgray;
}

.nav-link {
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    -ms-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
}

.nav-link:hover {
    color: #fff !important;
}

.nav-link.selected {
    color: white;
}

a.selected:after {
    content: "";
    background: -webkit-linear-gradient(left, rgb(229, 159, 18) 0%, rgb(122, 28, 229) 100%);
    display: block;
    height: 2px;
    width: 100%;
    text-align: center;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    border-radius: 3px;
}

.transMsg {
    height: 36px;
    width: 36px;
}

@media (max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}

.transparent {
    background: none;
    font-family: Verdana, sans-serif, SimHei, "Microsoft YaHei";
}

.lanbut {
    font-family: Verdana, sans-serif, SimHei, "Microsoft YaHei";
}

button:active,
button:focus {
    outline: 0;
    border: none;
    outline-style: none;
    -moz-outline-style: none;
}

.mat-button {
    font-size: 20px;
}

ul.navigation-items {
    align-items: center;
    justify-content: center;
}

header .navbar {
    padding: 0;
}

a.nav-link {
    line-height: 60px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.nav-item {
    mat-icon {
        margin-right: -8px;
        margin-left: -2px;
        position: absolute;
        top: 20px;
        color: lightgray;
        vertical-align: middle;
        padding-right: 3px;
    }

    .exSubMenu {
        border-top: 3px solid #7368ff; // #cd45ff;
        z-index: 1201;

        ul {
            margin: 0 auto;
            padding: 0 0px;
        }

        li {
            list-style: none;
            padding: 0 10px;
        }
    }
}

@media (min-width: 992px) {
    .nav-item {
        .mat-icon {
            height: 38px !important;
        }

        &:hover mat-icon {
            color: white;
        }

        .camMenu {
            right: 10px;
        }

        .exSubMenu {
            border-radius: 10px;
            position: absolute;
            background: #261f58;
            color: #fff;
            display: none;
            .nav-item:not(:last-child) {
                border-bottom: 1px #999 solid;
            }

            .nav-item:hover {
                background-color: #666;
            }

            a.nav-link {
                line-height: 30px;
            }

            .exMenuContainer {
                display: flex;

                .exMenuTextBox {
                    display: inline-block;
                    min-width: 600px;
                    max-width: 900px;
                    border-right: 1px #999 solid;
                    text-align: center;
                    font-size: 14px;
                    color: lightgray;
                    padding: 10px;
                }

                .exMenuItemBox {
                    display: inline-block;
                }
            }
        }

        &:hover .exSubMenu {
            display: block;
        }
    }
}

@media (max-width: 991px) {
    .navbar-collapse.show {
        background-color: #181439;
    }

    .nav-item {
        mat-icon {
            position: relative;
            top: auto;
            height: 34px;
        }

        a.nav-link {
            line-height: 30px;
            border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
        }

        .exSubMenu {
            background: #404086;
            border-radius: 10px;

            .exMenuTextBox {
                color: #fff;
                padding: 10px 20px;
            }
        }
    }

    // .nav-item {

    // }
}

@media only screen and (max-width: 600px) {
    a.nav-link {
        line-height: 35px;
    }
}

.dark-back {
    background-color: #2e2e4566;
}

.spinner {
    width: 50px;
    height: 50px;
}

.status-pending {
    color: #ca810a;
    background-color: #fff2db;
}

.status-confirmed {
    color: #609a1c;
    background-color: #eafad7;
}

.status-closed {
    color: #d0021b;
    background-color: #fff1f2;
}

.coin-logo {
    height: 30px;
}

.highlight {
    /* background-color: #c3512f; */
    color: #c3512f !important;
    border-color: #c3512f;
}

.highlight:hover {
    /* background-color: #cc785f; */
    color: #fff !important;
    border-color: #c3512f;
}

.upperNav {
    z-index: 1500;
    .nav-link {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255);
        font-size: 13px;
    }
}

@media (max-width: 1050px) {
    .navbar-brand img {
        width: 20px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 12px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .upperNav {
        display: none;
    }
}

::ng-deep {
    .cdk-overlay-container {
        z-index: 1200;
    }
}
