<header>
    <nav class="navbar navbar-expand-sm gradient-back-title navbar-dark sticky-top">
        <mat-toolbar class="transparent">
            <div fxHide.gt-xs>
                <button mat-icon-button [matMenuTriggerFor]="menu2">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu2="matMenu">
                    <button mat-menu-item (click)="linkTo('/')">{{'Home' | translate}}</button>
                    <button mat-menu-item (click)="linkTo('/market/home')">{{'Exchange' | translate}}</button>
                    <button mat-menu-item (click)="linkTo('/wallet')">{{'Wallet' | translate}}</button>
                    <button mat-menu-item (click)="linkTo('/explorer')">{{'Explore' | translate}}</button>
                    <button mat-menu-item (click)="linkTo('/setting')">{{'Setting' | translate}}</button>
                    <button mat-menu-item (click)="linkTo('/help')">{{'Help' | translate}}</button>

                    <button mat-menu-item (click)="selectLan('en')">English</button>
                    <button mat-menu-item (click)="selectLan('zh')">中文</button>
                </mat-menu>

            </div>

            <div>
                <a class="navbar-brand" href="/"><img src="./images/exchangily decentralized exchange logo.png" width="40px">eXchangily {{'Title' | translate}}</a>
            </div>
            <div fxFlex fxLayout fxHide.xs>
                <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/market/home" [class.selected]="selected === 1" (click)="selected=1;">{{'Exchange' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/wallet" [class.selected]="selected === 2" (click)="selected=2;">{{'Wallet' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/explorer" [class.selected]="selected === 3" (click)="selected=3;">{{'Explore' | translate}}</a>
                    </li>
                </ul>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
                <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                    <li class="nav-item">
                        <button mat-button [matMenuTriggerFor]="menu" class="text-white">
                            {{currentLang}}<mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="selectLan('en')">English</button>
                            <button mat-menu-item (click)="selectLan('zh')">中文</button>
                        </mat-menu>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" [class.selected]="selected === 4" (click)="selected=4;">{{'Home' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/setting" [class.selected]="selected === 5" (click)="selected=5;">{{'Setting' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/help" [class.selected]="selected === 6" (click)="selected=6;">{{'Help' | translate}}</a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
    </nav>
</header>

<!--
<header>
    <nav class="navbar navbar-expand-sm gradient-back-title navbar-dark sticky-top">
        <a class="navbar-brand" href="/"><img src="./images/exchangily decentralized exchange logo.png" width="40px">eXchangily {{'Title' | translate}}</a>
        <ul class="navbar-nav mr-auto hidden-xs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/market/home" [class.selected]="selected === 1" (click)="selected=1;">{{'Exchange' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/wallet" [class.selected]="selected === 2" (click)="selected=2;">{{'Wallet' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/explorer" [class.selected]="selected === 3" (click)="selected=3;">{{'Explorer' | translate}}</a>
            </li>
        </ul>

        <ul class="navbar-nav hidden-xs">
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn  dropdown-toggle text-white" aria-controls="dropdown-basic">
                          {{currentLang}} <span class="caret"></span>
                        </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" (click)="selectLan('en')">English</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="selectLan('zh')">中文</a></li>
                </ul>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#">{{'Home' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/setting">{{'Setting' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/help">{{'Help' | translate}}</a>
            </li>
        </ul>
        <div class="visible-xs">

        </div>
    </nav>
</header>
-->