<header>

    <div style="width: 100%; color: orange; padding-left:1em; padding-right: 1em;" *ngIf="urgentAnnouncementsList.length>0">
        <br>
        <div style="margin: auto; max-width: 1120px;">
            <h2>{{"Announcements"|translate}}</h2>

            <div class="my-2" [innerHTML]="urgentAnnouncementsList[0].content">
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark px-3 upperNav">
        <a class="navbar-brand" href="/"><img src="./images/logo/pureExLogo.svg" width="40px">eXchangily {{'Title' | translate}}</a>
        <div class="text-center text-warning test-warning" *ngIf="testMode && displayHideLabel">
            <h2>
                Exchangily Test Website
                <button (click)="hideTestLabel();" class="btn btn-warning">X</button>
            </h2>
        </div>
        <ul class="navbar-nav ml-auto align-right">
            <li class="nav-item">
                <a class="nav-link">{{'Language' | translate}}</a>
                <div class="exSubMenu">
                    <div class="exMenuContainer">
                        <div class="exMenuItemBox ">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="selectLan('en')">English</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="selectLan('zh')">中文</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" (click)="linkTo('/app');selectedItem=41" [class.selected]="selectedItem===41" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
                    {{'Mobile App' | translate}}
                </a>
            </li>
<!--
            <li class="nav-item">
                <a class="nav-link">{{'Settings' | translate}}</a>
                <div class="exSubMenu">
                    <div class="exMenuContainer">

                        <div class="exMenuItemBox ">
                            <ul>
                                <li class="nav-item" *ngIf="!LoginInfo">
                                    <a class="nav-link" routerLink="/login/signup" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
                                        {{'Header.Navigation.Signup' | translate}}
                                    </a></li>

                                <li class="nav-item" *ngIf="LoginInfo">
                                    <a class="nav-link pointer" href="/account">
                                            {{'My profile' | translate }}
                                        </a></li>
                                <li class="nav-item" *ngIf="!LoginInfo">
                                    <a class="nav-link pointer" routerLink="/login/signin" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
                                        {{'Header.Navigation.Signin' | translate}}
                                    </a></li>

                                <li class="nav-item" *ngIf="LoginInfo">
                                    <a class="nav-link pointer" style="color: lightskyblue;" routerLinkActive="selected" (click)="logout()">
                                        {{ 'Header.Navigation.Signout' | translate }}
                                    </a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </li>   
        -->
            
            <li class="nav-item">
                <a class="nav-link" target="_blank">{{'Support' | translate}}</a>
                <div class="exSubMenu">
                    <div class="exMenuContainer">
                        <div class="exMenuItemBox ">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="linkTo('/manual')">{{'User manual' | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="linkTo('/faq')">{{'FAQ' | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="linkTo('/help')">{{'Ticket' | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="linkTo('/fee')">{{'Fee structure' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" target="_blank">{{'Community' | translate}}</a>
                <div class="exSubMenu">
                    <div class="exMenuContainer">
                        <div class="exMenuItemBox ">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="linkTo('/chat/home')">{{'Chat room' | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="linkTo('/club/home')">{{'Club' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>


            <li class="nav-item d-flex justify-content-center align-items-center mr-1" *ngIf="!showCollapse">
                <!-- <mat-progress-spinner [diameter]="40" [color]="color" [mode]="'determinate'" [value]="value"
                    [matMenuTriggerFor]="appMenu">
                </mat-progress-spinner> -->
                <div class="transMsg" [matMenuTriggerFor]="appMenu">
                    <img src="./images/img/mail.svg" />
                </div>


                <mat-menu #appMenu="matMenu">
                    <div class="container py-2" *ngIf="pendingtransactions && pendingtransactions.length === 0 && closetransactions && closetransactions.length === 0">
                        no transactions
                    </div>
                    <div class="container py-2" *ngIf="pendingtransactions && pendingtransactions.length > 0">
                        <div class="row px-2 border-bottom pb-1">
                            <div class="col col-12">
                                pending
                            </div>
                        </div>
                        <div class="row px-2 py-2 border-bottom" *ngFor="let tr of pendingtransactions">
                            <div class="col col-12">
                                <small>{{tr.txid}}</small>

                            </div>
                            <div class="col col-12">
                                {{utilServ.getFormattedDate(tr.time)}}
                            </div>
                            <div class="col col-3">
                                <img *ngIf="tr.coin == 'BTC'" src="/assets/coins/btc.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'ETH'" src="/assets/coins/eth.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'EXG'" src="/assets/coins/exg.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'FAB'" src="/assets/coins/fab.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'USDT'" src="/assets/coins/usdt.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'DUSD'" src="/assets/coins/dusd.png" class="icon coin-logo" />
                            </div>
                            <div class="col col-6">
                                <div>{{tr.type}}</div>
                                <div class="status-{{tr.status}}">
                                    <svg class="lds-spinner" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;">
                                        <g transform="rotate(0 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(30 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(60 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.75s" repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(90 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(120 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(150 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s" begin="-0.5s"
                                                    repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(180 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(210 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(240 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.25s" repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(270 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.16666666666666666s" repeatCount="indefinite">
                                                </animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(300 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s"
                                                    begin="-0.08333333333333333s" repeatCount="indefinite">
                                                </animate>
                                            </rect>
                                        </g>
                                        <g transform="rotate(330 50 50)">
                                            <rect x="45" y="0" rx="0" ry="0" width="10" height="30" fill="#000000">
                                                <animate attributeName="opacity" values="1;0" dur="1s" begin="0s"
                                                    repeatCount="indefinite"></animate>
                                            </rect>
                                        </g>
                                    </svg> {{tr.status}}
                                </div>
                            </div>
                            <div class="col col-3">
                                {{tr.amount}} {{tr.coin}}
                            </div>
                        </div>
                    </div>

                    <div class="container py-2" *ngIf="closetransactions && closetransactions.length > 0">
                        <div class="row px-2 border-bottom pb-1">
                            <div class="col col-12">
                                history
                            </div>
                        </div>
                        <div class="row px-2 py-2 border-bottom" *ngFor="let tr of closetransactions">
                            <div class="col col-12">
                                <small>
                                    {{tr.txid}}
                                </small>

                            </div>
                            <div class="col col-12">
                                {{utilServ.getFormattedDate(tr.time)}}
                            </div>
                            <div class="col col-3">
                                <img *ngIf="tr.coin == 'BTC'" src="/assets/coins/btc.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'ETH'" src="/assets/coins/eth.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'EXG'" src="/assets/coins/exg.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'FAB'" src="/assets/coins/fab.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'USDT'" src="/assets/coins/usdt.png" class="icon coin-logo" />
                                <img *ngIf="tr.coin == 'DUSD'" src="/assets/coins/dusd.png" class="icon coin-logo" />
                            </div>
                            <div class="col col-6">
                                <div>{{tr.type}}</div>
                                <div class="status-{{tr.status}}">
                                    {{tr.status}}
                                </div>
                            </div>
                            <div class="col col-3">
                                {{tr.amount}} {{tr.coin}}
                            </div>
                        </div>
                    </div>
                </mat-menu>
            </li>            






        </ul>
        <!-- </div> -->
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top px-3" [ngClass]="background">
        <!-- <div class="container"> -->
        
        <button class="navbar-toggler" type="button" (click)="showCollapse = !showCollapse" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="showCollapse ? 'show' : ''" id="navbarSupportedContent">
            <ul class="navbar-nav mobile-items">
                <li class="nav-item">
                    <a class="nav-link">{{'Language' | translate}}</a>
                    <div class="exSubMenu">
                        <div class="exMenuContainer">
                            <div class="exMenuItemBox ">
                                <ul>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="selectLan('en')">English</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="selectLan('zh')">中文</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/app');selectedItem=41" [class.selected]="selectedItem===41" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Mobile App' | translate}}</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/wallet/dashboard');selectedItem=0" [class.selected]="selectedItem==0" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Wallet' | translate}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/market/home');selectedItem=1" [class.selected]="selectedItem==1" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Market' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/market/trade/FAB_DUSD');selectedItem=2" [class.selected]="selectedItem==2" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Trade' | translate}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/explorer');selectedItem=3" [class.selected]="selectedItem==3" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Explore' | translate}}</a>
                </li>
<!--
                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/otc/trade');selectedItem=5" [class.selected]="selectedItem==5" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'OTC Trade' | translate}}</a>
                </li>
            -->
                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/issue');selectedItem=6" [class.selected]="selectedItem==6" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Mint Token' | translate}}</a>
                </li>  
                
                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/bindpay');selectedItem=7" [class.selected]="selectedItem==7" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Remittance' | translate}}</a>
                </li>         
                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/listing');selectedItem=8" [class.selected]="selectedItem==8" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Listing on Exchangily' | translate}}</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/metaforce');selectedItem=9" [class.selected]="selectedItem==9" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Meta Force' | translate}}</a>
                </li>   

                <li class="nav-item" *ngIf="!isProduction">
                    <a class="nav-link" (click)="linkTo('/wallet/kyc');selectedItem=10" [class.selected]="selectedItem==10" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Kyc' | translate}}</a>
                </li>   
            </ul>
            <ul class="navbar-nav ml-auto align-right">
                <li class="nav-item">
                    <a class="nav-link" (click)="linkTo('/home');selectedItem=4" [class.selected]="selectedItem===4" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'Header.Navigation.Home' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank">{{'Blog' | translate}}</a>
                    <div class="exSubMenu">
                        <div class="exMenuContainer">
                            <div class="exMenuItemBox ">
                                <ul>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://blog.exchangily.com/">{{'Blog' | translate}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://medium.com/exchangily-blog" target="_blank">{{'Medium Blog' | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank">{{'News' | translate}}</a>
                    <div class="exSubMenu">
                        <div class="exMenuContainer">
                            <div class="exMenuItemBox ">
                                <ul>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="linkTo('/announcements');">{{'AnnouncementTxt' | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link highlight">{{'New Campaign' | translate}}</a>
                    <div class="exSubMenu camMenu">
                        <div class="exMenuContainer">
                            <div class="exMenuTextBox">
                                <h3>
                                    {{'Important Notice' | translate}}
                                </h3>
                                <p>
                                    {{'Important Notice txt' | translate}}
                                </p>
                            </div>
                            <div class="exMenuItemBox">
                                <ul>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="linkTo('/promotion');selectedItem=6" [class.selected]="selectedItem===6" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{'New Campaign' | translate}}</a>
                                    </li>


                                    <li class="nav-item" *ngIf="LoginQualify">
                                        <a class="nav-link pointer" href="/promotion/reward">
                                            {{'My rewards' | translate }}
                                        </a></li>

                                    <li class="nav-item" *ngIf="LoginInfo">
                                        <a class="nav-link pointer" href="/promotion/flyer" target="_blank">
                                            {{'My referral' | translate }}
                                        </a></li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </li>









            </ul>

        </div>
        <!-- </div> -->
    </nav>

</header>