@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@import 'colours';
@import 'sizing';

.button-wrapper {
    margin: 4em 0;
    text-align: center;
  }

  .fancy-button {
    border-radius: 0.5em;
    margin: 0 auto;
    width: 23em;
    font-size: small;
  }

  h2 {
    padding-top: 1.35em;
    margin: 0 1em 1em 1em;
  }

  form {
    margin: 2em auto 0 auto;
    padding: 1em 2em;
    width: calc(100% - 2em);

    @include small-tablet {
      padding: 2em 3em;
      width: 25em;
    }
  }

  button {
    display: block;
  }

  fancy-button {
    span {
      font-size: 1em;
      text-transform: none;
    }
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    margin-bottom: 2em;
    width: 100% !important;
  }


