.apair {
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px dashed #484969;
    color: silver;
    font-size: media;
}

#textttt {
    flex-direction: column;
}

.table-text {
    line-height: 2.5;
}