<div class="container exg-bg" *ngIf="block">
    <div class="row apair">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="Also known as Block Number. The block height, which indicates the length of the blockchain, increases after the addition of the new block.">
                    <mat-icon>help_outline</mat-icon>
                </button>
            </div>
            <div class="d-inline-block">
                Block Height:
            </div>
        </div>
        <div class="col-md-9">
            <div class="d-inline-block">
                {{block.number}}
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPreviousBlock()" matTooltip="View previous block">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToNextBlock()" matTooltip="View next block">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="row apair">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="The date and time at which a transaction is mined.">
                        <mat-icon>help_outline</mat-icon>
                    </button>
            </div>
            <div class="d-inline-block">
                Timestamp:
            </div>
        </div>
        <div class="col-md-9">
            <div class="d-inline-block">
                <button mat-icon-button>
                                <mat-icon>access_time</mat-icon>
                            </button>
            </div>
            <div class="d-inline-block">
                {{block.timestamp * 1000 | date:'medium'}}
            </div>

        </div>
    </div>

    <div class="row apair">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="The number of transactions in the block. Internal transaction is transactions as a result of contract execution that involves Ether value.">
                                <mat-icon>help_outline</mat-icon>
                            </button>
            </div>
            <div class="d-inline-block">
                Transactions:
            </div>
        </div>
        <div class="col-md-9">

            <div class="table-text">
                {{block.transactions.length}} transactions in this block
            </div>

        </div>
    </div>

    <div class="row apair">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="Miner who successfully include the block onto the blockchain.">
                            <mat-icon>help_outline</mat-icon>
                        </button>
            </div>
            <div class="d-inline-block">
                Mined by:
            </div>
        </div>
        <div class="col-md-9">
            <div class="d-inline-block">
                <a class="explorer-link" [routerLink]="['../../address', block.miner]">
                {{block.miner}}
                </a>
            </div>

        </div>
    </div>

    <div class="row apair vertical-align">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="The amount of effort required to mine a new block. The difficulty algorithm may adjust according to time.">
                                <mat-icon>help_outline</mat-icon>
                            </button>
            </div>
            <div class="d-inline-block">
                Difficulty:
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-text">
                {{block.difficulty}}
            </div>

        </div>
    </div>

    <div class="row apair vertical-align">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="Total difficulty of the chain until this block.">
                                    <mat-icon>help_outline</mat-icon>
                                </button>
            </div>
            <div class="d-inline-block">
                Total Difficulty:
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-text">
                {{block.totalDifficulty}}
            </div>

        </div>
    </div>

    <div class="row apair vertical-align">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="The block size is actually determined by the block's gas limit.">
                                        <mat-icon>help_outline</mat-icon>
                                    </button>
            </div>
            <div class="d-inline-block">
                Size:
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-text">
                {{block.size}}
            </div>

        </div>
    </div>

    <div class="row apair vertical-align">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="The total gas used in the block and its percentage of gas filled in the block.">
                                            <mat-icon>help_outline</mat-icon>
                                        </button>
            </div>
            <div class="d-inline-block">
                Gas Used:
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-text">
                {{block.gasUsed}} ({{block.gasUsed*100/block.gasLimit}}%)
            </div>

        </div>
    </div>

    <div class="row apair vertical-align">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="Total gas limit provided by all transactions in the block.">
                                                <mat-icon>help_outline</mat-icon>
                                            </button>
            </div>
            <div class="d-inline-block">
                Gas Limit:
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-text">
                {{block.gasLimit}}
            </div>

        </div>
    </div>

    <div class="row apair vertical-align">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="Hash of the block header from the previous block.">
                    <mat-icon>help_outline</mat-icon>
                </button>
            </div>
            <div class="d-inline-block">
                Hash:
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-text">
                {{block.hash}}
            </div>

        </div>
    </div>

    <div class="row apair vertical-align">
        <div class="col-md-3">
            <div class="d-inline-block">
                <button mat-icon-button matTooltip="Block nonce is a value used during mining to demonstrate proof of work for a block.">
                    <mat-icon>help_outline</mat-icon>
                </button>
            </div>
            <div class="d-inline-block">
                Nonce:
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-text">
                {{block.nonce}}
            </div>

        </div>
    </div>
</div>

<app-explorer-transactions *ngIf="block && block.transactions && block.transactions.length" [block]="id" [notForGeneral]="true"></app-explorer-transactions>