:host {
    color: #fff;
}

.addTicketPage {
    margin-top: 60px;
    margin-bottom: 60px;

    .addTicket{
        margin-top: 20px;

        button{
            padding: 5px 25px;
        }
    }
}