<div class="container py-3">
    <div class="row border-bottom">
        <div class="col col-6 order-manage">
            <div>
                <div class="d-inline-block pr-3 pb-3 el-tabs_item" [ngClass]="bidOrAsk ? 'is-active':''" (click)="changeBidOrAsk(true)">
                    Buy orders
                </div>
                <div class="d-inline-block pl-3 pb-3 el-tabs_item" [ngClass]="!bidOrAsk ? 'is-active':''" (click)="changeBidOrAsk(false)">
                    Sell orders
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div class="text-right">
                Export order records
            </div>
        </div>
    </div>

    <div class="row py-3">
        <div class="col col-12 tab-status">
            <div class="d-inline-block px-3 el-tabs_item" *ngFor="let status of statuses" [ngClass]="(status == currentStatus)  ? 'is-active':''" (click)="changeStatus(status)">
                {{getStatusText(bidOrAsk, status)}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th scope="col"><small>Order number</small></th>
                        <th scope="col"><small>Coin</small></th>
                        <th scope="col"><small>Price</small></th>
                        <th scope="col"><small>Quantity</small></th>
                        <th scope="col"><small>Amount</small></th>
                        <th scope="col"><small>Creating time</small></th>
                        <th scope="col"><small>Status</small></th>
                    </tr>
                </thead>
                <tbody>
                    <!--
                    <tr *ngFor="let element of orders | merchantPipe: currency : bidOrAsk : coinName ">
                        -->
                    <tr *ngFor="let element of orders | orderPipe : bidOrAsk : currentStatus">
                        <td>{{element._id}}</td>
                        <td>{{element.items[0].title}}</td>
                        <td>{{element.items[0].price}}</td>
                        <td>{{element.items[0].quantity}}</td>
                        <td>{{element.totalToPay}}</td>
                        <td>{{element.dateCreated}}</td>
                        <td>
                            <div class="text-center">
                                {{getStatusText(element.buy, element.paymentStatus)}}
                            </div>
                            <div class="text-center">
                                <div *ngIf="type=='member'">
                                    <button *ngIf="element.paymentStatus == 0" (click)="changePaymentStatus(element, 3)" mat-raised-button color="primary">
                                        {{'Cancel' | translate}}
                                    </button>

                                    <button *ngIf="element.paymentStatus == 0" (click)="changePaymentStatus(element, 1)" mat-raised-button color="primary">
                                        {{getButtonText(element.buy, element.paymentStatus) | translate}}
                                    </button>    
                             <!--     
                                    <button *ngIf="element.paymentStatus != 0 && element.paymentStatus != 4" (click)="changePaymentStatus(element, 4)" mat-raised-button color="primary">
                                        {{'Frozen' | translate}}
                                    </button>  
                                    -->                                    
                                </div>
                                <div *ngIf="type=='admin'">
                                    <button *ngIf="element.paymentStatus == 1" (click)="changePaymentStatus(element, 2)" mat-raised-button color="primary">
                                        {{getButtonText(element.buy, element.paymentStatus) | translate}}
                                    </button>
                                    <!--
                                    <button *ngIf="element.paymentStatus != 0 && element.paymentStatus != 4" (click)="changePaymentStatus(element, 4)" mat-raised-button color="primary">
                                        {{'Frozen' | translate}}
                                    </button>  
                                    -->                                      
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>

            </table>

            <div class="noOrder" *ngIf="!orders">
                <div class="d-inline-block">
                    <img src="/assets/noOrder.png">
                    <p>No Order</p>
                </div>
            </div>

        </div>
    </div>
</div>