.order-manage .el-tabs_item.is-active {
    color: rgb(59, 123, 253);
    border-bottom: 2px solid rgb(59, 123, 253);
}

.tab-status .el-tabs_item {
    height: 32px;
    margin-right: 20px;
    padding: 0 20px;
    border-radius: 16px;
    line-height: 32px;
    background: #f5f5f5;
    color: #354052;
}

.tab-status .el-tabs_item.is-active {
    color: #fff;
    background: #3b7bfd;
}

.noOrder {
    display: block;
    text-align: center;
    padding-top: 80px;
}

a.view-detail, a.view-detail:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: rgb(59, 123, 253);
    color: rgb(59, 123, 253);
  }