<div class="container exg-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="d-inline-block">
                Blocks
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right align-self-right">
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(1)">
                        <mat-icon>first_page</mat-icon>
                    </button>
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(pageNum - 1)">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div class="d-inline-block">
                <p>
                    Page {{pageNum}} of {{pageTotal}}
                </p>
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(pageNum + 1)">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <div class="d-inline-block">
                <div class="d-inline-block">
                    <button mat-icon-button (click)="goToPage(pageTotal)">
                            <mat-icon>last_page</mat-icon>
                        </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row apair header py-2">
        <div class="col-md-2 hand align-self-center">Number</div>
        <div class="col-md-4 align-self-center">Timestamp</div>
        <div class="col-md-4 align-self-center">Include Txns</div>
        <div class="col-md-2 align-self-center">Size</div>
    </div>
    <div class="row apair py-2" *ngFor="let block of blocks; let i=index">
        <div class="col-md-2 hand align-self-center">{{block.number}}</div>
        <div class="col-md-4 align-self-center">{{block.timestamp * 1000 | date:'medium'}}</div>
        <div class="col-md-4 align-self-center">Include:{{block.transactions.length}} Txns</div>
        <div class="col-md-2 align-self-center">{{block.size}}</div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right align-self-right">
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(1)">
                            <mat-icon>first_page</mat-icon>
                        </button>
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(pageNum - 1)">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
            </div>
            <div class="d-inline-block">
                <p>
                    Page {{pageNum}} of {{pageTotal}}
                </p>
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(pageNum + 1)">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
            </div>
            <div class="d-inline-block">
                <div class="d-inline-block">
                    <button mat-icon-button (click)="goToPage(pageTotal)">
                                <mat-icon>last_page</mat-icon>
                            </button>
                </div>
            </div>
        </div>
    </div>
</div>