<div class="rmb-info">
  <table _ngcontent-c9="">
    <tbody _ngcontent-c9="">

      <tr _ngcontent-c9="">
        <td _ngcontent-c9="">收款人姓名：</td>
        <td _ngcontent-c9=""><b _ngcontent-c9="">刘春兰</b></td>
      </tr>
      <tr _ngcontent-c9="">
        <td _ngcontent-c9="">开户行：</td>
        <td _ngcontent-c9=""><b _ngcontent-c9="">招商银行深圳支行</b></td>
      </tr>
      <tr _ngcontent-c9="">
        <td _ngcontent-c9="">卡号：</td>
        <td _ngcontent-c9=""><b _ngcontent-c9="">6214 8375 5554 1568</b></td>
      </tr>

    </tbody>
  </table>
</div>
