<div class="container outbox">
  <div class="row">
    <h3 class="color-primary">{{ 'Account.View Orders.SideHeading' | translate }}</h3>
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>

  <div class="row" *ngIf="!loaded">
    <app-loading></app-loading>
  </div>

  <br>
  <div class="row">
    <h4>{{ 'Account.View Orders.ViewOrderPage.SubHeaders.Pending' | translate }}</h4>
  </div>

  <div class="row" *ngFor="let order of (localIcotxes.pending | async); let i = index">
    <icotx-item class="orderitem" [order]="order" [admin]="admin"></icotx-item>
  </div>

  <br><br>

  <div class="row">
    <h4>{{ 'Account.View Orders.ViewOrderPage.SubHeaders.Completed' | translate }}</h4>
  </div>
      
  <div class="row" *ngFor="let order of (localIcotxes.completed | async); let i = index">
    <icotx-item class="orderitem" [order]="order" [admin]="admin"></icotx-item>
  </div>
      
  <br><br>
</div>
