
<div class="container container-landing">
    <div class="row">
        <div class="col col-md-4 col-12 py-2">
            <img class="img-responsive" src="/assets/usa2.jpg">
        </div>
        <div class="col col-md-8 col-12 py-2">
            <div class=" text-white text1">
            Designed and built in the USA, <b>eXchangily is the world's first open-source, multi-chain DEX</b>. The eXchangily wallet is your gateway to the eXchangily DEX and the first step to autonomous crypto ownership. The eXchangily DEX is currently in a late stage Beta release, so keep a close eye on us as our world class team continues to eradicate the boundaries and restrictions of traditional exchanges as we bring the <b>benefits and freedoms of decentralization</b> to masses. Join us in the crypto revolution.
            </div>
            <div class="pt-3 text-center">
                <a class="btn" href="/wallet/create">{{"Create Wallet Now" | translate }}</a>
            </div>
        </div>
    </div>

</div>