<div class="container">

    <div class="kyc-list">
        <div class="operbar" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="row" fxLayoutAlign="center center">
                    <div>Status</div>
                    <select (change)="ChangeValue($event)" [(ngModel)]="selectedValue" class="form-input__text block">
                      <ng-container *ngFor="let s of states">
                        <option [value]="s.value">{{ s.name }}</option>
                      </ng-container>
                    </select>
                </div>

                <div class="searchbox" fxLayout="row" fxLayoutAlign="center center">
                    <div>Email </div>
                    <input class="form-input__text emailbox" type="email" [(ngModel)]="email" />
                    <button class="form-input__button background-primary color-white" (click)="onSearch()">Search</button>
                </div>
            
        </div>

        <div class="list-title" fxLayout="row" >
            <div class="item18em">Email</div>
            <div class="item12em">Display name</div>
            <div class="item12em">Name</div>
            <div class="item12em">KYC</div>
        </div>
        <div class="list-row" fxLayout="row" *ngFor="let user of users; let i = index" (click)="select(user)">
            <div class="item18em">{{user.email}}</div>
            <div class="item12em">{{user.displayName}}</div>
            <div class="item12em">{{user.firstName}} {{user.lastName}}</div>
            <div class="item12em">{{user.kyc}}</div>            
        </div> 
        <br><br>
    </div>

</div>