input {
    color: white;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1;
    /* Firefox */
}

.mat-focused .mat-form-field {
    color: #027D7C !important;
}