<div class="container">
  <div [ngClass]="'main-panel'" [ngClass.lt-md]="'main-panel-LTMD'" fxLayout="column">
    <div [ngClass]="'toparea'" [ngClass.lt-md]="'toparea-LTMD'" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <div [ngClass]="'toptext'" fxLayoutGap="4em" [ngClass.lt-md]="'toptext-LTMD'">
        <span *ngIf="_authServ.language==='English'">
            <span class="big1">DECENTRALIZED AND EFFICIENT - THE NEXT GENERATION DIGITAL ASSETS MANAGEMENT, EXCHANGE AND PAYMENT PLATFORM</span>
            <br><br>
            <span class="big2">
              Open, accessable, fair and reliable, powered by FAB high scalable blockchain platform, exchangily opens the door to funture business.
            </span>
        </span>
          <span class="big1" *ngIf="_authServ.language==='简体中文'">
              社区治理、社区拥有的下一代高效去中心化数字资产管理、交易及支付网络
            <br><br>
            <span class="big2">
              通往未来的数字资产之路，Exchangily（亿币）去中心化数字资产管理、交易、支付网络，构建下一代自主、共享、平等、可信任的数字资产生态。
            </span>
          </span>
      </div>
      <div  [ngClass]="'toptext'" [ngClass.lt-md]="'toptext-LTMD'" style="margin-top: 2em;">
        <img src="/images/architecture-b.jpg" width="90%">
      </div>

    </div>

    <div class="sectioner" fxLayout="column" fxLayoutAlign="start center">
      <div class="title" *ngIf="_authServ.language==='English'">What Is Exchangily ?</div>
      <div class="title" *ngIf="_authServ.language==='简体中文'">什么是亿币(Exchangily)网?</div>
      <div class="contentnarrow">
        <span *ngIf="_authServ.language==='English'">
          In a true sense, enterprise-level decentralized digital asset management, transaction, and payment platforms can efficiently execute large-scale decentralized digital asset transactions. It is the ecological foundation for future-oriented decentralized digital assets and even digital economy, and it is rapidly integrated into the future economy. Convenient entrance. <br><br>
          The blockchain will fundamentally change the face of human society. This will begin with the reconstruction of social values ​​and the foundation of trust. This is a huge project, and any enterprise or individual will face enormous challenges in entering this future social model. The challenge, Exchangily will focus on solving this problem, carrying a series of innovative technologies and perfecting the design, Yiku will become a bridge between reality and the future, so that every company or individual can successfully move to the future.

          <br><br>
          <b>Multiple original technologies to lead future development</b><br>
          Exchangily owns a series of original technologies and has a well-structured design. It will become a pioneer in leading the industry development. <br><br>
          <b>Efficient</b><br>
          Processing efficiency is the primary bottleneck of blockchain technology. Exchangily uses the high-efficiency processing platform (FAB) as a basis to creatively propose an efficient trading engine solution and achieve efficient processing of multiple types of digital asset-based composite transactions. <br><br>
          <b>General</b><br>
          Blockchain technology is still at an early stage, and various technologies and methods emerge one after another. This poses a huge challenge for building common protocols and technical specifications. <br>
          Exchangily proposed the technology of compatibility maximization initiatively, which provided the conditions for the interconnection of tens of thousands of renminbi, and this will become an important technical foundation for yiku. <br><br>
          <b>Easy</b><br>
          By incorporating intricate technologies and logic, Exchangily offers a simple interface to enter the all-inclusive currency world. It will be as simple and easy to use as a credit card.
        </span>
        <span *ngIf="_authServ.language==='简体中文'">
          真正意义上企业级去中心化数字资产管理、交易、支付平台，可以高效执行大规模去中心化数字资产交易，是面向未来的去中心化数字资产乃至数字经济的生态基础，是快速融入未来经济的便捷入口。<br><br>
          区块链将根本改变人类社会面貌，这将首先从重构社会价值及信任基础开始，这是一项庞大的工程，任何企业或个人要进入这一即将到来的未来社会模式都面临着巨大的挑战，亿币(Exchangily)将着眼于解决这一难题，携一系列创新技术及完善设计，亿币将成为对接现实与未来的桥梁，让每一个企业或个人都可以顺利向未来转移。

          <br><br>
          <b>多项独创技术，引领未来发展</b><br>
          亿币（Exchangily）拥有一系列独创技术，并拥有完善的架构设计，将成为引领行业发展一枝独秀的先锋。<br><br>
          <b>高效</b><br>
          处理效率是区块链技术的首要瓶颈，亿币(Exchangily)利用发链(FAB)的高效处理平台作为基础，创造性地提出了高效交易引擎方案，实现了多类型数字资产复合交易的高效处理。<br><br>
          <b>通用</b><br>
          区块链技术目前尚处于早期，各种技术及方法层出不穷，这为构建通用协议及技术规范带来巨大挑战。<br>
          亿币开创性地提出兼容最大化技术方案，为万币互联提供了条件，而这将成为亿币的重要技术基础。<br><br>
          <b>简易</b><br>
          将错综复杂的技术与逻辑封装，亿币提供了简易接口，进入包罗万象的币世界，将仅仅像使用信用卡一样，简单、易用。
        </span>

      </div>
    </div>

    <br>
    <div class="sectioner graybg" fxLayout="column" fxLayoutAlign="start center">

            <div class="title" translate>Home.Feature.Title</div>
            <div class="subtitle" translate>Home.Feature.SubTitle</div>
            <div class="separate"></div>
<br>
            <div fxLayout="row" fxLayout.lt-md="column">
                    <div class="feature-block">
                        <div class="icon"><img src="/images/feature/icon-1.svg" alt="" width="100px" height="100px"></div>
                        <div class="feature" translate>Home.Feature.Feature1.Title</div>
                        <div class="desc" translate>Home.Feature.Feature1.Desc</div>
                    </div>
                    <div class="feature-block">
                        <div class="icon"><img src="/images/feature/icon-2.svg" alt="" width="100px" height="100px"></div>
                        <div class="feature" translate>Home.Feature.Feature2.Title</div>
                        <div class="desc" translate>Home.Feature.Feature2.Desc</div>
                    </div>
                    <div class="feature-block">
                        <div class="icon"><img src="/images/feature/icon-3.svg" alt="" width="100px" height="100px"></div>
                        <div class="feature" translate>Home.Feature.Feature3.Title</div>
                        <div class="desc" translate>Home.Feature.Feature3.Desc</div>
                    </div>
                    <div class="feature-block">
                        <div class="icon"><img src="/images/feature/icon-4.svg" alt="" width="100px" height="100px"></div>
                        <div class="feature" translate>Home.Feature.Feature4.Title</div>
                        <div class="desc" translate>Home.Feature.Feature4.Desc</div>
                    </div>

            </div>

            <div fxLayout="row" fxLayout.lt-md="column">
                    <div class="feature-block">
                        <div class="icon"><img src="/images/feature/icon-5.svg" alt="" width="100px" height="100px"></div>
                        <div class="feature" translate>Home.Feature.Feature5.Title</div>
                        <div class="desc" translate>Home.Feature.Feature5.Desc</div>
                    </div>
                    <div class="feature-block">
                        <div class="icon"><img src="/images/feature/icon-6.svg" alt="" width="100px" height="100px"></div>
                        <div class="feature" translate>Home.Feature.Feature6.Title</div>
                        <div class="desc" translate>Home.Feature.Feature6.Desc</div>
                    </div>
                    <div class="feature-block">
                        <div class="icon"><img src="/images/feature/icon-7.svg" alt="" width="100px" height="100px"></div>
                        <div class="feature" translate>Home.Feature.Feature7.Title</div>
                        <div class="desc" translate>Home.Feature.Feature7.Desc</div>
                    </div>
                    <div class="feature-block">
                        <div class="icon"><img src="/images/feature/icon-8.svg" alt="" width="100px" height="100px"></div>
                        <div class="feature" translate>Home.Feature.Feature8.Title</div>
                        <div class="desc" translate>Home.Feature.Feature8.Desc</div>
                    </div>
            </div>
        </div>

        <div class="sectioner" fxLayout="column" fxLayoutAlign="start center">

            <div class="home-section-heading-info">
                <div class="title" translate>Home.Usage.Title</div>
                <div class="subtitle" translate>Home.Usage.Desc</div>
                <div class="separate"></div>
            </div>
<br><br>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="4em">
                    <div class="coin" fxLayoutAlign="center center">
                        <img src="/images/exchange.png" alt="" class="icon" width="200px">
                    </div>

                <div style="width: 320px;">
                    <div class="info" translate *ngIf="_authServ.language==='English'">
                      <br>Coin Name: FAB Coin
                      <br> Coin Code: FAB
                      <br> Coin Symbol:
                      <img src="/images/fablogo-s.png" width="24">
                      <br><br>
                      <div style="padding-right: 1em;">
                        FAB is the base currency in the Fast Access Blockchain network, a total of <strong>fixed 200 million coins</strong>, of which 8 million are reserved for development and marketing, 24 million are to be distributed through ICO, and the remaining 168 million are to be produced by mining in over 60 years.
                      </div>
                    </div>

                    <div class="info" *ngIf="_authServ.language==='简体中文'">
                            <br><br> 个人：加入从事发数字货币投资及交易
                            <br><br> 企业：加入从事以数字货币为基础的业务活动，并可进一步将企业事务整合入区块链体系
                            <br><br> 数字货币发行者：将数字货币加入亿币成为国际流通币
                            <img src="/images/fablogo-s.png" width="24">
                            <br><br>
                            <div style="padding-right: 1em;">
                              去中心化的数字货币交易平台，是一个完全开放自由的平台，任何企业或个人均可自由加入。
                          </div>
                    </div>
                </div>
            </div>

<br><br>
            <div fxLayout="row" fxLayout.lt-md="column">
                <div class="col-md-4">
                    <div class="u-point">
                        <i class="fa fa-bold"></i>
                        <div class="desc" translate>Home.Usage.List.ListItem1</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="u-point">
                        <i class="fa fa-cart-plus"></i>
                        <div class="desc" translate>Home.Usage.List.ListItem2</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="u-point">
                        <i class="fa fa-dollar"></i>
                        <div class="desc" translate>Home.Usage.List.ListItem3</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="u-point">
                        <i class="fa fa-credit-card"></i>
                        <div class="desc" translate>Home.Usage.List.ListItem4</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="u-point">
                        <i class="fa fa-refresh"></i>
                        <div class="desc" translate>Home.Usage.List.ListItem5</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="u-point">
                        <i class="fa fa-shopping-cart"></i>
                        <div class="desc" translate>Home.Usage.List.ListItem6</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="sectioner" fxLayout="column" fxLayoutAlign="start center">

        </div>

  </div>
</div>
