
<div class="container" *ngIf="account">
    <div>
        Account:{{account}}
    </div>
    
    <div>
        To:<input [(ngModel)]="to">
    </div>
    <div>
        For example: {{toExample}}
    </div>
    <div>
        Value:<input [(ngModel)]="value">
    </div>  

    <div>
        Data:<input [(ngModel)]="data">
    </div>  
    <div>
        For example: {{dataExample}}
    </div>
    <div>
        <button (click)="send()">Send</button>
    </div>
    <div *ngIf="txid">
        TxID: {{txid}}
    </div>
</div>


<button (click)="showQrCode()" *ngIf="!account">Show QRCode</button>