<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Create Time</th>
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of members">
            <td>{{member.email}}</td>
            <td>{{member.dateCreated}}</td>
            <td>
                {{member.active}}
                <button mat-raised-button color="primary" (click)="confirmActive(member)" *ngIf="!member.active">{{"Active"|translate}}</button>
            </td>
        </tr>
    </tbody>
</table>