@import 'colours';
$neutral-text: #a7a5ab;
$neutral-light: #f3f7fb;
$neutral: #e0e8ef;

/*Typing Loader*/
.loading {
  -webkit-animation: typing 1s linear infinite both;
  -moz-animation: typing 1s linear infinite both;
  animation: typing 1s linear infinite forwards;
  background-color: $neutral-text;
  box-shadow: 1em 0 0 0 $neutral-light, 2em 0 0 0 $neutral-light;
  border-radius: 2em;
  height: .6em;
  left: -12px;
  margin: 0 auto;
  position: relative;
  width: .6em;
}

.loading-wrap {
  padding: 1em;
}

@-moz-keyframes typing {
  0% {
    background-color: $neutral-text;
    box-shadow: 1em 0 0 0 $neutral-light, 2em 0 0 0 $neutral-light;
  }
  25% {
    background-color: $neutral;
    box-shadow: 1em 0 0 0 $neutral-text, 2em 0 0 0 $neutral-light;
  }
  75% { 
    background-color: $neutral;
    box-shadow: 1em 0 0 0 $neutral-light, 2em 0 0 0 $neutral-text;
  }
}

@-webkit-keyframes typing {
  0% {
    background-color: $neutral-text;
    box-shadow: 1em 0 0 0 $neutral-light, 2em 0 0 0 $neutral-light;
  }
  25% {
    background-color: $neutral;
    box-shadow: 1em 0 0 0 $neutral-text, 2em 0 0 0 $neutral-light;
  }
  75% { 
    background-color: $neutral;
    box-shadow: 1em 0 0 0 $neutral-light, 2em 0 0 0 $neutral-text;
  }
}

@keyframes typing {
  0% {
    background-color: $neutral-text;
    box-shadow: 1em 0 0 0 $neutral-light, 2em 0 0 0 $neutral-light;
  }
  25% {
    background-color: $neutral;
    box-shadow: 1em 0 0 0 $neutral-text, 2em 0 0 0 $neutral-light;
  }
  75% { 
    background-color: $neutral;
    box-shadow: 1em 0 0 0 $neutral-light, 2em 0 0 0 $neutral-text;
  }
}
