<div class="container py-3">
    <div class="row border-bottom py-2">
        <div class="col col-3 border-right">
            <mat-form-field class="text-muted">
                <mat-label>{{'Currency' | translate }}</mat-label>
                <mat-select class="text-muted" [(ngModel)]="currency" [disableOptionCentering]="true">
                    <mat-option *ngFor="let cur of currencies" [value]="cur" class="text-muted">
                        {{cur}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col col-3 border-right">
            <div class="container">
                <div class="row py-2">
                    <div class="col col-12 col-green">
                        {{'Buy' | translate }}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-3 coin-name" [ngClass]="(bidOrAsk && (coinName=='USDT'))?'type-buy':''" (click)="changeCoinName(true, 'USDT')">
                        USDT
                    </div>
                    <div class="col col-2 coin-name" [ngClass]="(bidOrAsk && (coinName=='BTC'))?'type-buy':''" (click)="changeCoinName(true, 'BTC')">
                        BTC
                    </div>
                    <div class="col col-2 coin-name" [ngClass]="(bidOrAsk && (coinName=='ETH'))?'type-buy':''" (click)="changeCoinName(true, 'ETH')">
                        ETH
                    </div>
                    <div class="col col-2 coin-name" [ngClass]="(bidOrAsk && (coinName=='FAB'))?'type-buy':''" (click)="changeCoinName(true, 'FAB')">
                        FAB
                    </div>
                    <div class="col col-3 coin-name" [ngClass]="(bidOrAsk && (coinName=='EXG'))?'type-buy':''" (click)="changeCoinName(true, 'EXG')">
                        EXG
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-3 border-right">
            <div class="container">
                <div class="row py-2">
                    <div class="col col-12 col-red">
                        {{'Sell' | translate }}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-3 coin-name" [ngClass]="(!bidOrAsk && (coinName=='USDT'))?'type-sell':''" (click)="changeCoinName(false, 'USDT')">
                        USDT
                    </div>
                    <div class="col col-2 coin-name" [ngClass]="(!bidOrAsk && (coinName=='BTC'))?'type-sell':''" (click)="changeCoinName(false, 'BTC')">
                        BTC
                    </div>
                    <div class="col col-2 coin-name" [ngClass]="(!bidOrAsk && (coinName=='ETH'))?'type-sell':''" (click)="changeCoinName(false, 'ETH')">
                        ETH
                    </div>
                    <div class="col col-2 coin-name" [ngClass]="(!bidOrAsk && (coinName=='FAB'))?'type-sell':''" (click)="changeCoinName(false, 'FAB')">
                        FAB
                    </div>
                    <div class="col col-3 coin-name" [ngClass]="(!bidOrAsk && (coinName=='EXG'))?'type-sell':''" (click)="changeCoinName(false, 'EXG')">
                        EXG
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-3 text-right">
            <div>{{'Available' | translate }} {{coinName}}</div>
            <div>0.00025</div>
            <div>{{'Commission rate' | translate }}: 0.1%</div>
        </div>
    </div>
    <mat-card class="my-3">
        <mat-card-content>
            <div class="row py-3">
                <div class="col col-3">
                    <mat-form-field>
                        <mat-label>{{'Price' | translate }}</mat-label>
                        <input matInput placeholder="" value="">
                    </mat-form-field>
                </div>

                <div class="col col-3">
                    <mat-form-field>
                        <mat-label>{{'Quantity' | translate }}</mat-label>
                        <input matInput placeholder="" value="">
                    </mat-form-field>
                    {{coinName}}
                </div>

                <div class="col col-3">
                    <mat-form-field>
                        <mat-label>{{'Minimum Limit' | translate }}</mat-label>
                        <input matInput placeholder="" value="">
                    </mat-form-field>
                    {{currency}}
                </div>

                <div class="col col-3">
                    <mat-form-field>
                        <mat-label>{{'Maximum Limit' | translate }}</mat-label>
                        <input matInput placeholder="" value="">
                    </mat-form-field>
                    {{currency}}
                </div>
            </div>

            <div class="row">
                <div class="col col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{'Transaction notes(optional)' | translate }}</mat-label>
                        <input matInput placeholder="" value="">
                    </mat-form-field>
                </div>
                <div class="col col-3">
                    <mat-form-field>
                        <mat-label>{{'Commission' | translate }}</mat-label>
                        <input matInput readonly placeholder="" value="0.002">
                    </mat-form-field>
                    {{coinName}}
                </div>
                <div class="col col-3">
                    <button class="btn btn-gradient text-white py-2 px-5" type="submit"> {{'Confirm' | translate }} </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="row border-top pt-3">
        <div class="col col-3 text-left">
            <div class="d-inline-block hand" [ngClass]="(advType=='ongoing')?'adv-type-active':''" (click)="changeAdvType('ongoing')">
                <b>
                        {{'Ongoing' | translate }}
                </b>

            </div>
            <div class="d-inline-block px-3 hand" [ngClass]="(advType=='history')?'adv-type-active':''" (click)="changeAdvType('history')">
                <b>
                        {{'History' | translate }}
                </b>
            </div>
        </div>

    </div>
    <div class="row py-3">
        <div class="col col-12">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th scope="col">{{'Time' | translate }}</th>
                        <th scope="col">{{'Type' | translate }}</th>
                        <th scope="col">{{'Quantity' | translate }}</th>
                        <th scope="col">{{'Commission' | translate }}</th>
                        <th scope="col">{{'Limit' | translate }}</th>
                        <th scope="col">{{'Price' | translate }}</th>
                        <th scope="col">{{'Orders' | translate }}</th>
                        <th scope="col">{{'Operation' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="table-text">
                                2020-02-02 17:30:21
                            </span>
                        </td>
                        <td>
                            <span class="table-text">
                                {{'Buy' | translate }} ETH
                            </span>
                        </td>
                        <td>
                            <span class="table-text">
                                1010
                            </span>
                        </td>
                        <td>
                            <span class="table-text">
                            0.5ETH
                            </span>
                        </td>
                        <td>
                            <span class="table-text">
                            190.00-1900.00CNY
                            </span>
                        </td>
                        <td>
                            <span class="table-text">
                            1900CNY
                            </span>
                        </td>
                        <td>
                            <span class="table-text">
                            2
                            </span>
                        </td>
                        <td>
                            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <!--
                    <tr *ngFor="let element of dataSource | merchantPipe: currency : bidOrAsk : coinName ">
                        <td>{{element.Merchant}}</td>
                        <td>
                            <app-paymentmethod [methods]="element.PaymentMethod"></app-paymentmethod>
                        </td>
                        <td>{{element.Quantity}}</td>
                        <td>{{element.LimitsLow}}-{{element.LimitsHigh}}</td>
                        <td>{{element.Price}}</td>
                        <td>
                            <div class="btn-buy-sell" [ngClass]="element.BidOrAsk ? 'btn-buy' : 'btn-sell'" (click)="placeOrder()">
                                {{element.BidOrAsk ? 'Buy' : 'Sell'}}
                            </div>
                        </td>
                    </tr>
                    -->
                </tbody>
            </table>



        </div>
    </div>

</div>