.graycolor {
    color: white;
}
.tab{
    width: 100%;
}

th {
    color: white;
    font-size: 1em;
}

td {
    color: lightgray;
    font-size: small;
}

a {
    color: #8f9fff;
}

@media (max-width: 1300px) {
    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
        padding-left: 3px;
    }

    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
        padding-right: 3px;
    }

    .mat-button {
        padding: 0;
    }

    .mat-card {
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        position: relative;
        padding: 3px;
        border-radius: 4px;
    }
}
