<div bsModal #otcPlaceOrderModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-bg-grey" *ngIf="element">
        <form (ngSubmit)="selectedMethod == 'CreditCard' ? stripeCard.createToken(extraData) : onSubmit()">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 text-dark">{{(element.buy ? 'Sell' : 'Buy') | translate}} {{element.coin}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row pb-3">
                            <div class="col col-6" *ngIf="element.merchant">
                                <div class="text-muted"><small>{{'Merchant info' | translate}}</small></div>
                                <div>{{'Merchant' | translate}}: {{element.merchant.merchantName}}</div>
                                <!--
                                <div>Volume/30 d: 730 30 d completed rate: 87%</div>
                                <div>Average coin-deliver time: 2.30min</div>
                                -->
                                <div>{{'Registration time' | translate}}: {{element.merchant.dateCreated}}</div>
                            </div>
                            <div class="col col-6 border-left">
                                <div class="text-muted"><small>{{'Order info' | translate}}</small></div>
                                <div>{{'Coin' | translate}}: {{element.coin}}</div>
                                <div>{{'Fiat' | translate}}: {{element.fiat | translate}}</div>
                                <div>{{'Quantity' | translate}}: {{element.qtyAvilable}}</div>
                                <div>{{'Limits' | translate}}: {{element.qtyLimitPerOrderLow}}-{{element.qtyLimitPerOrderHigh}}</div>
                                <div>{{'Price' | translate}}: {{element.price}}</div>
                            </div>
                        </div>
                        <div class="row pt-3 form-group border-top">
                            <div class="col col-6">
                                <div>
                                    {{'Quantity' | translate}}({{element.coin}}):
                                </div>
                                <div>
                                    <input type="text" class="form-control" id="inputGasAmount" name="quantity" [(ngModel)]="quantity" (input)="changeQuantity($event.target.value)" aria-describedby="emailHelp" placeholder="0.0000">
                                </div>
                                <div>
                                    {{'Balance' | translate}}:{{balance}}
                                </div>
                            </div>
                            <div class="col col-6">
                                <div>
                                    {{'Payable Amount' | translate}}({{element.fiat | translate}}):
                                </div>
                                <div>
                                    <input type="text" class="form-control" id="inputGasAmount" name="amount" [(ngModel)]="amount" (input)="changeAmount($event.target.value)" aria-describedby="emailHelp" placeholder="0.0000">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group pt-3">
                            <div class="col col-12">
                                <div>
                                    {{'Payment method' | translate}}:
                                </div>
                                <div>
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" name="method" [(ngModel)]="selectedMethod">
                                        <mat-radio-button class="px-2" *ngFor="let method of methods" [value]="method">
                                            <fa-icon *ngIf="method=='Paypal'" [icon]="faPaypal"></fa-icon>
                                            <fa-icon *ngIf="method=='CreditCard'" [icon]="faCreditCard"></fa-icon>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <div [style.visibility]="selectedMethod == 'CreditCard' ? 'visible' : 'hidden'">

                                    <div *ngIf="invalidError" style="color:red">
                                        {{ invalidError.message }}
                                      </div>
                                       
                                      <stripe-card
                                      #stripeCard
                                      (catch) = "onStripeError($event)"
                                      [(invalid)] = "invalidError"
                                      [options] = "options"
                                      (tokenChange) = "setStripeToken($event)"
                                      (sourceChange) = "setStripeSource($event)"
                                    ></stripe-card>
                                </div>  
                                <div [style.visibility]="selectedMethod == 'Paypal' ? 'visible' : 'hidden'">
                                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer  justify-content-center">
                    <button class="btn btn-gradient text-white py-2 px-5" type="submit"> {{'Confirm' | translate}} </button>
                </div>
            </div>
        </form>
    </div>
</div>