<div *ngIf="event">
    <div>
        Smart Contract Address: {{event.smartContractAddress}}
    </div>
    <div>
        Block Number: {{event.blockNumber}}
    </div>
    <div>
        Transaction Hash: {{event.transactionHash}}
    </div>
    <div>
        Data: {{event.data}}
    </div>
    
    <table class="table table-striped text-white">
        <thead>
            <tr>
                <th scope="col">Address</th>
                <th scope="col">Value</th>
                <th scope="col">Proportion</th>
                <th scope="col">Coins</th>
                <th scope="col">Transaction Hash</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let distribution of event.distributions">
                <td>{{distribution.address}}</td>
                <td>{{distribution.value}}</td>
                <td>{{distribution.proportion}}</td>
                <td>
                    <div *ngFor="let coin of distribution.coins">
                        <div>
                            Coin: {{coin.coin}}
                        </div>
                        <div>
                            Proportion: {{coin.proportion}}
                        </div>
                    </div>
                </td>
                <td>{{distribution.transactionHash}}</td>
                <td>{{distribution.status}}</td>
            </tr>
        </tbody>
    </table>
    
</div>
