<h3 class="color-primary">{{ 'Account.Make Orders.OrderForm.Page1.Title' | translate }}</h3>
<form class="place-order" name="orderForm" (ngSubmit)="next()" [formGroup]="orderForm" #formDir="ngForm">
  <p class="semi-bold text-justify">{{ 'Account.Make Orders.OrderForm.Page1.Desc' | translate }}</p>
<!--
  <div class="place-order__rates">
    <table _ngcontent-c9="">
      <tbody _ngcontent-c9="">
        <tr _ngcontent-c9="">
          <td _ngcontent-c9="">For payments &gt; $50k USD Price:</td>
          <td _ngcontent-c9=""><b _ngcontent-c9=""> $0.016 USD per EXG</b></td>
        </tr>
        <tr _ngcontent-c9="">
          <td _ngcontent-c9="">For Payments of $10k-$50k USD Price:</td>
          <td _ngcontent-c9=""><b _ngcontent-c9="">$0.018 USD per EXG</b></td>
        </tr>
        <tr _ngcontent-c9="">
          <td _ngcontent-c9="">For Payments &lt; $10k USD Price:</td>
          <td _ngcontent-c9=""><b _ngcontent-c9="">$0.020 USD per EXG</b></td>
        </tr>
      </tbody>
    </table>
  </div>
-->
    <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap="1em">
      <div class="place-order-wrap">
        <label class="form-input__text__label">{{ 'Account.Make Orders.OrderForm.Page1.DropDown1' | translate }}</label>

        <select (change)="updateFromPayMethod()" name="payMethod" [formControl]="payMethod" class="form-input__text block">
          <ng-container *ngFor="let p of paymethods">
            <option [value]="p">{{ p }}</option>
          </ng-container>
        </select>
      </div>

      <div class="place-order-wrap">
        <label class="form-input__text__label">{{ 'Form.Amount' | translate }}</label>
        <input (blur)="updateFromAmount()" type="number" min="0.01" step="0.01" required [formControl]="paidAmount" class="form-input__text block">
      </div>

      <div class="place-order-wrap">
        <label class="form-input__text__label">{{ 'Account.Make Orders.OrderForm.Page1.DropDown3' | translate }}</label>
        <input (blur)="updateFromQty()" type="number" required [formControl]="appTokenQty" class="form-input__text block">
      </div>

      <div class="place-order-wrap">
        <label class="form-input__text__label">{{ 'Account.Make Orders.OrderForm.Page1.DropDown4' | translate }}</label>
        <input type="number" required [formControl]="payRate" class="form-input__text block">
      </div>
    </div>  
  
<!--
  <div class="place-order__discount-rate" *ngIf="payment.controls.length > 0" fxLayout="row" fxLayoutAlign="flex-start" fxLayoutGap="1em">
    <div class="place-order-wrap">
      <label for="discountRate" required class="form-input__text__label">{{ 'Account.Make Orders.OrderForm.Page1.DropDown5' | translate }}</label>
      <input type="number" required formControlName="discountRate" class="form-input__text block">
    </div>
  </div>
-->
<!--
  <div class="place-order__totals" *ngIf="payment.controls.length > 0" fxLayout="row" fxLayoutAlign="flex-start" fxLayoutGap="1em">
    <div class="place-order-wrap">
      <label for="totalPaid" required class="form-input__text__label">Total USD {{ 'Account.Make Orders.OrderForm.Page1.DropDown2' | translate }}</label>
      <input type="number" required formControlName="totalPaid" class="form-input__text block">
    </div>

    <div class="place-order-wrap">
      <label for="totalAppTokens" required class="form-input__text__label">{{ 'Account.Make Orders.OrderForm.Page1.DropDown3' | translate }}</label>
      <input type="number" required formControlName="totalAppTokens" class="form-input__text block">
    </div>
  </div>
-->
  <button class="next-button form-input__button background-secondary color-white">
    {{ 'Form.Next' | translate }}
  </button>
</form>
