.ticketPage {
    color: #fff;
   

    .help-area {
        padding: 6em;
        margin: 0 auto;
    }

    .ticket {
        width: 100%;
        /* background-color: lightgray; */
        margin-top: 3em;
        /* padding: 2em; */
    }

    .ticket-form {
        min-width: 150px;
        width: 100%;
    }

    .ticket-half-width {
        width: 300px;
    }

    .ticket-full-width {
        width: 80%;
    }

    .submitBtn {
        margin-top: 2em;
    }

    .exbtn {
        padding: 5px 25px;
    }
}
