<div class="container">
    <div class="mainpage">
        <div class="title mt-2">
            <h1>{{"About DUSD"|translate}}</h1>
        </div>

        <div class="descripton">
            <p>{{"DUSDdsc1"|translate}}</p>
            <p>{{"DUSDdsc2"|translate}}</p>
            <p>{{"DUSDdsc3"|translate}}</p>
        </div>
        <!--
        <table>
            <tr>
                <td class="head"><b>{{"Token symbol"|translate}}:</b></td>
                <td>DUSD</td>
            </tr>
            <tr>
                <td class="head"><b>{{"Logo"|translate}}:</b></td>
                <td><img src="/assets/coins/dusd.png" width="32px"></td>
            </tr>
            <tr>
                <td class="head"><b>{{"Type"|translate}}:</b></td>
                <td>{{"Public blockchain cryptocurrency"|translate}}
                    <td>
            </tr>
            <tr>
                <td class="head"><b>{{"Value"|translate}}:</b></td>
                <td>{{"Equals to US Dollar"|translate}}</td>
            </tr>
            <tr>
                <td class="head"><b>{{"Usage"|translate}}:</b></td>
                <td>{{"Payment, shopping"|translate}}</td>
            </tr>
            <tr>
                <td class="head"><b>{{"Issuer"|translate}}:</b></td>
                <td>Exchangily LLC</td>
            </tr>
        </table>
    -->
    </div>
</div>