.container {
    color: white;
    padding-top: 2em;
    padding-bottom: 4em;

    .descripton {
        padding-top: 1em;
    }

    .head {
        text-align: right;
        font-weight: 500;
        padding-right: 1em;
    }
}