<div class="container">
    <div class="mainpage">
        <div class="title mt-2">
            <h1>{{"About DUSD"|translate}}</h1>
        </div>

        <div class="descripton">
            <p>DUSD is an USD-peged stable token that is issued on public blockchain, currently it is created on FAB blockchain, Ethereum blockchain as well as Biance BSC chain, it was issued by Exchangily LLC which is a decentraliced cryptocurrency exchange registered in Ohio, United States. </p>
            <p>One DUSD in value is equals one US Dollar.</p>
            <p>Purpose of DUSD: mainly for online cryptocurrency payment, for ether offline or online business.</p>
        </div>
        <table>
            <tr><td class="head"><b>Symbol:</b></td> <td>DUSD</td></tr>
            <tr><td class="head"><b>Logo:</b></td> <td><img src="/assets/coins/dusd.png" width="32px"></td></tr>
            <tr><td class="head"><b>Type:</b></td> <td>Public blockchain cryptocurrency/td></tr>
            <tr><td class="head"><b>Value:</b></td> <td>Equals to US Dollar</td></tr>
            <tr><td class="head"><b>Usage:</b></td> <td>Payment, shopping</td></tr>
            <tr><td class="head"><b>Issuer:</b></td> <td>Exchangily LLC</td></tr>
        </table>

    </div>
</div>