<table class="table table-striped text-white">
    <thead>
        <tr>
            <th scope="col">Smart Contract Address</th>
            <th scope="col">Block Number</th>
            <th scope="col">Transaction Hash</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.smartContractAddress}}</td>
            <td>{{event.blockNumber}}</td>
            <td>
                <a href="/admin/star-event/{{event._id}}">
                    {{event.transactionHash}}
                </a>
                
            </td>
        </tr>
    </tbody>
</table>
