<div class="container">
    <div class="row">
        <h2>Exchangily promotion strategy</h2>
    </div>

    <div class="row py-2">
        <div class="col col-4">
            <img class="img-left" src="/assets/socialmedia.jpg" />
        </div>
        <div class="col col-8">
            <div class="content-heading">
                <h3>Social Media Engagement</h3>
            </div>
            <p>Register on https://exchangily.com/ pass the KYC nad get($20 EXG) and ($3 FAB) per referrals</p>
            <p>Please submit new form for each airdrop type</p>
            <p>Social Media</p>
            <p>We will reward you up to ($25) EXG coin if you follow, join, like and promote Exchangily on</p>
            <p>Twitter. ($5 EXG)</p>
            <p>Facebook. ($5 EXG)</p>
            <p>Telegram. ($5 EXG)</p>
            <p>Reddit. ($5 EXG)</p>
            <p>Linkedin. ($5 EXG)</p>
        </div>
    </div>

    <div class="row py-2">

        <div class="col col-8">
            <div class="content-heading">
                <h3>Exchangily video</h3>
            </div>
            <p>We will reward you ($200-$300 value of EXG) for creating a video with the focus on our exchange</p>
            <p>1) Create at least 3 minutes video about Exchangily</p>
            <p>2) Publish it on your channel with at least 500 subscribers</p>
            <p>Any language is fine. We prefer videos focusing on Exchangily.</p>
            <p>Reward depends on a number of subscribers to your channel and video quality</p>
        </div>

        <div class="col col-4">
            <img class="img-left" src="/assets/video.jpg" />
        </div>
    </div>

    <div class="row py-2">
        <div class="col col-4">
            <img class="img-left" src="/assets/article.jpg" />
        </div>
        <div class="col col-8">
            <div class="content-heading">
                <h3>Exchangily article</h3>
            </div>
            <p>We will reward article writers up to (~$100 value EXG) for writing and publishing a technical article about Exchangily</p>
            <p>1) Write an article with at least 500 words and focus on Exchangily Ecosystem</p>
            <p>2) Mention exchangily and link it to https://exchangily.com/</p>
            <p>3) publishing website with a large audience(Alexa Traffic Rank 200K or less)</p>
        </div>
    </div>

    <div class="row py-2">
        <div class="col col-12">
            <div>
                We need to find out you really joined our social media or promoted exchangily.
            </div>
            <div>
                Enter your Twitter, Telegram, Reddit, username, Facebook URL and linkedin profile URL.
            </div>
            <form class="submit-form">

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Twitter
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                        <label class="form-check-label" for="gridRadios1">
                                    Facebook
                            </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                        <label class="form-check-label" for="gridRadios1">
                                    Telegram
                                </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                        <label class="form-check-label" for="gridRadios1">
                                        Reddit
                                    </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                        <label class="form-check-label" for="gridRadios1">
                                            Linkedin
                                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Username or URL</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username or url">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Wallet address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your wallet address">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>