<div class="d-flex justify-content-center align-items-center p-3">
    <div class="d-inline-block mobile-div">
        <div>
            {{'Flyer Content' | translate}}
        </div>
        <div>
            {{'Registration link' | translate}}:<a target="_blank" href="{{promotionLink}}">{{promotionLink}}</a>
        </div>
        <div class="py-2">

            <div class="advblock">
                <div class="title pt-4">
                    {{'eXchangily is S.A.F.E' | translate}}
                </div>
                <div class="desc">
                    {{'Secure, Autonomous, Fast, Easy' | translate}}
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-between py-2">
            <div class="text-center p-3">
                <div>
                    {{'My referral Code' | translate}}
                </div>
                <div class="text-referralcode">
                    {{referralCode}}                  
                </div>
            </div>
            <div>
                <qrcode *ngIf="promotionLink" [qrdata]="promotionLink" id="promotionLink_qr_code" style="display: inline-block" [size]="150" [level]="'M'"></qrcode>
                <div class="py-2">
                    <a href="{{link}}" download (click)="dlDataUrlBin()">
                        <div class="d-inline-block px-1">
                            <img src="/assets/download.png">
                        </div>
                        <div class="d-inline-block px-1">
                           {{'Download QR Code' | translate}}
                        </div>
                    </a>
    
    
                </div>                
            </div>
        </div>
    </div>
</div>