.mobile-div {
    max-width: 480px;
}
a {
    color: #0056b3;
    text-decoration: underline;
}

.advblock {
    width: 100%;
    height: 120px;
    background-image: url('/images/adv/01.png');
}

.title {
    font-family: 'Times New Roman', Times, serif;
    margin: 2px 12px;
    padding-top: 12px;
    color: white;
}

.desc {
    font-size: x-small;
    margin: 0 12px 0 12px;
    color: silver;
}

.text-referralcode {
    color: plum;
    font-size: 22px;
}