<table class="custom-table">
    <thead>
        <tr>
            <th>name</th>  
            <th>symbol</th>     
            <th>decimals</th> 
            <th>Total Supply</th>                
            <th>txid</th>
            <th>Smart Contract Address</th>   
            <th>Status</th>                   
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tx of txs.reverse()">
            <td>
                {{tx.name}}
            </td>
            <td>
                {{tx.symbol}}
            </td>
            <td>
                {{tx.decimals}}
            </td>
            <td>
                {{tx.totalSupply}}
            </td>            
            <td>
                <span *ngIf="tx.txid">
                    {{showLongString(tx.txid)}}            
                    <button mat-icon-button (click)="copy(tx.txid)">
                        <mat-icon svgIcon="copy"></mat-icon>
                    </button>
                </span>

            </td>
            <td>
                <span *ngIf="tx.smartContractAddress">
                    {{showLongString(tx.smartContractAddress)}}
                    <button mat-icon-button (click)="copy(tx.smartContractAddress)">
                        <mat-icon svgIcon="copy"></mat-icon>
                    </button>
                </span>

            </td>   
            <td>
                {{tx.status}}
            </td>                     
        </tr>
      
    </tbody>
</table>
