.outwraper {
    width: 100%;
}

.header {
    font-weight: bold;
    background-color: #2c2c4d;
    color: #9eabc8;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin: 0;
    width: 100%;
}

.orders {
    width: 100%;
    padding: 0;
}

.myorderlist {
    overflow-y: scroll;
}

.orderline {
    width: 100%;
    display: flex;
    line-height: 0.6;
    padding-left: 1.6em;
}

.orditem {
    margin-right: 0.4em;
    font-size: 9pt;
}

@media (min-width: 376px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }
}

@media (max-width: 959px) {
    .navbar {
        padding: 0rem 1rem;
        padding-bottom: 1rem;
    }
}

.row-with-line {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #484969;
}