<div class="outwraper myorders">

    <div class="p-2">
        <div class="d-inline-block p-2" [ngClass]="select === 0?'text-white':'text-muted'">
            <a class="tab-link" (click)="selectOrder(0);">{{'Open Order' | translate}}</a>
        </div>
        <div class="d-inline-block p-2" [ngClass]="select === 1?'text-white':'text-muted'">
            <a class="tab-link" [class.selected]="select === 1" (click)="selectOrder(1);">{{'Closed Order' | translate }}</a>
        </div>
        <div class="d-inline-block p-2" [ngClass]="select === 2?'text-white':'text-muted'">
            <a class="tab-link" [class.selected]="select === 2" (click)="selectOrder(2);">{{'Canceled Order' | translate }}</a>
        </div>
        <div class="d-inline-block p-2" [ngClass]="select === 100?'text-white':'text-muted'">
            <a class="tab-link" [class.selected]="select === 100" (click)="selectOrder(100);">{{'Balances' | translate }}</a>
        </div>
        <div class="d-inline-block p-2" [ngClass]="select === 101?'text-white':'text-muted'">
            <a class="tab-link" [class.selected]="select === 101" (click)="selectOrder(101);">{{'Transfer' | translate }}</a>
        </div>        
        <div>

        </div>
    </div>
    <div class="orders container fxHide-sm" *ngIf="(select != 100) && (select != 101)">
        <div class="row px-4 header py-3">
            <div class="orditem" style="width: 20%; margin-left: -1.2em;">{{'Time' | translate }}</div>
            <div class="orditem" style="width: 15%;">{{'Symbol' | translate }}</div>
            <div class="orditem" style="width: 5%;">{{'Type' | translate }}</div>
            <div class="orditem" style="width: 11%;">{{'Price' | translate }}</div>
            <div class="orditem" style="width: 11%;">{{'Order Qty' | translate }}</div>
            <div class="orditem" style="width: 11%;">{{'Filled Qty' | translate }}</div>
            <div class="orditem" style="width: 15%;">{{'Filled%' | translate }}</div>
            <div class="orditem" style="width: 5%;">{{'Action' | translate }}</div>
        </div>

        <div class="myorderlist scroll-bar w-100 pt-2">
            <div class="row orderline w-100" *ngFor="let order of getOrders(); let i=index">
                <div class="orditem text-white d-flex align-items-center" style="width: 20%;">
                    <div>
                        {{order.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
                    </div>
                </div>
                <div class="orditem text-info d-flex align-items-center" style="width: 15%;">
                    <div>
                        <!--
                        {{coinServ.getCoinNameByTypeId(order.pairLeft)}}/{{coinServ.getCoinNameByTypeId(order.pairRight)}}
                        -->
                        {{order.pairName}}
                    </div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 5%;">
                    <div *ngIf="order.bidOrAsk" class="text-success">{{'Buy' | translate }}</div>
                    <div *ngIf="!order.bidOrAsk" class="text-danger">{{'Sell' | translate }}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 11%;">
                    <div>{{utilServ.showAmount(order.price, 6)}}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 11%;">
                    <div>{{utilServ.showAddAmount(order.orderQuantity, order.filledQuantity, 6)}}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 11%;">
                    <div>{{utilServ.showAmount(order.filledQuantity, 6)}}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 15%;">
                    <div>{{showFilledPercentage(order.orderQuantity, order.filledQuantity)|number:'2.2-2'}}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 5%;">
                    <div *ngIf="order.isActive">
                        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="deleteOrder(order.orderHash)">
                            <mat-icon svgIcon="delete"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="orders w-100 fxHide-gt-sm container" *ngIf="(select != 100) && (select != 101)">
        <div class="row w-100 header py-3">
            <div class="orditem col-5">{{'Time' | translate }}</div>
            <div class="orditem col-2">{{'Symbol' | translate }}</div>
            <div class="orditem col-2">{{'Price' | translate }}</div>
            <div class="orditem col-2">{{'Action' | translate }}</div>
        </div>

        <div class="myorderlist scroll-bar w-100 pt-2" [style.height.px]="screenheight-680">
            <div class="row row-with-line w-100" *ngFor="let order of getOrders(); let i=index">
                <div class="text-muted col-5">
                    <p>
                        {{order.time | date:'yyyy-MM-dd HH:mm:ss'}}
                    </p>
                </div>
                <div class=" text-info col-2">
                    <p>
                        {{order.pairName}}
                        <!--
                        {{coinServ.getCoinNameByTypeId(order.pairLeft)}}/{{coinServ.getCoinNameByTypeId(order.pairRight)}}
                        -->
                    </p>
                </div>
                <div class=" text-muted col-2">
                    <p>{{utilServ.showAmount(order.price, 6)}}</p>
                </div>
                <div class=" text-muted col-2">
                    <p>cancel</p>
                </div>
                <div class=" text-muted col-4">
                    <p *ngIf="order.bidOrAsk">
                        {{'Type' | translate }}:{{'Buy' | translate }}
                    </p>
                    <p *ngIf="!order.bidOrAsk">
                        {{'Type' | translate }}:{{'Sell' | translate }}
                    </p>
                </div>
                <div class=" text-muted col-4">
                    {{'Order Qty' | translate }}:{{utilServ.showAmount(order.orderQuantity, 6)}}
                </div>
                <div class=" text-muted col-4">
                    {{'Filled Qty' | translate }}:{{utilServ.showAmount(order.filledQuantity, 6)}}
                </div>
                <div class=" text-muted col-4">
                    {{'Filled%' | translate }}:{{order.filledQuantity*100/order.orderQuantity|number:'2.2-2'}}
                </div>

            </div>
        </div>
    </div>

    <div class="orders container w-100" *ngIf="select == 100">
        <div class="row w-100 header py-3">
            <div class="orditem col-2">{{'Coin' | translate }}</div>
            <div class="orditem col-3">{{'Amount' | translate }}</div>
            <div class="orditem col-3">{{'Locked Amount' | translate }}</div>
            <div class="orditem col-3">
                <span class="hand-cursor" (click)="showWithdrawHistory()">
                    {{'Withdraw' | translate }}
                    <mat-icon svgIcon="history"></mat-icon>
                </span>
            </div>
        </div>
        <div class="myorderlist scroll-bar w-100">
            <div class="row orderline w-100 py-3" *ngFor="let token of mytokens; let i=index">
                <div class="col col-3 text-white smallfont">
                    {{coinServ.getCoinNameByTypeId(token.coinType)}}
                    <span *ngIf="(coinServ.getCoinNameByTypeId(token.coinType)=='BNB') || (coinServ.getCoinNameByTypeId(token.coinType) == 'USDT')">
                                            (ERC20)
                    </span>
                </div>
                <div class="col col-3 text-white smallfont">
                    {{utilServ.toNumber(utilServ.showAmount(token.unlockedAmount, 18))}}
                </div>
                <div class="col col-3 text-whit smallfonte">
                    {{utilServ.toNumber(utilServ.showAmount(token.lockedAmount, 18))}}
                </div>
                <div class="col col-3 text-white smallfont">
                    <span class="hand-cursor" (click)="withdraw(templateWithdraw, token)">
                        <mat-icon svgIcon="arrow-upward"></mat-icon>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="transfer w-100" *ngIf="select == 101">
        <div class="row px-5">
            <div class="form">
                <form>
                  <label for="fname">{{'Coin' | translate }}</label>
                  <select id="coin" name="coin" [(ngModel)]="coin">
                    <ng-container *ngFor="let token of mytokens; let i=index">
                        <option *ngIf="token.unlockedAmount > 0" [value]="token.coinType">
                            {{coinServ.getCoinNameByTypeId(token.coinType)}}
                            ({{utilServ.toNumber(utilServ.showAmount(token.unlockedAmount, 18))}})
                        </option>                       
                    </ng-container>

                  </select>                  
                  
              
                  <label for="address">{{'Wallet address' | translate}}</label>
                  <input type="text" [(ngModel)]="address" id="address" name="address" placeholder="{{'Reciever\'s wallet address' | translate}}">
              
                  <label for="price">{{'Amount' | translate}}</label>
                  <input type="text" [(ngModel)]="amount" id="amount" name="amount" placeholder="{{'Transfer amount' | translate}}">
                  
                  <div class="py-3 text-center">
                    <button class="button" (click)="confirmTransfer()">{{'Confirm' | translate}}</button>
                  </div>
                  
                </form>
              </div>
        </div>

    </div>
</div>

<ng-template #templateWithdraw>
    <div class="modal-header text-center">
        <h4 class="modal-title w-100">{{'Withdraw' | translate }} {{coinName}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalWithdrawRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <label for="inputSendTo" class="text-muted">{{'Your balance' | translate }}:{{utilServ.toNumber(utilServ.showAmount(token.unlockedAmount, 18))}}</label>
        </div>

        <div>
            <label for="inputSendTo" class="text-muted">{{'Minimum amount' | translate }}:{{minimumWithdrawAmount}}</label>
        </div>
        <div class="pb-4">
            <label for="inputSendTo" class="text-muted">{{'Withdraw amount' | translate }}</label>
            <input type="number" class="form-control" id="inputWithdrawAmount" name="inputWithdrawAmount" [(ngModel)]="withdrawAmount" aria-describedby="emailHelp" placeholder="0.0000">
        </div>

        <div class="d-flex justify-content-between py-1">
            <div>
                {{'Transaction fee' | translate}}: {{utilServ.showAmount(gasPrice*gasLimit, 6)}} {{'Gas' | translate}}
            </div>
            <div>
                <mat-slide-toggle [(ngModel)]="transFeeAdvance"></mat-slide-toggle>
            </div>
        </div>
        <div *ngIf="transFeeAdvance">
            <div class="py-1">
                <div>
                    {{'Gas price' | translate}}:
                </div>
                <div>
                    <input class="form-control" type="text" [(ngModel)]="gasPrice">
                </div>
            </div>
            <div class="py-1">
                <div>
                    {{'Gas limit' | translate}}:
                </div>
                <div>
                    <input class="form-control" type="text" [(ngModel)]="gasLimit">
                </div>
            </div>
        </div>

        <button [disabled]="withdrawAmount < minimumWithdrawAmount" class="btn btn1 btn-gradient text-white" (click)="onConfirmedWithdrawAmount()">{{"Confirm" | translate }}</button>

    </div>

</ng-template>

<pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>