<div class="outwraper">

    <div class="p-2">
        <div class="d-inline-block p-2" [ngClass]="select === 0?'text-white':'text-muted'">
            <a class="tab-link" (click)="selectOrder(0);">{{'Open Order' | translate}}</a>
        </div>
        <div class="d-inline-block p-2" [ngClass]="select === 1?'text-white':'text-muted'">
            <a class="tab-link" [class.selected]="select === 1" (click)="selectOrder(1);">{{'Closed Order' | translate }}</a>
        </div>
        <div class="d-inline-block p-2" [ngClass]="select === 2?'text-white':'text-muted'">
            <a class="tab-link" [class.selected]="select === 2" (click)="selectOrder(2);">{{'Canceled Order' | translate }}</a>
        </div>
        <div class="d-inline-block p-2" [ngClass]="select === 100?'text-white':'text-muted'">
            <a class="tab-link" [class.selected]="select === 100" (click)="selectOrder(100);">{{'Balances' | translate }}</a>
        </div>
    </div>
    <div class="orders container fxHide-sm" *ngIf="select != 100">
        <div class="row px-4 header py-3">
            <div class="orditem" style="width: 20%; margin-left: -1.2em;">{{'Time' | translate }}</div>
            <div class="orditem" style="width: 8%;">{{'Symbol' | translate }}</div>
            <div class="orditem" style="width: 5%;">{{'Type' | translate }}</div>
            <div class="orditem" style="width: 10%;">{{'Price' | translate }}</div>
            <div class="orditem" style="width: 10%;">{{'Order Qty' | translate }}</div>
            <div class="orditem" style="width: 10%;">{{'Filled Qty' | translate }}</div>
            <div class="orditem" style="width: 8%;">{{'Filled%' | translate }}</div>
            <div class="orditem" style="width: 8%;">{{'Action' | translate }}</div>
        </div>

        <div class="myorderlist scroll-bar w-100 pt-2">
            <div class="row orderline w-100" *ngFor="let order of myorders | orderfilter: orderStatus; let i=index">
                <div class="orditem text-white d-flex align-items-center" style="width: 20%;">
                    <div>
                        {{order.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
                    </div>
                </div>
                <div class="orditem text-info d-flex align-items-center" style="width: 8%;">
                    <div>
                        {{coinServ.getCoinNameByTypeId(order.pairLeft)}}/{{coinServ.getCoinNameByTypeId(order.pairRight)}}
                    </div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 5%;">
                    <div *ngIf="order.bidOrAsk">{{'Buy' | translate }}</div>
                    <div *ngIf="!order.bidOrAsk">{{'Sell' | translate }}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 10%;">
                    <div>{{utilServ.showAmount(order.price)}}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 10%;">
                    <div>{{utilServ.showAddAmount(order.orderQuantity, order.filledQuantity)}}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 10%;">
                    <div>{{utilServ.showAmount(order.filledQuantity)}}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 8%;">
                    <div>{{utilServ.showAmount(order.filledQuantity)*100/utilServ.showAddAmount(order.orderQuantity, order.filledQuantity)|number:'2.2-2'}}</div>
                </div>
                <div class="orditem text-white d-flex align-items-center" style="width: 8%;">
                    <div *ngIf="order.isActive">
                        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="deleteOrder(templatePasswd, order.orderHash)">
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="orders w-100 fxHide-gt-sm container" *ngIf="select != 100">
        <div class="row  w-100 header py-3">
            <div class="orditem col-5">{{'Time' | translate }}</div>
            <div class="orditem col-2">{{'Symbol' | translate }}</div>
            <div class="orditem col-2">{{'Price' | translate }}</div>
            <div class="orditem col-2">{{'Action' | translate }}</div>
        </div>

        <div class="myorderlist scroll-bar w-100 pt-2" [style.height.px]="screenheight-680">
            <div class="row row-with-line  w-100" *ngFor="let order of myorders | orderfilter: orderStatus; let i=index">
                <div class="text-muted col-5">
                    <p>
                        {{order.time | date:'yyyy-MM-dd HH:mm:ss'}}
                    </p>
                </div>
                <div class=" text-info col-2">
                    <p>
                        {{coinServ.getCoinNameByTypeId(order.pairLeft)}}/{{coinServ.getCoinNameByTypeId(order.pairRight)}}
                    </p>
                </div>
                <div class=" text-muted col-2">
                    <p>{{utilServ.showAmount(order.price)}}</p>
                </div>
                <div class=" text-muted col-2">
                    <p>cancel</p>
                </div>
                <div class=" text-muted col-4">
                    <p *ngIf="order.bidOrAsk">
                        {{'Type' | translate }}:{{'Buy' | translate }}
                    </p>
                    <p *ngIf="!order.bidOrAsk">
                        {{'Type' | translate }}:{{'Sell' | translate }}
                    </p>
                </div>
                <div class=" text-muted col-4">
                    {{'Order Qty' | translate }}:{{utilServ.showAmount(order.orderQuantity)}}
                </div>
                <div class=" text-muted col-4">
                    {{'Filled Qty' | translate }}:{{utilServ.showAmount(order.filledQuantity)}}
                </div>
                <div class=" text-muted col-4">
                    {{'Filled%' | translate }}:{{order.filledQuantity*100/order.orderQuantity|number:'2.2-2'}}
                </div>

            </div>
        </div>
    </div>

    <div class="orders container" *ngIf="select == 100">
        <div class="row header">
            <div class="col col-3">
                <label>{{'Coin' | translate }}</label>
            </div>
            <div class="col col-3">
                <label>{{'Amount' | translate }}</label>
            </div>
            <div class="col col-3">
                <label>{{'Locked Amount' | translate }}</label>
            </div>
            <div class="col col-3">
            </div>
        </div>
        <div class="myorderlist scroll-bar w-100">
            <div class="row orderline w-100 py-3" *ngFor="let token of mytokens; let i=index">
                <div class="col col-3 text-white">
                    <label>{{coinServ.getCoinNameByTypeId(token.coinType)}}</label>
                </div>
                <div class="col col-3 text-white">
                    <label> {{utilServ.showAmount(token.unlockedAmount)}}</label>
                </div>
                <div class="col col-3 text-white">
                    <label>{{utilServ.showAmount(token.lockedAmount)}}</label>
                </div>
                <div class="col col-3 text-white">
                    <button mat-icon-button matTooltip="Withdraw" (click)="withdraw(templatePasswd,templateWithdraw, token)" aria-label="Example icon-button with a heart icon">
                    <mat-icon>arrow_upward</mat-icon>
                </button>
                </div>
            </div>
        </div>
        <!--
        <div class="row orderline w-100 header py-3 title">
            <div class="orditem w-25">Coin</div>
            <div class="orditem w-25">Amount</div>
            <div class="orditem w-25">Locked Amount</div>
            <div class="orditem w-25"></div>
        </div>

        <div class="myorderlist scroll-bar w-100 pt-2">
            <div class="row orderline w-100 py-2" *ngFor="let token of mytokens; let i=index">
                <div class="orditem text-white w-25">{{coinService.getCoinNameByTypeId(token.coinType)}}</div>
                <div class="orditem text-white w-25">{{utilServ.showAmount(token.unlockedAmount)}}</div>
                <div class="orditem text-white w-25">{{utilServ.showAmount(token.lockedAmount)}}</div>
                <div>
                    <button mat-icon-button matTooltip="Withdraw" (click)="withdraw(mycoin)" aria-label="Example icon-button with a heart icon">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        -->
    </div>
</div>

<ng-template #templatePasswd>
    <div class="modal-header text-center">
        <h4 class="modal-title w-100">{{'Password' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
    </div>
    <div class="modal-body">
        <div class="pb-4">
            <input type="password" autocomplete="off" class="form-control" id="inputPin" [(ngModel)]="pin" aria-describedby="emailHelp" placeholder="Please provide your password to confirm the transaction">
        </div>

        <button class="btn btn1 btn-gradient text-white" (click)="confirmPin()">{{"Confirm" | translate }}</button>

    </div>
</ng-template>


<ng-template #templateWithdraw>
    <div class="modal-header text-center">
        <h4 class="modal-title w-100">{{'Withdraw' | translate }} {{coinName}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                          </button>
    </div>
    <div class="modal-body">
        <div>
            <label for="inputSendTo" class="text-muted">{{'Your balance' | translate }}:{{utilServ.showAmount(token.unlockedAmount)}}</label>
        </div>
        <div class="pb-4">
            <label for="inputSendTo" class="text-muted">{{'Withdraw amount' | translate }}</label>
            <input type="number" class="form-control" id="inputWithdrawAmount" name="inputWithdrawAmount" [(ngModel)]="withdrawAmount" aria-describedby="emailHelp" placeholder="0.0000">
        </div>

        <button class="btn btn1 btn-gradient text-white" (click)="withdrawDo()">{{"Confirm" | translate }}</button>

    </div>
    <!--
    <div class="modal-dialog modal-sm">
        <form (ngSubmit)="onSubmit()">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 text-dark">Withdraw</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputSendTo" class="text-muted">Withdraw amount</label>
                        <input type="number" class="form-control" id="inputWithdrawAmount" name="inputWithdrawAmount" [(ngModel)]="withdrawAmount" aria-describedby="emailHelp" placeholder="0.0000">
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="pull-left">
                        <button class="btn btn-gradient text-white" (click)="withdrawDo()"> Confirm </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
-->
</ng-template>
<!--
<withdraw-amount-modal #withdrawModal (confirmedAmount)="onConfirmedWithdrawAmount($event)"></withdraw-amount-modal>
-->