.form {
    input[type=text],
    select {
        width: 100%;
        padding: 5px 7px;
        margin: 4px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: white;
        background: transparent;
        border: 1px solid #424257;
    }
}

.button {
    color: white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #e59f12, #7a1ce5);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #282840 inset;
}

.coinitem {
    background-color: gray;
}
