<div *ngIf="!user">
    <div class="container">        
        <div class="row">
            <div class="col col-12">
                Required fields have an asterisk: *
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">First name *</label>
                    <input type="email" class="form-control" [(ngModel)]="first_name"  placeholder="Enter first name">
                </div>           
            </div>
            <div class="col col-12 col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Last name *</label>
                    <input type="email" class="form-control" [(ngModel)]="last_name"  placeholder="Enter last name">
                </div>           
            </div>        
        </div>
    
        <div class="row">
            <div class="col col-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email *</label>
                    <input type="email" class="form-control" [(ngModel)]="email"  placeholder="Enter email">
                </div>              
            </div>
        </div>
        
    
        <div class="row">
            <div class="col col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        I certify that I am 18 years of age or older, and agree to the User Agreement and Privacy Policy.
                    </label>
                  </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col col-12">
                <button type="button" class="btn-primary btn-lg w-100" (click)="signup()">Sign up with wallet</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="user">
    <div class="container">  
        <div class="row my-3">
            <div class="col col-12">
                <button *ngIf="(!kyc || (kyc.step < 6))" type="button" class="btn-primary btn-lg w-100" (click)="signin()">Login to continue</button>
                <div *ngIf="kyc && (kyc.step == 6)">
                    <div *ngIf="kyc.status == 0">
                        Your kyc is under approval.
                    </div>
                    <div *ngIf="kyc.status == 1">
                        Your kyc is approved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>

