<div>
  <div class="title1">
    <h1>{{"recent apk"|translate}}</h1>
  </div>

  <div fxLayout="column" fxLayoutAlign="start start" class="downlaodBody" *ngIf="lastestApk">

    <mat-card class="example-card" (click)="openTest()">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{"lastRelease" | translate }}</mat-card-title>
          <mat-card-subtitle>{{lastestApk ? lastestApk.versionNumber : ''}}</mat-card-subtitle>
          <mat-card-subtitle>{{lastestApk ? lastestApk.issueDate : ''}}</mat-card-subtitle>
          <img mat-card-sm-image src="/assets/apk.png" style="float: right;">
        </mat-card-title-group>
      </mat-card-header>
      <h2>
        {{"whatsnew" | translate}}
      </h2>
      <mat-card-content>
        <ul>
          <li *ngFor="let str of lastestApk.features">{{ str }}</li>
        </ul>

      </mat-card-content>
      <mat-card-actions>
        <a href="https://exchangily.com/download/latest.apk">
          <button class="button button2">{{"downloadApk" | translate}}</button>
        </a>

      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" *ngIf="testApk && (clickCount>= 5)">
      <mat-card-header>

        <mat-card-title-group>
          <mat-card-title>{{"candidate" | translate}}</mat-card-title>
          <mat-card-subtitle>{{testApk.versionNumber}}</mat-card-subtitle>
          <mat-card-subtitle>{{testApk.issueDate}}</mat-card-subtitle>
          <img mat-card-sm-image src="/assets/apkTest.png" style="float: right;">
        </mat-card-title-group>

      </mat-card-header>
      <h2>
        {{"whatsnew" | translate}}
      </h2>
      <mat-card-content>
        <ul>
          <li *ngFor="let str of testApk.features">{{ str }}</li>
        </ul>

      </mat-card-content>
      <mat-card-actions>
        <a href="https://exchangily.com/download/test.apk" download>
          <button class="button button2">{{"downloadApk" | translate}}</button>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>
</div>


<!-- <div class="title1">
  <h1>{{"older apk"|translate}}</h1>
</div>

<mat-grid-list *ngIf="items" [cols]="breakpoint" rowHeight="2:2">

  <mat-card *ngFor="let item of items"  class="example-card"  >
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{item.versionName}}</mat-card-title>
        <mat-card-subtitle>{{lastestApk.issueDate}}</mat-card-subtitle>
        <img mat-card-sm-image src="/assets/images/apk.png" style="float: right;">
      </mat-card-title-group>
    </mat-card-header>
    <h2>
      {{"whatsnew" | translate}}
    </h2>
    <mat-card-content>
      <ul>
        <li *ngFor="let str of item.features">{{ str }}</li>
      </ul>
  
    </mat-card-content>
    <mat-card-actions>
      <a [href]="'https://biswap.com/download/' + item.versionName + '.apk'">
        <button class="button button2">{{"downloadApk" | translate}}</button>
        </a>
      
    </mat-card-actions>
  </mat-card>



</mat-grid-list> -->