.referral-info {
  background-color: white;
  display: block;
  font-size: small;

  margin: 0 0 4em 0;
  width: 100%;

  &.no-margin {
    margin: 0;
    width: calc(100% - 4em);
  }

  &__section {
    margin: 2.5em 0;
    
    h3 {
      margin: 0 0 .5em 0;
    }
  }

  &__summary {
    margin-top: 0 !important;
  }

  &__points {
    h4 {
      margin-left: 1em;
    }
  }

  &__rules {
    .bind p {
      margin: 0;
    }
  }

  &__code {
    margin-top: 1.5em;
    &__code, &__link {
      margin: 1em 0;
    }

    &__link {
      input {
        width: 24em;
        font-size: small;
        margin-right: 0.5em;
      }
    }

    &__code {
      input {
        width: 8em;
        font-size: small;
        margin-right: 0.5em;
      }
    }

    .copy-message {
      color: #73D65A;
      font-size: .8em;
      transition: all ease-in-out .5s;
    }
  }
}

.button {
  font-size: x-small;
}
