<section class="referral-info" ngClass.lt-md="no-margin"> 

  <div class="referral-info__section referral-info__summary text-justify">
    <p>{{ 'Account.Referrals.Page.Summary.Content1' | translate }}</p>
    <p>{{ 'Account.Referrals.Page.Summary.Content2' | translate }}</p>
  </div>

  <div class="referral-info__section referral-info__points">
    <h3>{{ 'Account.Referrals.Page.Points.Subtitle' | translate }}</h3>
    <p class="inline-block text-justify">{{ 'Account.Referrals.Page.Points.Desc' | translate }}</p>
    <h4 class="inline-block color-primary">{{ appUser.pointsEarned }}</h4>
  </div>

  <div class="referral-info__section referral-info__code">
    <div class="referral-info__code__link text-justify">
      <p>{{ 'Account.Referrals.Page.ReferralCode.Link.Desc' | translate }}</p>
      <input class="form-input__text" type="text" readonly="true" value="https://exchangily.com/login/signup/{{appUser.referralCode}}" #referralLink>
      <button (cbOnSuccess)="onCopiedSuccessfully('link')" [ngxClipboard]="referralLink" class="next-button form-input__button button secondary">{{ 'Account.Referrals.Page.ReferralCode.Link.Button' | translate }}</button> 
      <p class="copy-message" [hidden]="!showCopySuccess.link">Copied Successfully!</p>
    </div>

    <div class="referral-info__code__code text-justify">
      <p>{{ 'Account.Referrals.Page.ReferralCode.Code.Desc' | translate }}</p>
      <input class="form-input__text" type="text" readonly="true" [value]="appUser.referralCode" #referralCode>

      <button (cbOnSuccess)="onCopiedSuccessfully('code')" [ngxClipboard]="referralCode" class="next-button form-input__button button secondary">{{ 'Account.Referrals.Page.ReferralCode.Code.Button' | translate }}</button> 
      <p class="copy-message" [hidden]="!showCopySuccess.code">Copied Successfully!</p>
    </div>
  </div>

  <div class="referral-info__section referral-info__rules text-justify">
    <h3>{{ 'Account.Referrals.Page.Rules.Subtitle' | translate }}</h3>
    <div class="bind text-justify">
      <p>{{ 'Account.Referrals.Page.Rules.Content1' | translate }}</p>
      <p>{{ 'Account.Referrals.Page.Rules.Content2' | translate }}</p>
    </div>
    <p>{{ 'Account.Referrals.Page.Rules.Content3' | translate }}</p>
    <p>{{ 'Account.Referrals.Page.Rules.Content4' | translate }}</p>
    <p>{{ 'Account.Referrals.Page.Rules.Content5' | translate }}</p>
    <p>{{ 'Account.Referrals.Page.Rules.Content6' | translate }}</p>
  </div>

  <!-- <div class="referral-info__discount"> -->
  <!--   <h3>{{ 'Account.Referrals.Page.Discount.Subtitle' | translate }}</h3> -->
  <!--   <p>{{ 'Account.Referrals.Page.Discount.Desc' | translate }}</p> -->
  <!-- </div> -->

  <div class="referral-info__section referral-info__children">
    <div class="referral-info__child text-justify" fxLayout="row" fxLayoutGap="2em">
      <p fxFlex="33%" class="bold">{{ 'Account.Referrals.Page.ReferralOrderList.ListFields.Field1' | translate }}</p>
      <p fxFlex="33%" class="bold">{{ 'Account.Make Orders.OrderForm.Page1.DropDown5' | translate }}</p>
      <p fxFlex="33%" class="bold">{{ 'Account.Referrals.Page.ReferralOrderList.ListFields.Field4' | translate }}</p>
    </div>

    <ng-container *ngIf="children && children.length > 0">
      <div *ngFor="let child of children" class="referral-info__child" fxLayout="row" fxLayoutGap="2em">
        <p fxFlex="30%">{{ child.userId }}</p>
        <p fxFlex="30%">{{ child.parentDiscount }}</p>
        <p fxFlex="30%">{{ child.totalTokensPurchased }}</p>
      </div> 
    </ng-container>
  </div>
</section>
