<div class="container text-white py-3" *ngIf="order">
    <div class="title div-center">
        <H3>{{"Order details & payment"|translate}}</H3>
    </div>
    <div class="row my-2">
        <div class="col leftar col-2 right">{{"Order #"|translate}}:</div>
        <div class="col col-10"> {{id}}</div>
    </div>
    <div class="row my-2">
        <div class="col leftar col-2 right">{{"Order Type"|translate}}:</div>
        <div class="col col-10">{{order.items[0].buy ? 'Buy' : 'Sell' | translate}} {{order.items[0].title}}</div>
    </div>

    <div class="row my-2">
        <div class="col leftar col-2 right">{{"Price"|translate}}:</div>
        <div class="col col-10">{{order.items[0].price}} {{order.items[0].currency}} / {{order.items[0].title}}</div>
    </div>
    <div class="row my-2">
        <div class="col leftar col-2 right">{{"Quantity"|translate}}:</div>
        <div class="col col-10">{{order.items[0].quantity}}</div>
    </div>

    <div class="row my-2">
        <div class="col leftar col-2 right">{{"Total"|translate}}:</div>
        <div class="col col-10">{{order.totalToPay}} {{order.currency}}</div>
    </div>

    <div class="row my-2">
        <div class="col leftar col-2 right">{{"Payment Method"|translate}}:</div>
        <div class="col col-10">
            {{order.paymentMethod == 'ACH2' ? 'ACH' : order.paymentMethod}}
            <span *ngIf="order.paymentMethod == 'CashApp'">
                ({{memberAccountName}})
            </span>
            <span *ngIf="order.paymentMethod == 'ACH'" (click)="decrypt(decryptACHAccountModalTemplate)">
                (******)
            </span>     
            <span *ngIf="order.paymentMethod == 'ACH2'" (click)="decrypt(ACHAccountModalTemplate)" class="link">
                ({{'Show details' | translate}})
            </span>                    
        </div>
    </div>

    <div class="row my-2">
        <div class="col leftar col-2 right">{{"Address"|translate}}:</div>
        <div class="col col-10">{{order.name}}</div>
    </div>

    <div class="row my-2">
        <div class="col leftar col-2 right">{{"Note"|translate}}:</div>
        <div class="col col-10">{{order.note}}</div>
    </div>

    <div *ngIf="order.paymentStatus==0" class="text-center d-flex justify-content-between">

        <div>
            <div class="row">
                <div class="col col-4">
                    <div>
                        <button class="btn btn-gradient text-white py-2 px-5" type="button" (click)="payByACH2(achModalTemplate2)"> {{'Pay by ACH' | translate}} </button>
                        <div class="notes color-warning">
                            {{"ACHNote"|translate}}
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div>
                        <button class="btn btn-gradient text-white py-2 px-5" type="button" (click)="payByEpay()"> {{'Pay by Epay' | translate}} </button>
                        <div class="notes color-warning">
                            {{"EpayNote"|translate}}
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div>
                        <button class="btn btn-gradient text-white py-2 px-5" type="button" (click)="payByCashApp(cashAppModalTemplate)"> {{'Pay by Cash App' | translate}} </button>
                        <div class="text-success pt-2">
                            {{'Not in Cash App yet? click' | translate}} <a target="_blank" href="https://cash.app/app/LGPXWPX">https://cash.app/app/LGPXWPX</a> {{'to register' | translate}}
                        </div>
                        <div class="notes color-warning">
                            {{"CashAppNote"|translate}}
                        </div>           
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div>
            <button class="btn btn-gradient text-white py-2 px-5" type="button" (click)="payByACH(achModalTemplate)"> {{'Pay by ACH' | translate}} </button>
            <div class="notes color-warning">
                {{"ACHNote"|translate}}
            </div>
        </div>
        -->


    </div>

    <div *ngIf="order.paymentStatus==1 || order.paymentStatus==2" class="text-center">
        {{"This order was paid"| translate}}.
    </div>
</div>


<ng-template #cashAppModalTemplate>
    <div class="modal-bg-grey">
        <div class="modal-header">
            <h4 class="modal-title text-center">{{'Pay by Cash App' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="exampleInputEmail1">{{'Cash App Account Name' | translate}}</label>
                  <input type="text" [(ngModel)]="accountName" class="form-control" id="inputAccountName" aria-describedby="emailHelp" placeholder="Enter Account Name">
                  <small id="emailHelp" class="form-text text-muted">
                      {{'Not in Cash App yet? click' | translate}} <a target="_blank" href="https://cash.app/app/LGPXWPX">https://cash.app/app/LGPXWPX</a> 
                      {{'to register' | translate}}</small>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">{{'Amount' | translate}}: {{order.totalToPay}} {{order.currency | translate}}</label>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">{{'Receiving Address' | translate}}: {{order.name}}</label>
            </div>  
            
            <div class="text-center">
                <img src="/assets/exchangily.png">
                <div>
                    {{'Scan to pay with Cash App, or pay to $exchangily directly with Cash App. Please click "Marked as paid" button after payment finished' | translate}}
                </div>
                <div class="pt-2 color-warning">
                    {{"CashAppRequiredNote"|translate}}{{order._id}}
                </div>                
            </div>
          </div>   
          
          <div class="modal-footer  justify-content-center">
            <div>
                <div class="text-center" *ngIf="goPayStep == 1 || goPayStep == 2">
                    <!--
                    <button *ngIf="goPayStep == 1" class="btn btn-gradient text-white py-2 px-5" type="button" (click)="confirmCashAppPay()" [disabled]="!accountName || !receivingAddress"> 
                        {{'Confirm and Pay' | translate}} 
                    </button>
                    -->
                    <button (click)="changePaymentStatus(1)" mat-raised-button color="primary">
                        {{'Marked as paid' | translate}}
                    </button>                       
                </div>

            </div>

            <div *ngIf="goPayStep == 3">
                {{'You finshed your payment' | translate}}
            </div>         
        </div>          
    </div>

</ng-template>


<ng-template #achModalTemplate>
    <div class="modal-bg-grey">
        <div class="modal-header">
            <h4 class="modal-title text-center">{{'Pay by ACH' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="exampleInputRoutingNumber">{{'Routing number' | translate}}</label>
                  <input type="text" [(ngModel)]="routingNumber" class="form-control" id="inputRoutingNumber" aria-describedby="emailHelp" placeholder="{{'Enter routing number' | translate}}">
              </div>
              <div class="form-group">
                <label for="exampleInputAccountNumber">{{'Account number' | translate}}</label>
                <input type="text" [(ngModel)]="accountNumber" class="form-control" id="inputAccountNumber" aria-describedby="emailHelp" placeholder="{{'Enter account number' | translate}}">
              </div>                        
              <div class="form-group">
                  <label for="exampleInputEmail1">{{'Amount' | translate}}: {{order.totalToPay}} {{order.currency | translate}}</label>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">{{'Receiving Address' | translate}}: {{order.name}}</label>
            </div> 
            
            <div class="form-check">
                <input type="checkbox" [checked]="achChecked" (change)="achCheckedChange($event)" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">{{'I have the permission for this withdraw' | translate}}</label>
              </div>            
          </div>   
          
          <div class="modal-footer  justify-content-center">
            <div>
                <div class="text-center">
                    <button [disabled]="!achChecked" class="btn btn-gradient text-white py-2 px-5" [ngClass]="achChecked ? '' : 'btn-disabled'" type="button" (click)="confirmACHPay()" [disabled]="!accountName || !receivingAddress"> 
                        {{'Confirm and Pay' | translate}} 
                    </button>                     
                </div>
            </div>
       
        </div>          
    </div>

</ng-template>




<ng-template #achModalTemplate2>
    <div class="modal-bg-grey">
        <div class="modal-header">
            <h4 class="modal-title text-center">{{'Pay by ACH' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div *ngIf="goPayStep == 1">
                  <div class="row">
                      <div class="col col-6">
                        <div class="form-group">
                            <label for="exampleInputRoutingNumber">{{'Customer Name' | translate}}(<span class="alert-text">*</span>)</label>
                            <input type="text" [(ngModel)]="customerName" class="form-control" id="inputCustomerName" aria-describedby="emailHelp" placeholder="{{'Enter customer name' | translate}}">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputAccountNumber">{{'Company Name' | translate}}</label>
                          <input type="text" [(ngModel)]="companyName" class="form-control" id="inputCompanyName" aria-describedby="emailHelp" placeholder="{{'Enter company name' | translate}}">
                        </div>   
                        
                        <div class="form-group">
                            <label for="exampleInputAccountNumber">{{'Email' | translate}}(<span class="alert-text">*</span>)</label>
                            <input type="text" [(ngModel)]="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="{{'Enter email' | translate}}">
                        </div>   

                        <div class="form-group">
                            <label for="exampleInputAccountNumber">{{'Confirm Email' | translate}}(<span class="alert-text">*</span>)</label>
                            <input type="text" [(ngModel)]="email2" class="form-control" id="inputEmail2" aria-describedby="emailHelp" placeholder="{{'Confirm Email' | translate}}">
                        </div>   
                        <div class="form-group alert-text" *ngIf="email != email2">
                            <label for="exampleInputAccountNumber">{{'Email not the same' | translate}}</label>
                        </div>                                               
                        <div class="form-group">
                            <label for="exampleInputAccountNumber">{{'Phone' | translate}}</label>
                            <input type="text" [(ngModel)]="phone" class="form-control" id="inputPhone" aria-describedby="emailHelp" placeholder="{{'Enter phone' | translate}}">
                        </div>   
                        <div class="form-group">
                            <label for="exampleInputAccountNumber">{{'Account Numeber' | translate}}(<span class="alert-text">*</span>)</label>
                            <input type="text" [(ngModel)]="accountNumber" class="form-control" id="inputAccountNumber" aria-describedby="emailHelp" placeholder="{{'Enter account number' | translate}}">
                        </div>                                                                     

                        

                      </div>

                      <div class="col col-6">
                        <div class="form-group">
                            <label for="exampleInputAccountNumber">{{'Billing Address' | translate}}</label>
                            <input type="text" [(ngModel)]="billingAddress" class="form-control" id="inputBillingAddress" aria-describedby="emailHelp" placeholder="{{'Enter billing address' | translate}}">
                          </div>    
                          <div class="form-group">
                            <label for="exampleInputAccountNumber">{{'City' | translate}}</label>
                            <input type="text" [(ngModel)]="city" class="form-control" id="inputCity" aria-describedby="emailHelp" placeholder="{{'Enter city' | translate}}">
                          </div>   
                          <div class="form-group">
                            <label for="exampleInputAccountNumber">{{'Country' | translate}}</label>
                            <input type="text" [(ngModel)]="country" class="form-control" id="inputCountry" aria-describedby="emailHelp" placeholder="{{'Enter country' | translate}}">
                          </div>               
                          <div class="form-group">
                            <label for="exampleInputAccountNumber">{{'State' | translate}}</label>
                            <input type="text" [(ngModel)]="state" class="form-control" id="inputState" aria-describedby="emailHelp" placeholder="{{'Enter state' | translate}}">
                          </div>   
                          <div class="form-group">
                            <label for="exampleInputAccountNumber">{{'Zip' | translate}}</label>
                            <input type="text" [(ngModel)]="zip" class="form-control" id="inputZip" aria-describedby="emailHelp" placeholder="{{'Enter zip' | translate}}">
                          </div>   
                          <div class="form-group">
                              <div>
                                <label for="exampleInputEmail1">{{'Receiving Address' | translate}}: <small>{{order.name}}</small></label>
                              </div>
                            
                              <div>
                                <label for="exampleInputEmail1">{{'Amount' | translate}}: {{order.totalToPay}} {{order.currency | translate}}</label>
                              </div>
                            
                              <div>
                                <label for="exampleInputEmail1">{{'Quantity' | translate}}: {{order.items[0].quantity}} {{order.items[0].title | translate}}</label>
                              </div>
                            

                        </div>                          
                    </div>                      
                  </div>
              </div>
              <div *ngIf="goPayStep == 2" class="text-center">
                {{'ACHConfirmationNote' | translate}}
              </div>

            
          
          </div>   
          
          <div class="modal-footer  justify-content-center" *ngIf="goPayStep == 1">
            <div>
                <div class="text-center">
                    <button class="btn btn-gradient text-white py-2 px-5" [ngClass]="achChecked ? '' : 'btn-disabled'" type="button" (click)="confirmACHPay2()" 
                    [disabled]="!customerName || !receivingAddress || email != email2"> 
                        {{'Confirm and Pay' | translate}} 
                    </button>                     
                </div>
            </div>
        </div>          
    </div>

</ng-template>





<ng-template #decryptACHAccountModalTemplate>
    <div class="modal-bg-grey">
        <div class="modal-header">
            <h4 class="modal-title text-center">{{'Decrypt ACH Account' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputRoutingNumber">{{'Private Key' | translate}}</label>
                <input type="password" [(ngModel)]="privateKey" class="form-control" id="inputprivateKey" aria-describedby="privateKey" placeholder="{{'Enter private key' | translate}}">
            </div>

            <div *ngIf="achAccountBundle">
                <div>
                    {{'Routing number' | translate}}: {{achAccountBundle.routingNumber}}
                </div>
                <div>
                    {{'Account number' | translate}}: {{achAccountBundle.accountNumber}}
                </div>                    
            </div>            
        </div>

        <div class="modal-footer  justify-content-center">
            <div>
                <div class="text-center">
                    <button [disabled]="!achChecked" class="btn btn-gradient text-white py-2 px-5" [ngClass]="achChecked ? '' : 'btn-disabled'" type="button" (click)="decryptAccount()" [disabled]="!accountName || !receivingAddress"> 
                        {{'Decrypt' | translate}} 
                    </button>                     
                </div>
            </div>
       
        </div>          

    </div>
</ng-template>


<ng-template #ACHAccountModalTemplate>
    <div class="modal-bg-grey">
        <div class="modal-header">
            <h4 class="modal-title text-center">{{'Show ACH Account details' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">


            <div *ngIf="achAccount2">
                <div>
                    {{'Customer Name' | translate}}: {{achAccount2.customerName}}
                </div>
                <div>
                    {{'Company Name' | translate}}: {{achAccount2.companyName}}
                </div>   
                <div>
                    {{'Billing Address' | translate}}: {{achAccount2.billingAddress}}
                </div>
                <div>
                    {{'City' | translate}}: {{achAccount2.city}}
                </div>
                <div>
                    {{'Country' | translate}}: {{achAccount2.country}}
                </div>   
                <div>
                    {{'State' | translate}}: {{achAccount2.state}}
                </div> 
                <div>
                    {{'Zip' | translate}}: {{achAccount2.zip}}
                </div>
                <div>
                    {{'Email' | translate}}: {{achAccount2.email}}
                </div>   
                <div>
                    {{'Phone' | translate}}: {{achAccount2.phone}}
                </div>  
                <div>
                    {{'Account Number' | translate}}: {{achAccount2.accountNumber}}
                </div>
                <div>
                    {{'Receiving Address' | translate}}: {{achAccount2.receivingAddress}}
                </div> 
                <div>
                    {{'Amount' | translate}}: {{achAccount2.amount}}
                </div> 
                <div>
                    {{'Quantity' | translate}}: {{achAccount2.quantity}}
                </div>                                 
            </div>            
        </div>
        

    </div>
</ng-template>
