.container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3c3c5e;
}

.title {
    margin: 1em;
    margin-bottom: 1.3em;
    width: 100%;
}

.leftar {
    padding-left: 2em;
}

.notes {
    margin: 1em;
}

.btn-disabled {
    background-color: grey;
}

.link {
    color: hotpink;
    cursor: pointer;
    text-decoration: underline;
}

.alert-text {
    color: red;
}