<div class="container">
    <div class="row apair header header-tiny apair-no-margin">

        <div class="col-5">
            {{"Address" | translate}} {{currentCoin.name}}
        </div>
        <div class="col-6">
            {{"Private Key" | translate}}
        </div>
    </div>
    <ng-container *ngFor="let addr of addsPagination">
        <div class="row apair dataline apair-no-margin">
            <div class="col-5">
                <small>{{addr.address}}</small>
            </div>
            <div class="col-6">
                <small>{{addr.privateKey}}</small>
            </div>
        </div>
    </ng-container>
    <div *ngIf="addsArraylength > pageSize">
        <mat-paginator [length]="addsArraylength" [pageSize]="pageSize" (page)="pageChanged($event)"></mat-paginator>
    </div>

</div>