<div class="pair-panel">
  <div class="panel-header">
    <div class="panel-title">Markets</div>
    <div class="panel-subtitle">{{'Search pair' | translate}}</div>
  </div>

  <div class="menu w-100">
    <div class="menuitem hand smallfont" [class.selected]="selectedcat === 'DUSD'" (click)="selectCat('DUSD');">DUSD</div>
    <div class="menuitem hand smallfont" [class.selected]="selectedcat === 'USDT'" (click)="selectCat('USDT');">USDT</div>
    <div class="menuitem hand smallfont" [class.selected]="selectedcat === 'USDC'" (click)="selectCat('USDC');">USDC</div>
  </div>
  <div class="menu w-100">
    <div class="menuitem hand smallfont" [class.selected]="selectedcat === 'BTC'" (click)="selectCat('BTC');">BTC</div>
    <span class="menuitem hand smallfont" [class.selected]="selectedcat === 'ETH'" (click)="selectCat('ETH');">ETH</span>
    <div class="menuitem hand smallfont" [class.selected]="selectedcat === 'EXG'" (click)="selectCat('EXG');">EXG</div>
    <div class="menuitem hand smallfont" [class.selected]="selectedcat === 'BNB'" (click)="selectCat('BNB');">BSC</div>
  </div>
  <div class="menu w-100">
    <div class="menuitem hand smallfont" [class.selected]="selectedcat === 'FAB'" (click)="selectCat('FAB');">FAB</div>
    <div class="menuitem hand smallfont" [class.selected]="selectedcat === 'DCAD'" (click)="selectCat('DCAD');">DCAD</div>
    <span class="menuitem hand smallfont" [class.selected]="selectedcat === 'DTWD'" (click)="selectCat('DTWD');">DTWD</span>
  </div>

  <div class="input-group sarcharea px-2">
    <input type="text" class="form-control searchbox" (keydown.enter)="setSelect();false" [(ngModel)]="searchText" placeholder="{{'Search pair' | translate}}">
  </div>

  <mat-list class="scroll-bar price-list">
    <mat-list-item class="header apair">
      <div class="pair-row header-row">
        <div class="pair-col pair-name sortable" (click)="changeSort('symbol', 'string')">
          {{'Pair'|translate}}
          @if (sortAscPair == 1) { <span>&uarr;</span> }
          @if (sortAscPair == -1) { <span>&darr;</span> }
        </div>
        <div class="pair-col pair-price sortable" (click)="changeSort('price', 'number')">
          {{'LatestPrice'|translate}}
          @if (sortAscPrice == 1) { <span>&uarr;</span> }
          @if (sortAscPrice == -1) { <span>&darr;</span> }
        </div>
        <div class="pair-col pair-change sortable" (click)="changeSort('change24h', 'number')">
          {{'H24Change'|translate}}
          @if (sortAscChange == 1) { <span>&uarr;</span> }
          @if (sortAscChange == -1) { <span>&darr;</span> }
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
    @for (pr of prices | callback: filterPrice : selectedcat : searchText | sortByField : sortField : sortFieldType : sortAsc; track pr; let i = $index) {
      <mat-list-item class="apair dataline" [class.selectedpair]="selectedpair === pr.symbol">
        <div class="pair-row" (click)="loadTradePair(pr.symbol)">
          <div class="pair-col pair-name">{{formatSymbol(pr.symbol)}}</div>
          <div class="pair-col pair-price">{{toDecimal(pr.price, 5)}}</div>
          <div class="pair-col pair-change" [class.redcolor]="pr.change24h<0" [class.greencolor]="pr.change24h>=0">
            {{pr.change24h | number:'.2'}}%
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    }
  </mat-list>
</div>
