.account-details {
  background-color: white;
  display: block;
  padding: 2em;

  margin: 2em auto;
  min-height: 100vh;
  width: calc(100% - 12em);

  &.no-margin {
    margin: 0;
    width: calc(100% - 4em);
  }

  h2 {
    margin: 0;
  }
}
