<form class="form-input account-details" ngClass.lt-md="no-margin" name="userModifyForm" (ngSubmit)="submit()" [formGroup]="userModifyForm" #formDir="ngForm">
  <h2>{{ 'Header.Navigation.Account.AccountDetails' | translate }}</h2> 
  <div class="">
    <label class="form-input__text__label">{{ 'Form.History' | translate }}</label>
    <p>Not Available</p>
  </div>

  <ng-container *ngIf="isAdmin">
    <h4>You better know what you're doing before using this...</h4>
    
    <label for="email" required class="form-input__text__label">{{ 'Form.Email' | translate }}</label>
    <input type="email" name="email" formControlName="email" class="form-input__text-block">
    <button [disabled]="!isAdmin" type="submit">UPGRADE USER</button>
    <p *ngIf="errorMessage" class="form-input__error">{{ errorMessage }}</p>
  </ng-container>
  
</form>
