
<div class="d-flex justify-content-center main-container">
    <table>
        <tr>
            <td class="text-right">
                {{'Token type' | translate}}: 
            </td>
            <td>
                {{'FRC20 token' | translate}}
                
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td class="text-right">
                {{'Description' | translate}}: 
            </td>
            <td>
                <div>
                    {{'The total supply is created when the contract is deployed, so that the supply is fixed and will never be issued.' | translate}}
                </div>
                <div>
                    {{'Learn more about ' | translate}}<a href="/issue/frc20" target="_blank">{{'FRC20 token' | translate}}</a>
                </div>
                 
                
            </td>
        </tr>        
        <tr>
            <td class="text-right">
                {{'Token name' | translate}}: 
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="" [(ngModel)]="name">
                  </mat-form-field>
            </td>
        </tr>  
        <tr>
            <td class="text-right">
                {{'Token symbol' | translate}}: 
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="" [(ngModel)]="symbol">
                  </mat-form-field>
            </td>
        </tr>    
        <tr>
            <td class="text-right">
                {{'Total supply' | translate}}: 
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="" [(ngModel)]="totalSupply">
                  </mat-form-field>
            </td>
        </tr>   
       
        <tr>
            <td class="text-right">
                {{'Token decimals' | translate}}: 
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="" [(ngModel)]="decimals">
                  </mat-form-field>
            </td>
        </tr>  

        <tr>
            <td class="text-right">
                {{'Fee total' | translate}}: 
            </td>
            <td>
                50.4FAB
            </td>
        </tr>   

        <tr *ngIf="errMsg">
            <td class="text-right">
                {{'Error' | translate}}: 
            </td>
            <td>
                {{errMsg}}
            </td>            
        </tr>        
    </table>

</div>
<div class="main-container text-center py-3">
    <button class="btn btn-gradient text-white py-2 px-5 btn-lg-fixed-width" (click)="confirm()"> {{'Confirm' | translate }} </button>
</div>
<div class="main-container text-center py-3" *ngIf="txs && txs.length > 0">
    <app-issue-token-history [txs]="txs"></app-issue-token-history>
</div>


<pin-number-modal #pinModal (confirmedPin)="onConfirmedPin($event)"></pin-number-modal>
<!--
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">

        <ng-template matStepLabel>Token type</ng-template>

        <div class="d-flex justify-content-around">
            <mat-radio-button value="1">固定总量FRC-20</mat-radio-button>
            <div>
                在合约部署时创建总供应，使供应量固定不变，永不增发。了解更多固定总量
                <a href="/issue/frc20" target="_blank">FRC20代币</a>
            </div>
        </div>
        

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <ng-template matStepLabel>Fee summary</ng-template>
        <p>
            to: 50FAB
        </p>
        <p>
            transaction fee: 0.4FAB
        </p>
        <p>
            total: 50.4FAB
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
-->