.img-responsive {
    width: 100%;
    height: auto;
}

.img-2 {
    height: 325px;
}

a.btn {
    width: 250px;
    padding: 15px 25px 15px 25px;
    font-family: Arial;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg,#2F9DB4 0,#3AB7B8 37.47%,#76DBC7 100%);
    box-shadow: 0 0 30px 0 #5E9CB2;
    border-radius: 30px;
  }
  
  a.btn:hover {
    background: linear-gradient(90deg,#3F9DB4 0,#4AB7B8 37.47%,#86DBC7 100%);
    color: white;
  }

  .container-landing {
    max-width: 768px;
  }

  .text1 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1rem;
  }
