:host {
    color: #383850 !important;
}


.announcementsPage{
    margin-bottom: 60px;

    .carousel{
        max-height: 400px;
        overflow: hidden;
    }

    .select{
        margin-top: 20px;
    }

    .newsBody{
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .Articles{
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .media{
        margin-bottom: 30px;
        width: 100%;
    }

    .media img{
        width: 200px;
        height: 200px;
    }
    .articalBoty{
        color:#ddd
    }
}
