.icon {
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    margin-right: 10px;
}

.icon-alipay {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR…VQJeCTxtArQJUYcOpXJZlGnSb9X+PEovJvtKkAqgBG2/EfljuZMPvXaGcAAAAASUVORK5CYII=) no-repeat;
    background-size: 100%;
}