<div bsModal #transactionDetailModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 text-dark">{{"Wallet Transaction History"|translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="item">
                <div class="py-3">
                    <div *ngIf="item.to" class="text-muted pb-3">
                        To: {{getTo(item)}}
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">{{'Chain' | translate}}</th>
                            <th scope="col">{{'txid' | translate}}</th>
                            <th scope="col">{{'status' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody class="text-muted">
                        <tr *ngFor="let tx of item.transactions">
                            <td><small>{{tx.chain}}</small></td>
                            <td>
                                <small>
                                    <a target="_blank" href="{{getTxUrl(tx)}}" class="tx-link">
                                        {{tx.transactionId}}
                                    </a>

                                </small>
                            </td>
                            <td><small>{{tx.status}}</small></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
