<div bsModal #depositModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form [formGroup]="depositAmountForm" (ngSubmit)="onSubmit()" *ngIf="coin">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 text-dark">{{'Deposit' | translate}} {{coin.name}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">

                    <div class="text-danger" *ngIf="alertMsg && (!coin || (coin.name == 'EXG'))">
                        {{alertMsg | translate}}
                    </div>
                    <div class="text-muted">
                        {{'Your balance' | translate}}: {{coin.balance}}
                    </div>
                    <div class="form-group">
                        <label for="inputSendTo" class="text-muted">{{'Deposit amount' | translate }}</label>
                        <input type="number" class="form-control" id="inputDepositAmount" (input)="onTextChange($event.target.value)" formControlName="depositAmount" aria-describedby="emailHelp" placeholder="0.0000">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col text-dark">
                                {{'Transaction fee' | translate }} </div>
                            <div class="col text-muted">
                                <div class="pull-right">
                                    {{transFee}} {{tranFeeUnit}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-dark">
                                {{'Kanban Transaction fee' | translate }} </div>
                            <div class="col text-muted">
                                <div class="pull-right">
                                    {{kanbanTransFee}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col text-dark">
                                {{'Transaction fee advanced' | translate }}
                            </div>
                            <div class="col text-muted">
                                <div class="pull-right">
                                    <mat-slide-toggle formControlName="gasFeeCustomChecked"></mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="depositAmountForm.get('gasFeeCustomChecked').value">
                        <div *ngIf="coin.name === 'ETH' || coin.tokenType === 'ETH' || coin.tokenType === 'FAB'">
                            <div class="form-group">
                                <label for="gasPrice" class="text-dark">{{'Gas Price(LIU)' | translate }}</label>
                                <input type="text" class="form-control" id="inputGasPrice" (input)="onTextChange($event.target.value)" formControlName="gasPrice" placeholder="0">
                                <small class="text-muted">{{'1 LIU = 10^(-8) FAB' | translate }}</small>
                            </div>
                            <div class="form-group">
                                <label for="gasPrice" class="text-dark">{{'Gas Limit' | translate }}</label>
                                <input type="text" class="form-control" id="inputGasLimit" (input)="onTextChange($event.target.value)" formControlName="gasLimit" placeholder="0">
                            </div>
                        </div>
                        <div *ngIf="
                        coin.name === 'BTC' 
                        || coin.name === 'FAB' 
                        || coin.tokenType === 'FAB' 
                        || coin.name === 'LTC' 
                        || coin.name === 'BCH' 
                        || coin.name === 'DOGE'
                        ">
                            <div class="form-group">
                                <label for="gasPrice" class="text-dark">{{'Satoshis/byte' | translate }}</label>
                                <input type="text" class="form-control" id="inputSatoshisPerByte" (input)="onTextChange($event.target.value)" formControlName="satoshisPerBytes" placeholder="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gasPrice" class="text-dark">{{'Kanban Gas Price(WEI)' | translate }}</label>
                            <input type="text" class="form-control" id="inputKanbanGasPrice" (input)="onTextChange($event.target.value)" formControlName="kanbanGasPrice" placeholder="0">
                            <small class="text-muted">{{'1 WEI = 10^(-18) FAB' | translate }}</small>
                        </div>
                        <div class="form-group">
                            <label for="gasPrice" class="text-dark">{{'Kanban Gas Limit' | translate }}</label>
                            <input type="text" class="form-control" id="inputKanbanGasLimit" (input)="onTextChange($event.target.value)" formControlName="kanbanGasLimit" placeholder="0">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="text-info">
                        {{'DepositNote' | translate}}
                    </div>
                    <div class="pull-left">
                        <button class="btn btn-gradient text-white" type="submit" [disabled]="disabled"> {{'Confirm' | translate }} </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>