<div bsModal #depositModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form [formGroup]="depositAmountForm" (ngSubmit)="onSubmit()" *ngIf="coin">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 text-dark">Deposit {{coin.name}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="text-muted">
                        Your balance: {{coin.balance}}
                    </div>
                    <div class="form-group">
                        <label for="inputSendTo" class="text-muted">Deposit amount</label>
                        <input type="number" class="form-control" id="inputDepositAmount" (input)="onTextChange($event.target.value)" formControlName="depositAmount" aria-describedby="emailHelp" placeholder="0.0000">
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col text-dark">
                                Transaction fee </div>
                            <div class="col text-muted">
                                <div class="pull-right">
                                    {{transFee}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-dark">
                                Kanban Transaction fee </div>
                            <div class="col text-muted">
                                <div class="pull-right">
                                    {{kanbanTransFee}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col text-dark">
                                Transaction fee advanced
                            </div>
                            <div class="col text-muted">
                                <div class="pull-right">
                                    <mat-slide-toggle formControlName="gasFeeCustomChecked"></mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="depositAmountForm.get('gasFeeCustomChecked').value">
                        <div *ngIf="coin.name === 'ETH' || 
                        coin.tokenType === 'ETH' ||
                        coin.tokenType === 'FAB'">
                            <div class="form-group">
                                <label for="gasPrice" class="text-dark">Gas Price(wei)</label>
                                <input type="text" class="form-control" id="inputGasPrice" (input)="onTextChange($event.target.value)" formControlName="gasPrice" placeholder="0">
                            </div>
                            <div class="form-group">
                                <label for="gasPrice" class="text-dark">Gas Limit</label>
                                <input type="text" class="form-control" id="inputGasLimit" (input)="onTextChange($event.target.value)" formControlName="gasLimit" placeholder="0">
                            </div>
                        </div>
                        <div *ngIf="coin.name === 'BTC' || coin.name === 'FAB' || coin.tokenType === 'FAB'">
                            <div class="form-group">
                                <label for="gasPrice" class="text-dark">Satoshis/byte</label>
                                <input type="text" class="form-control" id="inputSatoshisPerByte" (input)="onTextChange($event.target.value)" formControlName="satoshisPerBytes" placeholder="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gasPrice" class="text-dark">Kanban Gas Price(wei)</label>
                            <input type="text" class="form-control" id="inputGasPrice" (input)="onTextChange($event.target.value)" formControlName="kanbanGasPrice" placeholder="0">
                        </div>
                        <div class="form-group">
                            <label for="gasPrice" class="text-dark">Kanban Gas Limit</label>
                            <input type="text" class="form-control" id="inputGasLimit" (input)="onTextChange($event.target.value)" formControlName="kanbanGasLimit" placeholder="0">
                        </div>
                    </div>



                </div>

                <div class="modal-footer">
                    <div class="pull-left">
                        <button class="btn btn-gradient text-white" type="submit"> Confirm </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>