<button class="button btn-fixed-width" (click)="openModal(templateReceive)">{{"Receive" | translate }}</button>

<ng-template #templateReceive class="modal-bg-grey">
    <div class="modal-header text-center">
        <h4 class="modal-title w-100">{{"Receive" | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-dark">{{"Currency" | translate }}</div>
        <div class="pt-2 pb-3 w-25">
            <select class="form-control" (change)="onChange($event.target.value)">
                <option [value]="i" *ngFor="let coin of wallet.mycoins;let i = index">
                    {{coin.symbol}}
                    <span *ngIf="((coin.name == 'USDT') || (coin.name == 'FAB') || (coin.name == 'EXG') || (coin.name == 'DSC') || (coin.name == 'BST')) && coin.tokenType=='ETH'">
                        (ERC20)
                    </span>
                    <span *ngIf="((coin.name == 'USDT') || (coin.name == 'FAB') || (coin.name == 'EXG')) && coin.tokenType=='TRX'">
                        (TRC20)
                    </span>                    
                </option>
            </select>
        </div>

        <div class="text-dark">
            <div class="d-flex justify-content-between">
                <div>
                    {{"Wallet address" | translate }}
                </div>
                <div *ngIf="currentAddress.indexOf('bch') == 0">
                    <button mat-button color="primary" (click)="changeToLegacyAddress()">
                        {{'Legacy Address' | translate }} 
                    </button>
                    
                </div>
            </div>
            
        </div>
        <div>
            {{currentAddress}}
            <button mat-icon-button (click)="copyAddress()">
                <mat-icon svgIcon="copy"></mat-icon>
            </button>
        </div>

        <div class="text-center py-5">
            <qrcode [qrdata]="currentAddress" id="address_qr_code" style="display: inline-block" [size]="150" [level]="'M'"></qrcode>
            <div class="py-2">
                <a href="{{link}}" download (click)="dlDataUrlBin()">
                    <div class="d-inline-block px-1">
                        <img src="/assets/download.png">
                    </div>
                    <div class="d-inline-block px-1">
                        {{'Download QR Code' | translate}}
                    </div>
                </a>

            </div>
        </div>
    </div>
</ng-template>