<div class="container exg-bg">
    <div class="row mx-3 py-2">
        <div class="col-md-12">
            <div class="d-inline-block color-silver">
                Transactions
            </div>
        </div>
    </div>
    <div class="row" *ngIf="pageTotal">
        <div class="col-md-12 text-right align-self-right">
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(1)">
                            <mat-icon>first_page</mat-icon>
                        </button>
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(pageNum - 1)">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
            </div>
            <div class="d-inline-block">
                <p>
                    Page {{pageNum}} of {{pageTotal}}
                </p>
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(pageNum + 1)">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
            </div>
            <div class="d-inline-block">
                <div class="d-inline-block">
                    <button mat-icon-button (click)="goToPage(pageTotal)">
                                <mat-icon>last_page</mat-icon>
                            </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center py-2" *ngIf="!transactions">
        <div class="col col-12">
            no transactions.
        </div>

    </div>
    <div class="row apair header py-2" *ngIf="transactions">
        <div class="col-md-2 hand align-self-center">Txn Hash</div>
        <div class="col-md-1 align-self-center">Block</div>
        <div class="col-md-3 align-self-center">Date Time</div>
        <div class="col-md-2 align-self-center">From</div>
        <div class="col-md-2 align-self-center">To</div>
        <div class="col-md-2 align-self-center">Value</div>
    </div>
    <div class="row apair py-2" *ngFor="let transaction of transactions; let i=index">
        <div class="col-md-2 hand align-self-center">
            <a class="explorer-link" [routerLink]="['/explorer/transaction', transaction.txhash]">
            {{(transaction.txhash.length > 15) ? (transaction.txhash | slice:0:15) +'...' : transaction.txhash}}
            </a>
        </div>
        <div class="col-md-1 align-self-center">
            <a class="explorer-link" [routerLink]="['/explorer/block', transaction.block]">
                {{transaction.block}}
            </a>
        </div>
        <div class="col-md-3 align-self-center">{{transaction.timestamp_n * 1000 | date:'medium'}}</div>
        <div class="col-md-2 align-self-center">
            <a class="explorer-link" [routerLink]="['/explorer/address', transaction.from]">
                {{(transaction.from.length > 15) ? (transaction.from | slice:0:15) +'...' : transaction.from}}
            </a>
        </div>
        <div class="col-md-2 align-self-center">
            <a class="explorer-link" [routerLink]="['/explorer/address', transaction.to]">
                {{(transaction.to.length > 15) ? (transaction.to | slice:0:15) +'...' : transaction.to}}
            </a>
        </div>
        <div class="col-md-2 align-self-center">{{transaction.value / 1e18}}</div>
    </div>

    <div class="row" *ngIf="pageTotal">
        <div class="col-md-12 text-right align-self-right">
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(1)">
                    <mat-icon>first_page</mat-icon>
                </button>
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(pageNum - 1)">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div class="d-inline-block">
                <p>
                    Page {{pageNum}} of {{pageTotal}}
                </p>
            </div>
            <div class="d-inline-block">
                <button mat-icon-button (click)="goToPage(pageNum + 1)">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <div class="d-inline-block">
                <div class="d-inline-block">
                    <button mat-icon-button (click)="goToPage(pageTotal)">
                        <mat-icon>last_page</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>